<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>A_E</key>
    <string>A__E_.glif</string>
    <key>A_L</key>
    <string>A__L_.glif</string>
    <key>A_O</key>
    <string>A__O_.glif</string>
    <key>C_H</key>
    <string>C__H_.glif</string>
    <key>C_H.ss01</key>
    <string>C__H_.ss01.glif</string>
    <key>C_Q.ss01</key>
    <string>C__Q_.ss01.glif</string>
    <key>D_E</key>
    <string>D__E_.glif</string>
    <key>E_O</key>
    <string>E__O_.glif</string>
    <key>E_T.ss01</key>
    <string>E__T_.ss01.glif</string>
    <key>E_U.ss01</key>
    <string>E__U_.ss01.glif</string>
    <key>Eacute_E</key>
    <string>E_acute_E_.glif</string>
    <key>Ecircumflex_T_E</key>
    <string>E_circumflex_T__E_.glif</string>
    <key>Ecircumflex_T_E.ss01</key>
    <string>E_circumflex_T__E_.ss01.glif</string>
    <key>F_E.ss01</key>
    <string>F__E_.ss01.glif</string>
    <key>F_V</key>
    <string>F__V_.glif</string>
    <key>F_V.ss001</key>
    <string>F__V_.ss001.glif</string>
    <key>G</key>
    <string>G_.glif</string>
    <key>H_O_F</key>
    <string>H__O__F_.glif</string>
    <key>I_L</key>
    <string>I__L_.glif</string>
    <key>L_E</key>
    <string>L__E_.glif</string>
    <key>L_E.ss01</key>
    <string>L__E_.ss01.glif</string>
    <key>N_A</key>
    <string>N__A_.glif</string>
    <key>N_E.ss01</key>
    <string>N__E_.ss01.glif</string>
    <key>N_E_S</key>
    <string>N__E__S_.glif</string>
    <key>N_E_S.ss01</key>
    <string>N__E__S_.ss01.glif</string>
    <key>O_F</key>
    <string>O__F_.glif</string>
    <key>T_E.ss01</key>
    <string>T__E_.ss01.glif</string>
    <key>T_E_S</key>
    <string>T__E__S_.glif</string>
    <key>U_E</key>
    <string>U__E_.glif</string>
    <key>X_C_E</key>
    <string>X__C__E_.glif</string>
    <key>a_e</key>
    <string>a_e.glif</string>
    <key>a_l</key>
    <string>a_l.glif</string>
    <key>a_o</key>
    <string>a_o.glif</string>
    <key>acutecomb</key>
    <string>acutecomb.glif</string>
    <key>ae.sc</key>
    <string>ae.sc.glif</string>
    <key>at</key>
    <string>at.glif</string>
    <key>brevecomb</key>
    <string>brevecomb.glif</string>
    <key>c_h</key>
    <string>c_h.glif</string>
    <key>c_h_e</key>
    <string>c_h_e.glif</string>
    <key>c_q</key>
    <string>c_q.glif</string>
    <key>caroncomb</key>
    <string>caroncomb.glif</string>
    <key>caroncomb.alt</key>
    <string>caroncomb.alt.glif</string>
    <key>cedillacomb</key>
    <string>cedillacomb.glif</string>
    <key>circumflexcomb</key>
    <string>circumflexcomb.glif</string>
    <key>comma</key>
    <string>comma.glif</string>
    <key>comma.sc</key>
    <string>comma.sc.glif</string>
    <key>commaaccentcomb</key>
    <string>commaaccentcomb.glif</string>
    <key>commaturnedabovecomb</key>
    <string>commaturnedabovecomb.glif</string>
    <key>d_e</key>
    <string>d_e.glif</string>
    <key>daggerdbl</key>
    <string>daggerdbl.glif</string>
    <key>dieresiscomb</key>
    <string>dieresiscomb.glif</string>
    <key>divide</key>
    <string>divide.glif</string>
    <key>dotaccentcomb</key>
    <string>dotaccentcomb.glif</string>
    <key>e_a</key>
    <string>e_a.glif</string>
    <key>e_o</key>
    <string>e_o.glif</string>
    <key>e_s</key>
    <string>e_s.glif</string>
    <key>e_s.ss01</key>
    <string>e_s.ss01.glif</string>
    <key>e_s.ss02</key>
    <string>e_s.ss02.glif</string>
    <key>eacute_e</key>
    <string>eacute_e.glif</string>
    <key>ecircumflex_t_e</key>
    <string>ecircumflex_t_e.glif</string>
    <key>f_e</key>
    <string>f_e.glif</string>
    <key>f_f_e</key>
    <string>f_f_e.glif</string>
    <key>f_f_e.ss01</key>
    <string>f_f_e.ss01.glif</string>
    <key>f_v</key>
    <string>f_v.glif</string>
    <key>gravecomb</key>
    <string>gravecomb.glif</string>
    <key>h_o_f</key>
    <string>h_o_f.glif</string>
    <key>hungarumlautcomb</key>
    <string>hungarumlautcomb.glif</string>
    <key>i_e</key>
    <string>i_e.glif</string>
    <key>i_e.ss01</key>
    <string>i_e.ss01.glif</string>
    <key>i_l</key>
    <string>i_l.glif</string>
    <key>i_l.ss01</key>
    <string>i_l.ss01.glif</string>
    <key>infinity</key>
    <string>infinity.glif</string>
    <key>l_l.ss01</key>
    <string>l_l.ss01.glif</string>
    <key>l_l_e</key>
    <string>l_l_e.glif</string>
    <key>l_u</key>
    <string>l_u.glif</string>
    <key>m_p</key>
    <string>m_p.glif</string>
    <key>macroncomb</key>
    <string>macroncomb.glif</string>
    <key>n_a</key>
    <string>n_a.glif</string>
    <key>n_e</key>
    <string>n_e.glif</string>
    <key>n_e.ss01</key>
    <string>n_e.ss01.glif</string>
    <key>n_e_s</key>
    <string>n_e_s.glif</string>
    <key>n_e_s.ss01</key>
    <string>n_e_s.ss01.glif</string>
    <key>n_n</key>
    <string>n_n.glif</string>
    <key>n_n_e.ss01</key>
    <string>n_n_e.ss01.glif</string>
    <key>n_n_e_s</key>
    <string>n_n_e_s.glif</string>
    <key>n_n_e_s.ss01</key>
    <string>n_n_e_s.ss01.glif</string>
    <key>n_x</key>
    <string>n_x.glif</string>
    <key>nine</key>
    <string>nine.glif</string>
    <key>nine.lf</key>
    <string>nine.lf.glif</string>
    <key>nine.sups</key>
    <string>nine.sups.glif</string>
    <key>nine.tf</key>
    <string>nine.tf.glif</string>
    <key>o.sups</key>
    <string>o.sups.glif</string>
    <key>o_f</key>
    <string>o_f.glif</string>
    <key>o_n_a</key>
    <string>o_n_a.glif</string>
    <key>ogonekcomb</key>
    <string>ogonekcomb.glif</string>
    <key>one.sc</key>
    <string>one.sc.glif</string>
    <key>p_e</key>
    <string>p_e.glif</string>
    <key>p_m</key>
    <string>p_m.glif</string>
    <key>q.sc</key>
    <string>q.sc.glif</string>
    <key>quoteright</key>
    <string>quoteright.glif</string>
    <key>r_e.ss01</key>
    <string>r_e.ss01.glif</string>
    <key>r_e.ss02</key>
    <string>r_e.ss02.glif</string>
    <key>r_egrave</key>
    <string>r_egrave.glif</string>
    <key>r_i</key>
    <string>r_i.glif</string>
    <key>r_s.ss01</key>
    <string>r_s.ss01.glif</string>
    <key>r_s_e.ss01</key>
    <string>r_s_e.ss01.glif</string>
    <key>r_x</key>
    <string>r_x.glif</string>
    <key>r_x_s</key>
    <string>r_x_s.glif</string>
    <key>r_x_s_e</key>
    <string>r_x_s_e.glif</string>
    <key>ringcomb</key>
    <string>ringcomb.glif</string>
    <key>s_e.ss01</key>
    <string>s_e.ss01.glif</string>
    <key>s_t</key>
    <string>s_t.glif</string>
    <key>s_t.ss01</key>
    <string>s_t.ss01.glif</string>
    <key>s_t_e</key>
    <string>s_t_e.glif</string>
    <key>s_t_e.ss01</key>
    <string>s_t_e.ss01.glif</string>
    <key>s_t_e_s.ss01</key>
    <string>s_t_e_s.ss01.glif</string>
    <key>six.lf</key>
    <string>six.lf.glif</string>
    <key>six.sups</key>
    <string>six.sups.glif</string>
    <key>six.tf</key>
    <string>six.tf.glif</string>
    <key>slashlongcomb</key>
    <string>slashlongcomb.glif</string>
    <key>slashshortcomb</key>
    <string>slashshortcomb.glif</string>
    <key>sterling</key>
    <string>sterling.glif</string>
    <key>sterling.tf</key>
    <string>sterling.tf.glif</string>
    <key>strokelongcomb</key>
    <string>strokelongcomb.glif</string>
    <key>strokeshortcomb</key>
    <string>strokeshortcomb.glif</string>
    <key>t_e</key>
    <string>t_e.glif</string>
    <key>t_e.ss01</key>
    <string>t_e.ss01.glif</string>
    <key>t_e_s</key>
    <string>t_e_s.glif</string>
    <key>t_e_s.ss01</key>
    <string>t_e_s.ss01.glif</string>
    <key>t_egrave</key>
    <string>t_egrave.glif</string>
    <key>t_t_e</key>
    <string>t_t_e.glif</string>
    <key>tildecomb</key>
    <string>tildecomb.glif</string>
    <key>u_e</key>
    <string>u_e.glif</string>
    <key>u_e.ss01</key>
    <string>u_e.ss01.glif</string>
    <key>u_i_l</key>
    <string>u_i_l.glif</string>
    <key>u_l</key>
    <string>u_l.glif</string>
    <key>u_l_l</key>
    <string>u_l_l.glif</string>
    <key>u_l_l.ss01</key>
    <string>u_l_l.ss01.glif</string>
    <key>u_l_l_e.ss01</key>
    <string>u_l_l_e.ss01.glif</string>
    <key>u_n_e</key>
    <string>u_n_e.glif</string>
    <key>w</key>
    <string>w.glif</string>
    <key>x_l</key>
    <string>x_l.glif</string>
    <key>x_l_l</key>
    <string>x_l_l.glif</string>
    <key>x_s.ss01</key>
    <string>x_s.ss01.glif</string>
    <key>x_s_e</key>
    <string>x_s_e.glif</string>
    <key>x_s_e.ss01</key>
    <string>x_s_e.ss01.glif</string>
    <key>x_s_e.ss02</key>
    <string>x_s_e.ss02.glif</string>
    <key>x_s_e_s</key>
    <string>x_s_e_s.glif</string>
    <key>x_s_e_s.ss01</key>
    <string>x_s_e_s.ss01.glif</string>
    <key>x_s_e_s.ss02</key>
    <string>x_s_e_s.ss02.glif</string>
    <key>xnb</key>
    <string>xnb.glif</string>
  </dict>
</plist>
