<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>A_E</key>
	<string>A__E_.glif</string>
	<key>A_L</key>
	<string>A__L_.glif</string>
	<key>A_O</key>
	<string>A__O_.glif</string>
	<key>C_H</key>
	<string>C__H_.glif</string>
	<key>C_H.ss01</key>
	<string>C__H_.ss01.glif</string>
	<key>C_Q</key>
	<string>C__Q_.glif</string>
	<key>C_Q.ss01</key>
	<string>C__Q_.ss01.glif</string>
	<key>D_E</key>
	<string>D__E_.glif</string>
	<key>E_A</key>
	<string>E__A_.glif</string>
	<key>E_O</key>
	<string>E__O_.glif</string>
	<key>E_S</key>
	<string>E__S_.glif</string>
	<key>E_T</key>
	<string>E__T_.glif</string>
	<key>E_T.ss01</key>
	<string>E__T_.ss01.glif</string>
	<key>E_U</key>
	<string>E__U_.glif</string>
	<key>E_U.ss01</key>
	<string>E__U_.ss01.glif</string>
	<key>Eacute_E</key>
	<string>E_acute_E_.glif</string>
	<key>Ecircumflex_T_E</key>
	<string>E_circumflex_T__E_.glif</string>
	<key>Ecircumflex_T_E.ss01</key>
	<string>E_circumflex_T__E_.ss01.glif</string>
	<key>F_E</key>
	<string>F__E_.glif</string>
	<key>F_E.ss01</key>
	<string>F__E_.ss01.glif</string>
	<key>F_V</key>
	<string>F__V_.glif</string>
	<key>F_V.ss001</key>
	<string>F__V_.ss001.glif</string>
	<key>H_O_F</key>
	<string>H__O__F_.glif</string>
	<key>I_E</key>
	<string>I__E_.glif</string>
	<key>I_L</key>
	<string>I__L_.glif</string>
	<key>L_E</key>
	<string>L__E_.glif</string>
	<key>L_E.ss01</key>
	<string>L__E_.ss01.glif</string>
	<key>L_L</key>
	<string>L__L_.glif</string>
	<key>L_L_E</key>
	<string>L__L__E_.glif</string>
	<key>L_U</key>
	<string>L__U_.glif</string>
	<key>M_P</key>
	<string>M__P_.glif</string>
	<key>N_A</key>
	<string>N__A_.glif</string>
	<key>N_E</key>
	<string>N__E_.glif</string>
	<key>N_E.ss01</key>
	<string>N__E_.ss01.glif</string>
	<key>N_E_S</key>
	<string>N__E__S_.glif</string>
	<key>N_E_S.ss01</key>
	<string>N__E__S_.ss01.glif</string>
	<key>O_F</key>
	<string>O__F_.glif</string>
	<key>R_S_E</key>
	<string>R__S__E_.glif</string>
	<key>T_E</key>
	<string>T__E_.glif</string>
	<key>T_E.ss01</key>
	<string>T__E_.ss01.glif</string>
	<key>T_E_S</key>
	<string>T__E__S_.glif</string>
	<key>U_E</key>
	<string>U__E_.glif</string>
	<key>X_S</key>
	<string>X__S_.glif</string>
	<key>Xnb</key>
	<string>X_nb.glif</string>
	<key>a_e</key>
	<string>a_e.glif</string>
	<key>a_l</key>
	<string>a_l.glif</string>
	<key>a_o</key>
	<string>a_o.glif</string>
	<key>c_h</key>
	<string>c_h.glif</string>
	<key>c_q</key>
	<string>c_q.glif</string>
	<key>d_e</key>
	<string>d_e.glif</string>
	<key>e_a</key>
	<string>e_a.glif</string>
	<key>e_o</key>
	<string>e_o.glif</string>
	<key>e_s</key>
	<string>e_s.glif</string>
	<key>e_s.ss01</key>
	<string>e_s.ss01.glif</string>
	<key>e_s.ss02</key>
	<string>e_s.ss02.glif</string>
	<key>e_u</key>
	<string>e_u.glif</string>
	<key>eacute_e</key>
	<string>eacute_e.glif</string>
	<key>ecircumflex_t_e</key>
	<string>ecircumflex_t_e.glif</string>
	<key>f_e</key>
	<string>f_e.glif</string>
	<key>f_e.ss01</key>
	<string>f_e.ss01.glif</string>
	<key>f_f_e</key>
	<string>f_f_e.glif</string>
	<key>f_v</key>
	<string>f_v.glif</string>
	<key>h_o_f</key>
	<string>h_o_f.glif</string>
	<key>i_e</key>
	<string>i_e.glif</string>
	<key>i_e.ss01</key>
	<string>i_e.ss01.glif</string>
	<key>i_l</key>
	<string>i_l.glif</string>
	<key>i_l.ss01</key>
	<string>i_l.ss01.glif</string>
	<key>l_e</key>
	<string>l_e.glif</string>
	<key>l_e.ss01</key>
	<string>l_e.ss01.glif</string>
	<key>l_l</key>
	<string>l_l.glif</string>
	<key>l_l.ss01</key>
	<string>l_l.ss01.glif</string>
	<key>l_l_e</key>
	<string>l_l_e.glif</string>
	<key>l_u</key>
	<string>l_u.glif</string>
	<key>m_p</key>
	<string>m_p.glif</string>
	<key>n_a</key>
	<string>n_a.glif</string>
	<key>n_e</key>
	<string>n_e.glif</string>
	<key>n_e_s</key>
	<string>n_e_s.glif</string>
	<key>n_e_s.ss01</key>
	<string>n_e_s.ss01.glif</string>
	<key>n_n</key>
	<string>n_n.glif</string>
	<key>n_n_e</key>
	<string>n_n_e.glif</string>
	<key>n_n_e.ss01</key>
	<string>n_n_e.ss01.glif</string>
	<key>n_n_e_s</key>
	<string>n_n_e_s.glif</string>
	<key>n_n_e_s.ss01</key>
	<string>n_n_e_s.ss01.glif</string>
	<key>n_x</key>
	<string>n_x.glif</string>
	<key>o_f</key>
	<string>o_f.glif</string>
	<key>o_idieresis</key>
	<string>o_idieresis.glif</string>
	<key>o_n_a</key>
	<string>o_n_a.glif</string>
	<key>o_t</key>
	<string>o_t.glif</string>
	<key>p_m</key>
	<string>p_m.glif</string>
	<key>r_e</key>
	<string>r_e.glif</string>
	<key>r_e.ss01</key>
	<string>r_e.ss01.glif</string>
	<key>r_e.ss02</key>
	<string>r_e.ss02.glif</string>
	<key>r_egrave</key>
	<string>r_egrave.glif</string>
	<key>r_i</key>
	<string>r_i.glif</string>
	<key>r_i_c_e</key>
	<string>r_i_c_e.glif</string>
	<key>r_s</key>
	<string>r_s.glif</string>
	<key>r_s.ss01</key>
	<string>r_s.ss01.glif</string>
	<key>r_s_e</key>
	<string>r_s_e.glif</string>
	<key>r_s_e.ss01</key>
	<string>r_s_e.ss01.glif</string>
	<key>r_x</key>
	<string>r_x.glif</string>
	<key>r_x_s</key>
	<string>r_x_s.glif</string>
	<key>r_x_s_e</key>
	<string>r_x_s_e.glif</string>
	<key>s_c</key>
	<string>s_c.glif</string>
	<key>s_e</key>
	<string>s_e.glif</string>
	<key>s_e.ss01</key>
	<string>s_e.ss01.glif</string>
	<key>s_l</key>
	<string>s_l.glif</string>
	<key>s_s_e</key>
	<string>s_s_e.glif</string>
	<key>s_t</key>
	<string>s_t.glif</string>
	<key>s_t.ss01</key>
	<string>s_t.ss01.glif</string>
	<key>s_t_e</key>
	<string>s_t_e.glif</string>
	<key>s_t_e.ss01</key>
	<string>s_t_e.ss01.glif</string>
	<key>s_t_e_s</key>
	<string>s_t_e_s.glif</string>
	<key>s_t_e_s.ss01</key>
	<string>s_t_e_s.ss01.glif</string>
	<key>t_e</key>
	<string>t_e.glif</string>
	<key>t_e.ss01</key>
	<string>t_e.ss01.glif</string>
	<key>t_e_s</key>
	<string>t_e_s.glif</string>
	<key>t_e_s.ss01</key>
	<string>t_e_s.ss01.glif</string>
	<key>t_egrave</key>
	<string>t_egrave.glif</string>
	<key>t_t_e</key>
	<string>t_t_e.glif</string>
	<key>u_e</key>
	<string>u_e.glif</string>
	<key>u_i_l</key>
	<string>u_i_l.glif</string>
	<key>u_l</key>
	<string>u_l.glif</string>
	<key>u_l_l</key>
	<string>u_l_l.glif</string>
	<key>u_l_l.ss01</key>
	<string>u_l_l.ss01.glif</string>
	<key>u_l_l_e</key>
	<string>u_l_l_e.glif</string>
	<key>u_l_l_e.ss01</key>
	<string>u_l_l_e.ss01.glif</string>
	<key>u_n_e</key>
	<string>u_n_e.glif</string>
	<key>x_c</key>
	<string>x_c.glif</string>
	<key>x_l</key>
	<string>x_l.glif</string>
	<key>x_l_e</key>
	<string>x_l_e.glif</string>
	<key>x_l_l</key>
	<string>x_l_l.glif</string>
	<key>x_l_l_e</key>
	<string>x_l_l_e.glif</string>
	<key>x_s</key>
	<string>x_s.glif</string>
	<key>x_s.ss01</key>
	<string>x_s.ss01.glif</string>
	<key>x_s_e</key>
	<string>x_s_e.glif</string>
	<key>x_s_e.ss01</key>
	<string>x_s_e.ss01.glif</string>
	<key>x_s_e.ss02</key>
	<string>x_s_e.ss02.glif</string>
	<key>x_s_e_s</key>
	<string>x_s_e_s.glif</string>
	<key>x_s_e_s.ss01</key>
	<string>x_s_e_s.ss01.glif</string>
	<key>x_s_e_s.ss02</key>
	<string>x_s_e_s.ss02.glif</string>
	<key>x_s_s</key>
	<string>x_s_s.glif</string>
	<key>xnb</key>
	<string>xnb.glif</string>
</dict>
</plist>
