<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>e.sups</key>
    <dict>
      <key>public.kern2.l</key>
      <integer>0</integer>
    </dict>
    <key>five.lf</key>
    <dict>
      <key>public.kern2.four.lf.001</key>
      <integer>-13</integer>
    </dict>
    <key>fraction</key>
    <dict>
      <key>onehalf</key>
      <integer>0</integer>
      <key>space</key>
      <integer>0</integer>
    </dict>
    <key>nine</key>
    <dict>
      <key>five</key>
      <integer>0</integer>
      <key>public.kern2.A</key>
      <integer>0</integer>
    </dict>
    <key>onehalf</key>
    <dict>
      <key>one.dnom</key>
      <integer>0</integer>
    </dict>
    <key>parenleft</key>
    <dict>
      <key>public.kern2.O</key>
      <integer>-20</integer>
    </dict>
    <key>periodcentered</key>
    <dict>
      <key>public.kern2.o</key>
      <integer>0</integer>
    </dict>
    <key>public.kern1.A</key>
    <dict>
      <key>public.kern2.O</key>
      <integer>-35</integer>
      <key>public.kern2.T</key>
      <integer>-55</integer>
      <key>public.kern2.U</key>
      <integer>-40</integer>
      <key>public.kern2.V</key>
      <integer>-100</integer>
      <key>public.kern2.Y</key>
      <integer>-90</integer>
      <key>public.kern2.hyphen</key>
      <integer>-30</integer>
      <key>public.kern2.quote</key>
      <integer>-80</integer>
      <key>public.kern2.v</key>
      <integer>-40</integer>
      <key>public.kern2.zero.lf</key>
      <integer>-15</integer>
      <key>space</key>
      <integer>-20</integer>
    </dict>
    <key>public.kern1.B</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-20</integer>
      <key>public.kern2.Germandbls</key>
      <integer>-20</integer>
      <key>public.kern2.V</key>
      <integer>-15</integer>
      <key>public.kern2.Y</key>
      <integer>-30</integer>
      <key>public.kern2.parent</key>
      <integer>-30</integer>
      <key>public.kern2.period</key>
      <integer>-20</integer>
      <key>public.kern2.u</key>
      <integer>-20</integer>
      <key>public.kern2.v</key>
      <integer>-10</integer>
    </dict>
    <key>public.kern1.C</key>
    <dict>
      <key>public.kern2.H</key>
      <integer>0</integer>
    </dict>
    <key>public.kern1.F</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-65</integer>
      <key>public.kern2.T</key>
      <integer>20</integer>
      <key>public.kern2.Y</key>
      <integer>30</integer>
      <key>public.kern2.a</key>
      <integer>-40</integer>
      <key>public.kern2.a.sc</key>
      <integer>-40</integer>
      <key>public.kern2.b</key>
      <integer>50</integer>
      <key>public.kern2.g</key>
      <integer>-70</integer>
      <key>public.kern2.hyphen</key>
      <integer>-30</integer>
      <key>public.kern2.l</key>
      <integer>-10</integer>
      <key>public.kern2.n</key>
      <integer>-40</integer>
      <key>public.kern2.o</key>
      <integer>-50</integer>
      <key>public.kern2.period</key>
      <integer>-100</integer>
      <key>public.kern2.s</key>
      <integer>-50</integer>
      <key>public.kern2.t</key>
      <integer>-30</integer>
      <key>public.kern2.v</key>
      <integer>-40</integer>
    </dict>
    <key>public.kern1.G</key>
    <dict>
      <key>public.kern2.H</key>
      <integer>-12</integer>
      <key>public.kern2.T</key>
      <integer>-20</integer>
      <key>public.kern2.V</key>
      <integer>-10</integer>
      <key>public.kern2.Y</key>
      <integer>-20</integer>
    </dict>
    <key>public.kern1.Germandbls</key>
    <dict>
      <key>backslash</key>
      <integer>-90</integer>
      <key>public.kern2.J</key>
      <integer>30</integer>
      <key>public.kern2.M</key>
      <integer>0</integer>
      <key>public.kern2.O</key>
      <integer>20</integer>
      <key>public.kern2.V</key>
      <integer>-25</integer>
      <key>public.kern2.X</key>
      <integer>-20</integer>
      <key>public.kern2.Y</key>
      <integer>-20</integer>
      <key>public.kern2.o</key>
      <integer>20</integer>
      <key>public.kern2.o.sc</key>
      <integer>10</integer>
      <key>public.kern2.period</key>
      <integer>-10</integer>
    </dict>
    <key>public.kern1.H</key>
    <dict>
      <key>public.kern2.H</key>
      <integer>0</integer>
      <key>public.kern2.O</key>
      <integer>0</integer>
      <key>public.kern2.o</key>
      <integer>-20</integer>
      <key>public.kern2.u</key>
      <integer>-20</integer>
    </dict>
    <key>public.kern1.J</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-20</integer>
      <key>public.kern2.Germandbls</key>
      <integer>-30</integer>
      <key>public.kern2.J</key>
      <integer>-10</integer>
      <key>public.kern2.period</key>
      <integer>-100</integer>
    </dict>
    <key>public.kern1.K</key>
    <dict>
      <key>public.kern2.O</key>
      <integer>-20</integer>
      <key>public.kern2.T</key>
      <integer>-20</integer>
      <key>public.kern2.hyphen</key>
      <integer>-40</integer>
      <key>public.kern2.o</key>
      <integer>-10</integer>
      <key>public.kern2.u</key>
      <integer>-30</integer>
      <key>public.kern2.v</key>
      <integer>-40</integer>
    </dict>
    <key>public.kern1.L</key>
    <dict>
      <key>public.kern2.T</key>
      <integer>-45</integer>
      <key>public.kern2.U</key>
      <integer>-45</integer>
      <key>public.kern2.V</key>
      <integer>-50</integer>
      <key>public.kern2.Y</key>
      <integer>-80</integer>
      <key>public.kern2.quote</key>
      <integer>-70</integer>
      <key>public.kern2.u</key>
      <integer>-20</integer>
    </dict>
    <key>public.kern1.N</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-40</integer>
      <key>public.kern2.Germandbls</key>
      <integer>-20</integer>
      <key>public.kern2.O</key>
      <integer>-10</integer>
      <key>public.kern2.a.sc</key>
      <integer>-20</integer>
      <key>public.kern2.o</key>
      <integer>-20</integer>
      <key>public.kern2.period</key>
      <integer>-50</integer>
      <key>public.kern2.u</key>
      <integer>-20</integer>
    </dict>
    <key>public.kern1.O</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-55</integer>
      <key>public.kern2.Germandbls</key>
      <integer>-40</integer>
      <key>public.kern2.H</key>
      <integer>-20</integer>
      <key>public.kern2.J</key>
      <integer>-10</integer>
      <key>public.kern2.M</key>
      <integer>-40</integer>
      <key>public.kern2.V</key>
      <integer>-30</integer>
      <key>public.kern2.X</key>
      <integer>-30</integer>
      <key>public.kern2.Y</key>
      <integer>-25</integer>
      <key>public.kern2.parent</key>
      <integer>-40</integer>
      <key>public.kern2.period</key>
      <integer>-60</integer>
    </dict>
    <key>public.kern1.P</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-70</integer>
      <key>public.kern2.Germandbls</key>
      <integer>0</integer>
      <key>public.kern2.J</key>
      <integer>-40</integer>
      <key>public.kern2.O</key>
      <integer>30</integer>
      <key>public.kern2.a.sc</key>
      <integer>-50</integer>
      <key>public.kern2.o</key>
      <integer>-20</integer>
      <key>public.kern2.parent</key>
      <integer>-20</integer>
      <key>public.kern2.period</key>
      <integer>-140</integer>
    </dict>
    <key>public.kern1.R</key>
    <dict>
      <key>public.kern2.O</key>
      <integer>-10</integer>
      <key>public.kern2.T</key>
      <integer>-10</integer>
      <key>public.kern2.U</key>
      <integer>-15</integer>
      <key>public.kern2.V</key>
      <integer>-30</integer>
      <key>public.kern2.Y</key>
      <integer>-50</integer>
      <key>public.kern2.parent</key>
      <integer>-30</integer>
      <key>public.kern2.u</key>
      <integer>-20</integer>
    </dict>
    <key>public.kern1.S</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-20</integer>
      <key>public.kern2.Germandbls</key>
      <integer>-20</integer>
      <key>public.kern2.S</key>
      <integer>-20</integer>
    </dict>
    <key>public.kern1.T</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-55</integer>
      <key>public.kern2.J</key>
      <integer>-15</integer>
      <key>public.kern2.Y</key>
      <integer>10</integer>
      <key>public.kern2.a</key>
      <integer>-30</integer>
      <key>public.kern2.a.sc</key>
      <integer>-30</integer>
      <key>public.kern2.hyphen</key>
      <integer>-70</integer>
      <key>public.kern2.o</key>
      <integer>-49</integer>
      <key>public.kern2.period</key>
      <integer>-100</integer>
      <key>public.kern2.u</key>
      <integer>-30</integer>
      <key>public.kern2.v</key>
      <integer>-40</integer>
      <key>space</key>
      <integer>-20</integer>
    </dict>
    <key>public.kern1.U</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-50</integer>
      <key>public.kern2.Germandbls</key>
      <integer>-20</integer>
      <key>public.kern2.period</key>
      <integer>-80</integer>
      <key>public.kern2.s</key>
      <integer>-10</integer>
    </dict>
    <key>public.kern1.V</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-125</integer>
      <key>public.kern2.AE</key>
      <integer>-200</integer>
      <key>public.kern2.AE.sc</key>
      <integer>-100</integer>
      <key>public.kern2.Germandbls</key>
      <integer>-60</integer>
      <key>public.kern2.O</key>
      <integer>-40</integer>
      <key>public.kern2.a</key>
      <integer>-50</integer>
      <key>public.kern2.a.sc</key>
      <integer>-70</integer>
      <key>public.kern2.hyphen</key>
      <integer>-40</integer>
      <key>public.kern2.n</key>
      <integer>-60</integer>
      <key>public.kern2.o</key>
      <integer>-70</integer>
      <key>public.kern2.period</key>
      <integer>-150</integer>
      <key>public.kern2.s</key>
      <integer>-60</integer>
      <key>public.kern2.t</key>
      <integer>-40</integer>
      <key>public.kern2.u</key>
      <integer>-30</integer>
      <key>public.kern2.v</key>
      <integer>-30</integer>
      <key>space</key>
      <integer>-30</integer>
    </dict>
    <key>public.kern1.X</key>
    <dict>
      <key>public.kern2.O</key>
      <integer>-30</integer>
      <key>public.kern2.hyphen</key>
      <integer>-30</integer>
      <key>public.kern2.o</key>
      <integer>-19</integer>
      <key>public.kern2.v</key>
      <integer>-40</integer>
    </dict>
    <key>public.kern1.Y</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-90</integer>
      <key>public.kern2.Germandbls</key>
      <integer>-60</integer>
      <key>public.kern2.O</key>
      <integer>-35</integer>
      <key>public.kern2.T</key>
      <integer>10</integer>
      <key>public.kern2.a</key>
      <integer>-80</integer>
      <key>public.kern2.a.sc</key>
      <integer>-60</integer>
      <key>public.kern2.hyphen</key>
      <integer>-60</integer>
      <key>public.kern2.n</key>
      <integer>-60</integer>
      <key>public.kern2.o</key>
      <integer>-90</integer>
      <key>public.kern2.p</key>
      <integer>-30</integer>
      <key>public.kern2.period</key>
      <integer>-130</integer>
      <key>public.kern2.s</key>
      <integer>-60</integer>
      <key>public.kern2.u</key>
      <integer>-30</integer>
      <key>public.kern2.v</key>
      <integer>-30</integer>
      <key>public.kern2.z</key>
      <integer>-40</integer>
      <key>space</key>
      <integer>-30</integer>
    </dict>
    <key>public.kern1.a</key>
    <dict>
      <key>public.kern2.b</key>
      <integer>-20</integer>
      <key>public.kern2.parent</key>
      <integer>-20</integer>
      <key>public.kern2.s</key>
      <integer>0</integer>
      <key>public.kern2.u</key>
      <integer>-20</integer>
      <key>public.kern2.v</key>
      <integer>-10</integer>
    </dict>
    <key>public.kern1.a.001</key>
    <dict>
      <key>public.kern2.s.001</key>
      <integer>0</integer>
    </dict>
    <key>public.kern1.a.sc</key>
    <dict>
      <key>public.kern2.T</key>
      <integer>-30</integer>
      <key>public.kern2.V</key>
      <integer>-50</integer>
      <key>public.kern2.Y</key>
      <integer>-40</integer>
    </dict>
    <key>public.kern1.caron</key>
    <dict>
      <key>public.kern2.l</key>
      <integer>82</integer>
      <key>public.kern2.parent</key>
      <integer>60</integer>
    </dict>
    <key>public.kern1.f</key>
    <dict>
      <key>asterisk</key>
      <integer>50</integer>
      <key>public.kern2.a</key>
      <integer>-20</integer>
      <key>public.kern2.hyphen</key>
      <integer>-30</integer>
      <key>public.kern2.o</key>
      <integer>-20</integer>
      <key>public.kern2.parent</key>
      <integer>40</integer>
      <key>public.kern2.period</key>
      <integer>-30</integer>
      <key>public.kern2.quote</key>
      <integer>70</integer>
    </dict>
    <key>public.kern1.four.lf</key>
    <dict>
      <key>public.kern2.quote</key>
      <integer>-20</integer>
    </dict>
    <key>public.kern1.four.lf.001</key>
    <dict>
      <key>public.kern2.one.lf.001</key>
      <integer>0</integer>
      <key>public.kern2.seven.lf.001</key>
      <integer>-6</integer>
      <key>public.kern2.three.lf.001</key>
      <integer>-19</integer>
    </dict>
    <key>public.kern1.g</key>
    <dict>
      <key>public.kern2.o</key>
      <integer>-20</integer>
      <key>public.kern2.parent</key>
      <integer>-20</integer>
    </dict>
    <key>public.kern1.hyphen</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-30</integer>
      <key>public.kern2.T</key>
      <integer>-70</integer>
      <key>public.kern2.V</key>
      <integer>-30</integer>
      <key>public.kern2.X</key>
      <integer>-30</integer>
      <key>public.kern2.Y</key>
      <integer>-60</integer>
      <key>public.kern2.v</key>
      <integer>-10</integer>
      <key>public.kern2.x</key>
      <integer>-20</integer>
    </dict>
    <key>public.kern1.k</key>
    <dict>
      <key>public.kern2.a</key>
      <integer>-10</integer>
      <key>public.kern2.hyphen</key>
      <integer>-30</integer>
      <key>public.kern2.o</key>
      <integer>-20</integer>
      <key>public.kern2.parent</key>
      <integer>-30</integer>
    </dict>
    <key>public.kern1.l</key>
    <dict>
      <key>public.kern2.g</key>
      <integer>0</integer>
      <key>public.kern2.n</key>
      <integer>0</integer>
    </dict>
    <key>public.kern1.l.001</key>
    <dict>
      <key>public.kern2.n.001</key>
      <integer>0</integer>
    </dict>
    <key>public.kern1.n</key>
    <dict>
      <key>public.kern2.V</key>
      <integer>-60</integer>
      <key>public.kern2.Y</key>
      <integer>-50</integer>
      <key>public.kern2.b</key>
      <integer>-20</integer>
      <key>public.kern2.l</key>
      <integer>0</integer>
      <key>public.kern2.parent</key>
      <integer>-20</integer>
      <key>public.kern2.t</key>
      <integer>-10</integer>
      <key>public.kern2.u</key>
      <integer>0</integer>
      <key>public.kern2.v</key>
      <integer>-20</integer>
    </dict>
    <key>public.kern1.n.001</key>
    <dict>
      <key>public.kern2.l.001</key>
      <integer>0</integer>
      <key>public.kern2.t.001</key>
      <integer>-8</integer>
    </dict>
    <key>public.kern1.o</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-25</integer>
      <key>public.kern2.T</key>
      <integer>-20</integer>
      <key>public.kern2.V</key>
      <integer>-40</integer>
      <key>public.kern2.Y</key>
      <integer>-60</integer>
      <key>public.kern2.b</key>
      <integer>-10</integer>
      <key>public.kern2.n</key>
      <integer>0</integer>
      <key>public.kern2.parent</key>
      <integer>-40</integer>
      <key>public.kern2.quote</key>
      <integer>-20</integer>
      <key>public.kern2.v</key>
      <integer>0</integer>
      <key>public.kern2.x</key>
      <integer>-10</integer>
    </dict>
    <key>public.kern1.o.001</key>
    <dict>
      <key>public.kern2.n.001</key>
      <integer>0</integer>
    </dict>
    <key>public.kern1.o.sc</key>
    <dict>
      <key>public.kern2.parent</key>
      <integer>-60</integer>
    </dict>
    <key>public.kern1.one.lf.001</key>
    <dict>
      <key>public.kern2.four.lf.001</key>
      <integer>-26</integer>
      <key>public.kern2.one.lf.001</key>
      <integer>0</integer>
    </dict>
    <key>public.kern1.parent</key>
    <dict>
      <key>public.kern2.o</key>
      <integer>-20</integer>
      <key>public.kern2.parent</key>
      <integer>0</integer>
    </dict>
    <key>public.kern1.period</key>
    <dict>
      <key>public.kern2.H</key>
      <integer>-20</integer>
      <key>public.kern2.O</key>
      <integer>-60</integer>
      <key>public.kern2.T</key>
      <integer>-100</integer>
      <key>public.kern2.U</key>
      <integer>-70</integer>
      <key>public.kern2.V</key>
      <integer>-140</integer>
      <key>public.kern2.Y</key>
      <integer>-110</integer>
      <key>public.kern2.v</key>
      <integer>-60</integer>
    </dict>
    <key>public.kern1.quote</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-110</integer>
      <key>public.kern2.Germandbls</key>
      <integer>-20</integer>
      <key>public.kern2.a</key>
      <integer>-30</integer>
      <key>public.kern2.a.sc</key>
      <integer>-70</integer>
      <key>public.kern2.four.lf</key>
      <integer>-30</integer>
      <key>public.kern2.o</key>
      <integer>-30</integer>
    </dict>
    <key>public.kern1.r</key>
    <dict>
      <key>periodcentered</key>
      <integer>-30</integer>
      <key>public.kern2.a</key>
      <integer>-10</integer>
      <key>public.kern2.o</key>
      <integer>-10</integer>
      <key>public.kern2.parent</key>
      <integer>0</integer>
      <key>public.kern2.period</key>
      <integer>-50</integer>
      <key>public.kern2.v</key>
      <integer>40</integer>
      <key>public.kern2.x</key>
      <integer>30</integer>
    </dict>
    <key>public.kern1.r.001</key>
    <dict>
      <key>public.kern2.a.001</key>
      <integer>-8</integer>
      <key>public.kern2.o.001</key>
      <integer>-8</integer>
    </dict>
    <key>public.kern1.s</key>
    <dict>
      <key>public.kern2.a</key>
      <integer>-10</integer>
      <key>public.kern2.l</key>
      <integer>-7</integer>
      <key>public.kern2.parent</key>
      <integer>-20</integer>
      <key>public.kern2.s</key>
      <integer>-30</integer>
    </dict>
    <key>public.kern1.s.001</key>
    <dict>
      <key>public.kern2.a.001</key>
      <integer>-8</integer>
      <key>public.kern2.l.001</key>
      <integer>-6</integer>
      <key>public.kern2.s.001</key>
      <integer>-25</integer>
    </dict>
    <key>public.kern1.seven.lf.001</key>
    <dict>
      <key>five.lf</key>
      <integer>-13</integer>
      <key>public.kern2.three.lf.001</key>
      <integer>-13</integer>
      <key>public.kern2.zero.lf.001</key>
      <integer>-13</integer>
    </dict>
    <key>public.kern1.six.lf.001</key>
    <dict>
      <key>public.kern2.seven.lf.001</key>
      <integer>-10</integer>
    </dict>
    <key>public.kern1.slash</key>
    <dict>
      <key>public.kern2.four.dnom</key>
      <integer>-50</integer>
    </dict>
    <key>public.kern1.sups</key>
    <dict>
      <key>e.sups</key>
      <integer>0</integer>
    </dict>
    <key>public.kern1.t</key>
    <dict>
      <key>periodcentered</key>
      <integer>-40</integer>
      <key>public.kern2.a</key>
      <integer>-10</integer>
      <key>public.kern2.hyphen</key>
      <integer>-20</integer>
      <key>public.kern2.o</key>
      <integer>-10</integer>
      <key>public.kern2.t</key>
      <integer>-30</integer>
    </dict>
    <key>public.kern1.t.001</key>
    <dict>
      <key>public.kern2.a.001</key>
      <integer>-8</integer>
      <key>public.kern2.o.001</key>
      <integer>-8</integer>
      <key>public.kern2.t.001</key>
      <integer>-25</integer>
    </dict>
    <key>public.kern1.three.lf.001</key>
    <dict>
      <key>public.kern2.four.lf.001</key>
      <integer>-10</integer>
      <key>public.kern2.one.lf.001</key>
      <integer>0</integer>
      <key>public.kern2.three.lf.001</key>
      <integer>-19</integer>
    </dict>
    <key>public.kern1.u</key>
    <dict>
      <key>public.kern2.b</key>
      <integer>0</integer>
    </dict>
    <key>public.kern1.v</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-70</integer>
      <key>public.kern2.a</key>
      <integer>-16</integer>
      <key>public.kern2.g</key>
      <integer>-40</integer>
      <key>public.kern2.hyphen</key>
      <integer>-30</integer>
      <key>public.kern2.o</key>
      <integer>-30</integer>
      <key>public.kern2.parent</key>
      <integer>-20</integer>
      <key>public.kern2.period</key>
      <integer>-90</integer>
      <key>public.kern2.z</key>
      <integer>-15</integer>
    </dict>
    <key>public.kern1.x</key>
    <dict>
      <key>public.kern2.hyphen</key>
      <integer>-20</integer>
      <key>public.kern2.o</key>
      <integer>-10</integer>
    </dict>
    <key>public.kern1.y</key>
    <dict>
      <key>public.kern2.a</key>
      <integer>-30</integer>
      <key>public.kern2.g</key>
      <integer>-30</integer>
      <key>public.kern2.hyphen</key>
      <integer>-30</integer>
      <key>public.kern2.o</key>
      <integer>-22</integer>
      <key>public.kern2.parent</key>
      <integer>-40</integer>
      <key>public.kern2.period</key>
      <integer>-125</integer>
      <key>public.kern2.s</key>
      <integer>-20</integer>
      <key>public.kern2.z</key>
      <integer>-20</integer>
      <key>space</key>
      <integer>-50</integer>
    </dict>
    <key>public.kern1.zero.lf</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-35</integer>
    </dict>
    <key>public.kern1.zero.lf.001</key>
    <dict>
      <key>public.kern2.one.lf.001</key>
      <integer>0</integer>
    </dict>
    <key>seven</key>
    <dict>
      <key>public.kern2.period</key>
      <integer>-40</integer>
    </dict>
    <key>seven.lf</key>
    <dict>
      <key>public.kern2.four.lf.001</key>
      <integer>-77</integer>
    </dict>
    <key>seven.numr</key>
    <dict>
      <key>fraction</key>
      <integer>-40</integer>
    </dict>
    <key>seven.sups</key>
    <dict>
      <key>five.sups</key>
      <integer>-20</integer>
      <key>four.sups</key>
      <integer>-30</integer>
      <key>public.kern2.sups</key>
      <integer>10</integer>
      <key>zero.sups</key>
      <integer>-10</integer>
    </dict>
    <key>six.sups</key>
    <dict>
      <key>eight.sups</key>
      <integer>0</integer>
    </dict>
    <key>slash</key>
    <dict>
      <key>public.kern2.Germandbls</key>
      <integer>-40</integer>
    </dict>
    <key>space</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-20</integer>
      <key>public.kern2.T</key>
      <integer>-20</integer>
      <key>public.kern2.V</key>
      <integer>-30</integer>
      <key>public.kern2.Y</key>
      <integer>-30</integer>
    </dict>
    <key>zero</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-20</integer>
    </dict>
    <key>zero.sups</key>
    <dict>
      <key>two.sups</key>
      <integer>0</integer>
    </dict>
  </dict>
</plist>
