<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>public.kern1.A</key>
    <array>
      <string>A</string>
      <string>Aacute</string>
      <string>Abreve</string>
      <string>Acircumflex</string>
      <string>Adieresis</string>
      <string>Agrave</string>
      <string>Amacron</string>
      <string>Aogonek</string>
      <string>Aring</string>
      <string>Atilde</string>
      <string>A_U_L_A</string>
      <string>D_U_D_E_L_A</string>
      <string>E_A</string>
    </array>
    <key>public.kern1.C</key>
    <array>
      <string>C</string>
      <string>Cacute</string>
      <string>Ccaron</string>
      <string>Ccedilla</string>
      <string>Cdotaccent</string>
      <string>euro</string>
    </array>
    <key>public.kern1.E</key>
    <array>
      <string>AE</string>
      <string>AEacute</string>
      <string>E</string>
      <string>Eacute</string>
      <string>Ebreve</string>
      <string>Ecaron</string>
      <string>Ecircumflex</string>
      <string>Edieresis</string>
      <string>Edotaccent</string>
      <string>Egrave</string>
      <string>Emacron</string>
      <string>Eogonek</string>
      <string>Etilde</string>
      <string>OE</string>
      <string>A_E</string>
      <string>C_H_E</string>
      <string>C_Q_U_E</string>
      <string>D_E</string>
      <string>E_S_S_E</string>
      <string>E_T_T_E</string>
      <string>E_U_R_I_C_E</string>
      <string>F_F_E</string>
      <string>F_V_E</string>
      <string>G_U_E</string>
      <string>H_O_F_E</string>
      <string>I_E</string>
      <string>L_E</string>
      <string>L_L_E</string>
      <string>L_S_E</string>
      <string>N_E</string>
      <string>N_N_E</string>
      <string>O_IDIERESIS_N_E</string>
      <string>O_T_E</string>
      <string>P_E</string>
      <string>R_E</string>
      <string>R_S_E</string>
      <string>S_C_E</string>
      <string>S_E</string>
      <string>S_S_E</string>
      <string>S_T_E</string>
      <string>T_E</string>
      <string>T_T_E</string>
      <string>U_E</string>
      <string>U_L_L_E</string>
      <string>X_C_E</string>
      <string>X_L_E</string>
      <string>X_L_L_E</string>
      <string>X_S_E</string>
      <string>Eacute_E</string>
    </array>
    <key>public.kern1.G</key>
    <array>
      <string>G</string>
      <string>Gbreve</string>
      <string>Gcommaaccent</string>
      <string>Gdotaccent</string>
    </array>
    <key>public.kern1.H</key>
    <array>
      <string>H</string>
      <string>I</string>
      <string>Iacute</string>
      <string>Ibreve</string>
      <string>Icircumflex</string>
      <string>Idieresis</string>
      <string>Idotaccent</string>
      <string>Igrave</string>
      <string>Imacron</string>
      <string>Iogonek</string>
      <string>Itilde</string>
      <string>M</string>
      <string>N</string>
      <string>Nacute</string>
      <string>Ncaron</string>
      <string>Ncommaaccent</string>
      <string>Ntilde</string>
      <string>one</string>
      <string>bar</string>
      <string>brokenbar</string>
      <string>P_M</string>
    </array>
    <key>public.kern1.K</key>
    <array>
      <string>K</string>
      <string>Kcommaaccent</string>
    </array>
    <key>public.kern1.L</key>
    <array>
      <string>L</string>
      <string>Lacute</string>
      <string>Lcaron</string>
      <string>Lcommaaccent</string>
      <string>Ldot</string>
      <string>Lslash</string>
    </array>
    <key>public.kern1.M_P</key>
    <array>
      <string>M_P</string>
    </array>
    <key>public.kern1.O</key>
    <array>
      <string>D</string>
      <string>Dcaron</string>
      <string>Dcroat</string>
      <string>Eth</string>
      <string>Schwa</string>
      <string>O</string>
      <string>Oacute</string>
      <string>Obreve</string>
      <string>Ocircumflex</string>
      <string>Odieresis</string>
      <string>Ograve</string>
      <string>Ohungarumlaut</string>
      <string>Omacron</string>
      <string>Otilde</string>
      <string>A_O</string>
    </array>
    <key>public.kern1.R</key>
    <array>
      <string>R</string>
      <string>Racute</string>
      <string>Rcaron</string>
      <string>Rcommaaccent</string>
    </array>
    <key>public.kern1.S</key>
    <array>
      <string>S</string>
      <string>Sacute</string>
      <string>Scaron</string>
      <string>Scedilla</string>
      <string>Scommaaccent</string>
      <string>dollar</string>
    </array>
    <key>public.kern1.T</key>
    <array>
      <string>T</string>
      <string>Tcaron</string>
      <string>Tcedilla</string>
      <string>Tcommaaccent</string>
      <string>E_T</string>
    </array>
    <key>public.kern1.U</key>
    <array>
      <string>U</string>
      <string>Uacute</string>
      <string>Ubreve</string>
      <string>Ucircumflex</string>
      <string>Udieresis</string>
      <string>Ugrave</string>
      <string>Uhungarumlaut</string>
      <string>Umacron</string>
      <string>Uogonek</string>
      <string>Uring</string>
      <string>Utilde</string>
      <string>E_U</string>
      <string>L_U</string>
    </array>
    <key>public.kern1.V</key>
    <array>
      <string>V</string>
    </array>
    <key>public.kern1.W</key>
    <array>
      <string>W</string>
      <string>Wacute</string>
      <string>Wcircumflex</string>
      <string>Wdieresis</string>
      <string>Wgrave</string>
    </array>
    <key>public.kern1.Y</key>
    <array>
      <string>Y</string>
      <string>Yacute</string>
      <string>Ycircumflex</string>
      <string>Ydieresis</string>
      <string>Ygrave</string>
      <string>Ytilde</string>
    </array>
    <key>public.kern1.Z</key>
    <array>
      <string>Z</string>
      <string>Zacute</string>
      <string>Zcaron</string>
      <string>Zdotaccent</string>
    </array>
    <key>public.kern1.a</key>
    <array>
      <string>a</string>
      <string>aacute</string>
      <string>abreve</string>
      <string>acircumflex</string>
      <string>adieresis</string>
      <string>agrave</string>
      <string>amacron</string>
      <string>aogonek</string>
      <string>aring</string>
      <string>atilde</string>
      <string>a_u_l_a</string>
      <string>d_u_d_e_l_a</string>
      <string>e_a</string>
    </array>
    <key>public.kern1.c</key>
    <array>
      <string>c</string>
      <string>cacute</string>
      <string>ccaron</string>
      <string>ccedilla</string>
      <string>cdotaccent</string>
    </array>
    <key>public.kern1.comma</key>
    <array>
      <string>quotesinglbase</string>
      <string>quotedblbase</string>
    </array>
    <key>public.kern1.comma.ss01</key>
    <array>
      <string>comma.ss01</string>
      <string>quotesinglbase.ss01</string>
      <string>quotedblbase.ss01</string>
    </array>
    <key>public.kern1.e</key>
    <array>
      <string>ae</string>
      <string>aeacute</string>
      <string>e</string>
      <string>eacute</string>
      <string>ebreve</string>
      <string>ecaron</string>
      <string>ecircumflex</string>
      <string>edieresis</string>
      <string>edotaccent</string>
      <string>egrave</string>
      <string>emacron</string>
      <string>eogonek</string>
      <string>etilde</string>
      <string>oe</string>
      <string>ae.ss02</string>
      <string>aeacute.ss02</string>
      <string>a_e</string>
      <string>c_h_e</string>
      <string>c_q_u_e</string>
      <string>e_s_s_e</string>
      <string>e_t_t_e</string>
      <string>e_u_r_i_c_e</string>
      <string>eacute_e</string>
      <string>f_f_e</string>
      <string>f_v_e</string>
      <string>g_u_e</string>
      <string>h_o_f_e</string>
      <string>l_l_e</string>
      <string>l_s_e</string>
      <string>n_e</string>
      <string>n_n_e</string>
      <string>o_idieresis_n_e</string>
      <string>o_t_e</string>
      <string>p_e</string>
      <string>r_e</string>
      <string>r_s_e</string>
      <string>s_c_e</string>
      <string>s_e</string>
      <string>s_s_e</string>
      <string>s_t_e</string>
      <string>t_e</string>
      <string>t_t_e</string>
      <string>u_l_l_e</string>
      <string>x_c_e</string>
      <string>x_l_e</string>
      <string>x_l_l_e</string>
      <string>x_s_e</string>
    </array>
    <key>public.kern1.g</key>
    <array>
      <string>g</string>
      <string>gbreve</string>
      <string>gcommaaccent</string>
      <string>gdotaccent</string>
    </array>
    <key>public.kern1.g.ss03</key>
    <array>
      <string>g.ss03</string>
      <string>gbreve.ss03</string>
      <string>gcommaaccent.ss03</string>
      <string>gdotaccent.ss03</string>
    </array>
    <key>public.kern1.guillemetright</key>
    <array>
      <string>guillemetright</string>
      <string>guilsinglright</string>
    </array>
    <key>public.kern1.guilsinglleft</key>
    <array>
      <string>guillemetleft</string>
      <string>guilsinglleft</string>
    </array>
    <key>public.kern1.hyphen</key>
    <array>
      <string>hyphen</string>
      <string>softhyphen</string>
      <string>endash</string>
      <string>emdash</string>
      <string>minus</string>
    </array>
    <key>public.kern1.i</key>
    <array>
      <string>i</string>
      <string>iogonek</string>
      <string>fi</string>
      <string>i_e</string>
    </array>
    <key>public.kern1.k</key>
    <array>
      <string>k</string>
      <string>kcommaaccent</string>
    </array>
    <key>public.kern1.l</key>
    <array>
      <string>d</string>
      <string>l</string>
      <string>lacute</string>
      <string>lcommaaccent</string>
      <string>fl</string>
      <string>d_e</string>
      <string>l_e</string>
    </array>
    <key>public.kern1.lcaron</key>
    <array>
      <string>dcaron</string>
      <string>lcaron</string>
    </array>
    <key>public.kern1.n</key>
    <array>
      <string>h</string>
      <string>m</string>
      <string>n</string>
      <string>nacute</string>
      <string>ncaron</string>
      <string>ncommaaccent</string>
      <string>ntilde</string>
      <string>p_m</string>
    </array>
    <key>public.kern1.o</key>
    <array>
      <string>b</string>
      <string>schwa</string>
      <string>o</string>
      <string>oacute</string>
      <string>obreve</string>
      <string>ocircumflex</string>
      <string>odieresis</string>
      <string>ograve</string>
      <string>ohungarumlaut</string>
      <string>omacron</string>
      <string>otilde</string>
      <string>p</string>
      <string>thorn</string>
      <string>a_o</string>
      <string>m_p</string>
    </array>
    <key>public.kern1.onequarter</key>
    <array>
      <string>onequarter</string>
      <string>threequarters</string>
    </array>
    <key>public.kern1.period</key>
    <array>
      <string>period</string>
      <string>ellipsis</string>
    </array>
    <key>public.kern1.quotedblleft</key>
    <array>
      <string>quotedblleft</string>
      <string>quoteleft</string>
    </array>
    <key>public.kern1.quotedblright</key>
    <array>
      <string>quotedblright</string>
      <string>quoteright</string>
    </array>
    <key>public.kern1.quotedblright.ss01</key>
    <array>
      <string>quotedblright.ss01</string>
      <string>quoteright.ss01</string>
    </array>
    <key>public.kern1.quoteleft.ss01</key>
    <array>
      <string>quotedblleft.ss01</string>
      <string>quoteleft.ss01</string>
    </array>
    <key>public.kern1.quotesingle</key>
    <array>
      <string>quotedbl</string>
      <string>quotesingle</string>
    </array>
    <key>public.kern1.r</key>
    <array>
      <string>r</string>
      <string>racute</string>
      <string>rcaron</string>
      <string>rcommaaccent</string>
    </array>
    <key>public.kern1.s</key>
    <array>
      <string>s</string>
      <string>sacute</string>
      <string>scaron</string>
      <string>scedilla</string>
      <string>scommaaccent</string>
      <string>rupee</string>
    </array>
    <key>public.kern1.t</key>
    <array>
      <string>t</string>
      <string>tcaron</string>
      <string>tcedilla</string>
      <string>tcommaaccent</string>
      <string>e_t</string>
    </array>
    <key>public.kern1.u</key>
    <array>
      <string>idotless</string>
      <string>icircumflex</string>
      <string>igrave</string>
      <string>u</string>
      <string>uacute</string>
      <string>ubreve</string>
      <string>ucircumflex</string>
      <string>udieresis</string>
      <string>ugrave</string>
      <string>uhungarumlaut</string>
      <string>umacron</string>
      <string>uogonek</string>
      <string>uring</string>
      <string>utilde</string>
      <string>a.ss02</string>
      <string>aacute.ss02</string>
      <string>abreve.ss02</string>
      <string>acircumflex.ss02</string>
      <string>adieresis.ss02</string>
      <string>agrave.ss02</string>
      <string>amacron.ss02</string>
      <string>aogonek.ss02</string>
      <string>aring.ss02</string>
      <string>atilde.ss02</string>
      <string>micro</string>
      <string>e_u</string>
      <string>l_u</string>
      <string>u_e</string>
    </array>
    <key>public.kern1.w</key>
    <array>
      <string>w</string>
      <string>wacute</string>
      <string>wcircumflex</string>
      <string>wdieresis</string>
      <string>wgrave</string>
    </array>
    <key>public.kern1.y</key>
    <array>
      <string>y</string>
      <string>yacute</string>
      <string>ycircumflex</string>
      <string>ydieresis</string>
      <string>ygrave</string>
      <string>ytilde</string>
    </array>
    <key>public.kern1.z</key>
    <array>
      <string>z</string>
      <string>zacute</string>
      <string>zcaron</string>
      <string>zdotaccent</string>
    </array>
    <key>public.kern2.A</key>
    <array>
      <string>A</string>
      <string>Aacute</string>
      <string>Abreve</string>
      <string>Acircumflex</string>
      <string>Adieresis</string>
      <string>Agrave</string>
      <string>Amacron</string>
      <string>Aogonek</string>
      <string>Aring</string>
      <string>Atilde</string>
      <string>A_E</string>
      <string>A_O</string>
      <string>A_U_L_A</string>
    </array>
    <key>public.kern2.AE</key>
    <array>
      <string>AE</string>
      <string>AEacute</string>
    </array>
    <key>public.kern2.Eth</key>
    <array>
      <string>Dcroat</string>
      <string>Eth</string>
    </array>
    <key>public.kern2.H</key>
    <array>
      <string>B</string>
      <string>D</string>
      <string>Dcaron</string>
      <string>E</string>
      <string>Eacute</string>
      <string>Ebreve</string>
      <string>Ecaron</string>
      <string>Ecircumflex</string>
      <string>Edieresis</string>
      <string>Edotaccent</string>
      <string>Egrave</string>
      <string>Emacron</string>
      <string>Eogonek</string>
      <string>Etilde</string>
      <string>F</string>
      <string>H</string>
      <string>I</string>
      <string>Iacute</string>
      <string>Ibreve</string>
      <string>Icircumflex</string>
      <string>Idieresis</string>
      <string>Idotaccent</string>
      <string>Igrave</string>
      <string>Imacron</string>
      <string>Itilde</string>
      <string>K</string>
      <string>Kcommaaccent</string>
      <string>L</string>
      <string>Lacute</string>
      <string>Lcaron</string>
      <string>Lcommaaccent</string>
      <string>Ldot</string>
      <string>M</string>
      <string>N</string>
      <string>Nacute</string>
      <string>Ncaron</string>
      <string>Ncommaaccent</string>
      <string>Ntilde</string>
      <string>P</string>
      <string>Thorn</string>
      <string>R</string>
      <string>Racute</string>
      <string>Rcaron</string>
      <string>Rcommaaccent</string>
      <string>bar</string>
      <string>brokenbar</string>
      <string>rupee</string>
      <string>D_E</string>
      <string>D_U_D_E_L_A</string>
      <string>E_A</string>
      <string>E_S_S_E</string>
      <string>E_T</string>
      <string>E_T_T_E</string>
      <string>E_U</string>
      <string>E_U_R_I_C_E</string>
      <string>F_F_E</string>
      <string>F_V_E</string>
      <string>H_O_F_E</string>
      <string>I_E</string>
      <string>L_E</string>
      <string>L_L_E</string>
      <string>L_S_E</string>
      <string>L_U</string>
      <string>M_P</string>
      <string>N_E</string>
      <string>N_N_E</string>
      <string>P_E</string>
      <string>P_M</string>
      <string>R_E</string>
      <string>R_S_E</string>
      <string>Eacute_E</string>
    </array>
    <key>public.kern2.O</key>
    <array>
      <string>C</string>
      <string>Cacute</string>
      <string>Ccaron</string>
      <string>Ccedilla</string>
      <string>Cdotaccent</string>
      <string>G</string>
      <string>Gbreve</string>
      <string>Gcommaaccent</string>
      <string>Gdotaccent</string>
      <string>O</string>
      <string>Oacute</string>
      <string>Obreve</string>
      <string>Ocircumflex</string>
      <string>Odieresis</string>
      <string>Ograve</string>
      <string>Ohungarumlaut</string>
      <string>Omacron</string>
      <string>Otilde</string>
      <string>OE</string>
      <string>Q</string>
      <string>C_H_E</string>
      <string>C_Q_U_E</string>
      <string>G_U_E</string>
      <string>O_IDIERESIS_N_E</string>
      <string>O_T_E</string>
    </array>
    <key>public.kern2.S</key>
    <array>
      <string>S</string>
      <string>Sacute</string>
      <string>Scaron</string>
      <string>Scedilla</string>
      <string>Scommaaccent</string>
      <string>dollar</string>
      <string>S_C_E</string>
      <string>S_E</string>
      <string>S_S_E</string>
      <string>S_T_E</string>
    </array>
    <key>public.kern2.T</key>
    <array>
      <string>T</string>
      <string>Tcaron</string>
      <string>Tcedilla</string>
      <string>Tcommaaccent</string>
      <string>T_E</string>
      <string>T_T_E</string>
    </array>
    <key>public.kern2.U</key>
    <array>
      <string>U</string>
      <string>Uacute</string>
      <string>Ubreve</string>
      <string>Ucircumflex</string>
      <string>Udieresis</string>
      <string>Ugrave</string>
      <string>Uhungarumlaut</string>
      <string>Umacron</string>
      <string>Uogonek</string>
      <string>Uring</string>
      <string>Utilde</string>
      <string>U_E</string>
      <string>U_L_L_E</string>
    </array>
    <key>public.kern2.V</key>
    <array>
      <string>V</string>
    </array>
    <key>public.kern2.W</key>
    <array>
      <string>W</string>
      <string>Wacute</string>
      <string>Wcircumflex</string>
      <string>Wdieresis</string>
      <string>Wgrave</string>
    </array>
    <key>public.kern2.X_C_E</key>
    <array>
      <string>X_C_E</string>
    </array>
    <key>public.kern2.X_L_E</key>
    <array>
      <string>X_L_E</string>
    </array>
    <key>public.kern2.X_L_L_E</key>
    <array>
      <string>X_L_L_E</string>
    </array>
    <key>public.kern2.X_S_E</key>
    <array>
      <string>X_S_E</string>
    </array>
    <key>public.kern2.Y</key>
    <array>
      <string>Y</string>
      <string>Yacute</string>
      <string>Ycircumflex</string>
      <string>Ydieresis</string>
      <string>Ygrave</string>
      <string>Ytilde</string>
    </array>
    <key>public.kern2.Z</key>
    <array>
      <string>Z</string>
      <string>Zacute</string>
      <string>Zcaron</string>
      <string>Zdotaccent</string>
    </array>
    <key>public.kern2.a</key>
    <array>
      <string>a</string>
      <string>aacute</string>
      <string>abreve</string>
      <string>acircumflex</string>
      <string>adieresis</string>
      <string>agrave</string>
      <string>amacron</string>
      <string>aogonek</string>
      <string>aring</string>
      <string>atilde</string>
      <string>ae</string>
      <string>aeacute</string>
      <string>a_e</string>
      <string>a_o</string>
    </array>
    <key>public.kern2.comma</key>
    <array>
      <string>quotesinglbase</string>
      <string>quotedblbase</string>
    </array>
    <key>public.kern2.comma.ss01</key>
    <array>
      <string>comma.ss01</string>
      <string>quotesinglbase.ss01</string>
      <string>quotedblbase.ss01</string>
    </array>
    <key>public.kern2.f</key>
    <array>
      <string>fi</string>
      <string>fl</string>
    </array>
    <key>public.kern2.f_f_e</key>
    <array>
      <string>f_f_e</string>
    </array>
    <key>public.kern2.f_v_e</key>
    <array>
      <string>f_v_e</string>
    </array>
    <key>public.kern2.g</key>
    <array>
      <string>g</string>
      <string>gbreve</string>
      <string>gcommaaccent</string>
      <string>gdotaccent</string>
      <string>g_u_e</string>
    </array>
    <key>public.kern2.g.ss03</key>
    <array>
      <string>g.ss03</string>
      <string>gbreve.ss03</string>
      <string>gcommaaccent.ss03</string>
      <string>gdotaccent.ss03</string>
    </array>
    <key>public.kern2.guillemetright</key>
    <array>
      <string>guillemetright</string>
      <string>guilsinglright</string>
    </array>
    <key>public.kern2.guilsinglleft</key>
    <array>
      <string>guillemetleft</string>
      <string>guilsinglleft</string>
    </array>
    <key>public.kern2.hyphen</key>
    <array>
      <string>hyphen</string>
      <string>softhyphen</string>
      <string>endash</string>
      <string>emdash</string>
      <string>minus</string>
    </array>
    <key>public.kern2.i</key>
    <array>
      <string>i</string>
      <string>i_e</string>
    </array>
    <key>public.kern2.l</key>
    <array>
      <string>b</string>
      <string>h</string>
      <string>k</string>
      <string>kcommaaccent</string>
      <string>l</string>
      <string>lacute</string>
      <string>lcaron</string>
      <string>lcommaaccent</string>
      <string>ldot</string>
      <string>h_o_f_e</string>
      <string>l_e</string>
      <string>l_l_e</string>
      <string>l_s_e</string>
      <string>l_u</string>
    </array>
    <key>public.kern2.n</key>
    <array>
      <string>idotless</string>
      <string>iacute</string>
      <string>icircumflex</string>
      <string>iogonek</string>
      <string>m</string>
      <string>n</string>
      <string>nacute</string>
      <string>ncaron</string>
      <string>ncommaaccent</string>
      <string>ntilde</string>
      <string>r</string>
      <string>racute</string>
      <string>rcaron</string>
      <string>rcommaaccent</string>
      <string>m_p</string>
      <string>n_e</string>
      <string>n_n_e</string>
      <string>r_e</string>
      <string>r_s_e</string>
    </array>
    <key>public.kern2.o</key>
    <array>
      <string>c</string>
      <string>cacute</string>
      <string>ccaron</string>
      <string>ccedilla</string>
      <string>cdotaccent</string>
      <string>d</string>
      <string>dcaron</string>
      <string>dcroat</string>
      <string>eth</string>
      <string>e</string>
      <string>eacute</string>
      <string>ebreve</string>
      <string>ecaron</string>
      <string>ecircumflex</string>
      <string>edieresis</string>
      <string>edotaccent</string>
      <string>egrave</string>
      <string>emacron</string>
      <string>eogonek</string>
      <string>etilde</string>
      <string>schwa</string>
      <string>o</string>
      <string>oacute</string>
      <string>obreve</string>
      <string>ocircumflex</string>
      <string>odieresis</string>
      <string>ograve</string>
      <string>ohungarumlaut</string>
      <string>omacron</string>
      <string>otilde</string>
      <string>oe</string>
      <string>q</string>
      <string>a.ss02</string>
      <string>aacute.ss02</string>
      <string>abreve.ss02</string>
      <string>acircumflex.ss02</string>
      <string>adieresis.ss02</string>
      <string>agrave.ss02</string>
      <string>amacron.ss02</string>
      <string>aogonek.ss02</string>
      <string>aring.ss02</string>
      <string>atilde.ss02</string>
      <string>ae.ss02</string>
      <string>aeacute.ss02</string>
      <string>c_h_e</string>
      <string>c_q_u_e</string>
      <string>d_e</string>
      <string>d_u_d_e_l_a</string>
      <string>e_a</string>
      <string>e_s_s_e</string>
      <string>e_t_t_e</string>
      <string>e_u</string>
      <string>e_u_r_i_c_e</string>
      <string>eacute_e</string>
      <string>o_idieresis_n_e</string>
      <string>o_t_e</string>
      <string>e_t</string>
    </array>
    <key>public.kern2.onehalf</key>
    <array>
      <string>onehalf</string>
      <string>onequarter</string>
    </array>
    <key>public.kern2.p</key>
    <array>
      <string>micro</string>
    </array>
    <key>public.kern2.p_e</key>
    <array>
      <string>p_e</string>
    </array>
    <key>public.kern2.p_m</key>
    <array>
      <string>p_m</string>
    </array>
    <key>public.kern2.percent</key>
    <array>
      <string>percent</string>
      <string>perthousand</string>
    </array>
    <key>public.kern2.period</key>
    <array>
      <string>period</string>
      <string>ellipsis</string>
    </array>
    <key>public.kern2.quotedblleft</key>
    <array>
      <string>quotedblleft</string>
      <string>quoteleft</string>
    </array>
    <key>public.kern2.quotedblright</key>
    <array>
      <string>quotedblright</string>
      <string>quoteright</string>
    </array>
    <key>public.kern2.quotedblright.ss01</key>
    <array>
      <string>quotedblright.ss01</string>
      <string>quoteright.ss01</string>
    </array>
    <key>public.kern2.quoteleft.ss01</key>
    <array>
      <string>quotedblleft.ss01</string>
      <string>quoteleft.ss01</string>
    </array>
    <key>public.kern2.quotesingle</key>
    <array>
      <string>quotedbl</string>
      <string>quotesingle</string>
    </array>
    <key>public.kern2.s</key>
    <array>
      <string>s</string>
      <string>sacute</string>
      <string>scaron</string>
      <string>scedilla</string>
      <string>scommaaccent</string>
      <string>s_c_e</string>
      <string>s_e</string>
      <string>s_s_e</string>
      <string>s_t_e</string>
    </array>
    <key>public.kern2.t</key>
    <array>
      <string>t</string>
      <string>tcaron</string>
      <string>tcedilla</string>
      <string>tcommaaccent</string>
      <string>t_e</string>
      <string>t_t_e</string>
    </array>
    <key>public.kern2.u</key>
    <array>
      <string>u</string>
      <string>uacute</string>
      <string>ubreve</string>
      <string>ucircumflex</string>
      <string>udieresis</string>
      <string>ugrave</string>
      <string>uhungarumlaut</string>
      <string>umacron</string>
      <string>uogonek</string>
      <string>uring</string>
      <string>utilde</string>
      <string>a_u_l_a</string>
      <string>u_e</string>
      <string>u_l_l_e</string>
    </array>
    <key>public.kern2.w</key>
    <array>
      <string>w</string>
      <string>wacute</string>
      <string>wcircumflex</string>
      <string>wdieresis</string>
      <string>wgrave</string>
    </array>
    <key>public.kern2.x_c_e</key>
    <array>
      <string>x_c_e</string>
    </array>
    <key>public.kern2.x_l_e</key>
    <array>
      <string>x_l_e</string>
    </array>
    <key>public.kern2.x_l_l_e</key>
    <array>
      <string>x_l_l_e</string>
    </array>
    <key>public.kern2.x_s_e</key>
    <array>
      <string>x_s_e</string>
    </array>
    <key>public.kern2.y</key>
    <array>
      <string>y</string>
      <string>yacute</string>
      <string>ycircumflex</string>
      <string>ydieresis</string>
      <string>ygrave</string>
      <string>ytilde</string>
    </array>
    <key>public.kern2.z</key>
    <array>
      <string>z</string>
      <string>zacute</string>
      <string>zcaron</string>
      <string>zdotaccent</string>
    </array>
  </dict>
</plist>
