<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ascender</key>
	<integer>710</integer>
	<key>capHeight</key>
	<integer>710</integer>
	<key>copyright</key>
	<string>Copyright © 2022 by ANRT. All rights reserved. BBB Baskervvol (Eugénie Bidaut, Julie Colas, Camille Circlude, Louis Garrido, Enzo Le Garrec, Ludi Loiseau, Édouard Nazé, Julie Patard, Marouchka Payen, Mathilde Quentin), Bruxelles 2018-2022. Ajout de glyphes non-binaires.</string>
	<key>descender</key>
	<integer>-290</integer>
	<key>familyName</key>
	<string>BBB Baskervvol</string>
	<key>openTypeHeadCreated</key>
	<string>2022/03/22 15:30:49</string>
	<key>openTypeHheaAscender</key>
	<integer>710</integer>
	<key>openTypeHheaDescender</key>
	<integer>-290</integer>
	<key>openTypeNameDesigner</key>
	<string>ANRT &amp; BBB</string>
	<key>openTypeNameDesignerURL</key>
	<string>https://typotheque.genderfluid.space/index.html</string>
	<key>openTypeNameLicense</key>
	<string>OIFL</string>
	<key>openTypeNameLicenseURL</key>
	<string>https://typotheque.genderfluid.space/licences.html</string>
	<key>openTypeNameManufacturer</key>
	<string>ANRT &amp; BBB</string>
	<key>openTypeNameManufacturerURL</key>
	<string>https://typotheque.genderfluid.space/index.html</string>
	<key>openTypeOS2CodePageRanges</key>
	<array>
		<integer>0</integer>
	</array>
	<key>openTypeOS2Panose</key>
	<array>
		<integer>2</integer>
		<integer>0</integer>
		<integer>5</integer>
		<integer>2</integer>
		<integer>8</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
	</array>
	<key>openTypeOS2Type</key>
	<array/>
	<key>openTypeOS2TypoAscender</key>
	<integer>710</integer>
	<key>openTypeOS2TypoDescender</key>
	<integer>-290</integer>
	<key>openTypeOS2TypoLineGap</key>
	<integer>430</integer>
	<key>openTypeOS2UnicodeRanges</key>
	<array>
		<integer>0</integer>
		<integer>1</integer>
		<integer>2</integer>
		<integer>57</integer>
	</array>
	<key>openTypeOS2WinAscent</key>
	<integer>1140</integer>
	<key>openTypeOS2WinDescent</key>
	<integer>300</integer>
	<key>postscriptBlueScale</key>
	<real>0.037</real>
	<key>postscriptBlueValues</key>
	<array>
		<real>-11.0</real>
		<real>0.0</real>
		<real>436.0</real>
		<real>454.0</real>
		<real>710.0</real>
		<real>724.0</real>
	</array>
	<key>postscriptFontName</key>
	<string>BBBBaskervvol-Regular</string>
	<key>postscriptOtherBlues</key>
	<array/>
	<key>postscriptStemSnapH</key>
	<array>
		<real>25.0</real>
		<real>30.0</real>
	</array>
	<key>postscriptStemSnapV</key>
	<array>
		<real>70.0</real>
		<real>85.0</real>
		<real>100.0</real>
	</array>
	<key>postscriptUnderlinePosition</key>
	<integer>-150</integer>
	<key>postscriptUnderlineThickness</key>
	<integer>35</integer>
	<key>styleName</key>
	<string>Regular</string>
	<key>unitsPerEm</key>
	<integer>1000</integer>
	<key>versionMajor</key>
	<integer>1</integer>
	<key>versionMinor</key>
	<integer>0</integer>
	<key>xHeight</key>
	<integer>436</integer>
</dict>
</plist>
