<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>com.schriftgestaltung.disablesAutomaticAlignment</key>
	<false/>
	<key>com.schriftgestaltung.font.customParameters</key>
	<array>
		<dict>
			<key>name</key>
			<string>postscriptStrikeoutPosition</string>
			<key>value</key>
			<integer>261</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>Use Typo Metrics</string>
			<key>value</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>com.schriftgestaltung.fontMaster.customParameters</key>
	<array>
		<dict>
			<key>name</key>
			<string>Alignment Zones</string>
			<key>value</key>
			<array>
				<dict>
					<key>pos</key>
					<real>455.0</real>
					<key>size</key>
					<real>14.0</real>
				</dict>
				<dict>
					<key>pos</key>
					<real>-280.0</real>
					<key>size</key>
					<real>-14.0</real>
				</dict>
			</array>
		</dict>
	</array>
	<key>com.schriftgestaltung.fontMasterID</key>
	<string>72C12618-BAE4-4A2B-8370-CBFBBD108EB7</string>
	<key>com.schriftgestaltung.glyphOrder</key>
	<false/>
	<key>com.schriftgestaltung.useNiceNames</key>
	<false/>
	<key>com.schriftgestaltung.weightValue</key>
	<integer>100</integer>
	<key>public.glyphOrder</key>
	<array>
		<string>A</string>
		<string>Aacute</string>
		<string>Abreve</string>
		<string>Acircumflex</string>
		<string>Adieresis</string>
		<string>Agrave</string>
		<string>Amacron</string>
		<string>Aogonek</string>
		<string>Aring</string>
		<string>Aringacute</string>
		<string>Atilde</string>
		<string>AE</string>
		<string>B</string>
		<string>C</string>
		<string>Cacute</string>
		<string>Ccaron</string>
		<string>Ccedilla</string>
		<string>Cdotaccent</string>
		<string>D</string>
		<string>Eth</string>
		<string>Dcaron</string>
		<string>Dcroat</string>
		<string>E</string>
		<string>Eacute</string>
		<string>Ecaron</string>
		<string>Ecircumflex</string>
		<string>Edieresis</string>
		<string>Edotaccent</string>
		<string>Egrave</string>
		<string>Emacron</string>
		<string>Eogonek</string>
		<string>F</string>
		<string>G</string>
		<string>Gbreve</string>
		<string>Gdotaccent</string>
		<string>H</string>
		<string>Hbar</string>
		<string>I</string>
		<string>Iacute</string>
		<string>Icircumflex</string>
		<string>Idieresis</string>
		<string>Idotaccent</string>
		<string>Igrave</string>
		<string>Imacron</string>
		<string>Iogonek</string>
		<string>J</string>
		<string>K</string>
		<string>L</string>
		<string>Lacute</string>
		<string>Lcaron</string>
		<string>Ldot</string>
		<string>Lslash</string>
		<string>M</string>
		<string>N</string>
		<string>Nacute</string>
		<string>Ncaron</string>
		<string>Ntilde</string>
		<string>Eng</string>
		<string>O</string>
		<string>Oacute</string>
		<string>Ocircumflex</string>
		<string>Odieresis</string>
		<string>Ograve</string>
		<string>Ohungarumlaut</string>
		<string>Omacron</string>
		<string>Oslash</string>
		<string>Otilde</string>
		<string>OE</string>
		<string>P</string>
		<string>Thorn</string>
		<string>Q</string>
		<string>R</string>
		<string>Racute</string>
		<string>Rcaron</string>
		<string>S</string>
		<string>Sacute</string>
		<string>Scaron</string>
		<string>Scedilla</string>
		<string>T</string>
		<string>Tbar</string>
		<string>Tcaron</string>
		<string>U</string>
		<string>Uacute</string>
		<string>Ucircumflex</string>
		<string>Udieresis</string>
		<string>Ugrave</string>
		<string>Uhungarumlaut</string>
		<string>Umacron</string>
		<string>Uogonek</string>
		<string>Uring</string>
		<string>Utilde</string>
		<string>V</string>
		<string>W</string>
		<string>Wacute</string>
		<string>Wcircumflex</string>
		<string>Wdieresis</string>
		<string>Wgrave</string>
		<string>X</string>
		<string>Y</string>
		<string>Yacute</string>
		<string>Ycircumflex</string>
		<string>Ydieresis</string>
		<string>Ygrave</string>
		<string>Z</string>
		<string>Zacute</string>
		<string>Zcaron</string>
		<string>Zdotaccent</string>
		<string>uni0122</string>
		<string>uni0136</string>
		<string>uni013B</string>
		<string>uni0145</string>
		<string>uni0156</string>
		<string>uni0162</string>
		<string>uni0191</string>
		<string>uni01CD</string>
		<string>uni01CF</string>
		<string>uni01D1</string>
		<string>uni01D3</string>
		<string>uni01D5</string>
		<string>uni01D7</string>
		<string>uni01D9</string>
		<string>uni01DB</string>
		<string>uni0218</string>
		<string>uni021A</string>
		<string>uni1EF8</string>
		<string>a</string>
		<string>aacute</string>
		<string>abreve</string>
		<string>acircumflex</string>
		<string>adieresis</string>
		<string>agrave</string>
		<string>amacron</string>
		<string>aogonek</string>
		<string>aring</string>
		<string>atilde</string>
		<string>ae</string>
		<string>b</string>
		<string>c</string>
		<string>cacute</string>
		<string>ccaron</string>
		<string>ccedilla</string>
		<string>cdotaccent</string>
		<string>d</string>
		<string>eth</string>
		<string>dcaron</string>
		<string>dcroat</string>
		<string>e</string>
		<string>eacute</string>
		<string>ecaron</string>
		<string>ecircumflex</string>
		<string>edieresis</string>
		<string>edotaccent</string>
		<string>egrave</string>
		<string>emacron</string>
		<string>eogonek</string>
		<string>f</string>
		<string>g</string>
		<string>gbreve</string>
		<string>gdotaccent</string>
		<string>h</string>
		<string>hbar</string>
		<string>hcircumflex</string>
		<string>i</string>
		<string>dotlessi</string>
		<string>iacute</string>
		<string>icircumflex</string>
		<string>idieresis</string>
		<string>igrave</string>
		<string>imacron</string>
		<string>iogonek</string>
		<string>j</string>
		<string>uni0237</string>
		<string>k</string>
		<string>l</string>
		<string>lacute</string>
		<string>lcaron</string>
		<string>ldot</string>
		<string>lslash</string>
		<string>m</string>
		<string>n</string>
		<string>nacute</string>
		<string>ncaron</string>
		<string>ntilde</string>
		<string>eng</string>
		<string>o</string>
		<string>oacute</string>
		<string>ocircumflex</string>
		<string>odieresis</string>
		<string>ograve</string>
		<string>ohungarumlaut</string>
		<string>omacron</string>
		<string>oslash</string>
		<string>otilde</string>
		<string>oe</string>
		<string>p</string>
		<string>thorn</string>
		<string>q</string>
		<string>r</string>
		<string>racute</string>
		<string>rcaron</string>
		<string>s</string>
		<string>sacute</string>
		<string>scaron</string>
		<string>scedilla</string>
		<string>germandbls</string>
		<string>t</string>
		<string>tbar</string>
		<string>tcaron</string>
		<string>u</string>
		<string>uacute</string>
		<string>ucircumflex</string>
		<string>udieresis</string>
		<string>ugrave</string>
		<string>uhungarumlaut</string>
		<string>umacron</string>
		<string>uni0123</string>
		<string>uni0137</string>
		<string>uni013C</string>
		<string>uni0146</string>
		<string>uni0157</string>
		<string>uni0163</string>
		<string>uni01CE</string>
		<string>uni01D0</string>
		<string>uni01D2</string>
		<string>uni01D4</string>
		<string>uni01D6</string>
		<string>uni01D8</string>
		<string>uni01DA</string>
		<string>uni01DC</string>
		<string>uni0219</string>
		<string>uni021B</string>
		<string>uni1EF9</string>
		<string>uogonek</string>
		<string>uring</string>
		<string>utilde</string>
		<string>v</string>
		<string>w</string>
		<string>wacute</string>
		<string>wcircumflex</string>
		<string>wdieresis</string>
		<string>wgrave</string>
		<string>x</string>
		<string>y</string>
		<string>yacute</string>
		<string>ycircumflex</string>
		<string>ydieresis</string>
		<string>ygrave</string>
		<string>z</string>
		<string>zacute</string>
		<string>zcaron</string>
		<string>zdotaccent</string>
		<string>i.loclTRK</string>
		<string>d_u_d_e_l_a</string>
		<string>e_t</string>
		<string>f_b.liga</string>
		<string>f_f.liga</string>
		<string>f_f_b.liga</string>
		<string>f_f_h.liga</string>
		<string>f_f_i.liga</string>
		<string>f_f_j.liga</string>
		<string>f_f_k.liga</string>
		<string>f_f_l.liga</string>
		<string>f_h.liga</string>
		<string>f_i.liga</string>
		<string>f_j.liga</string>
		<string>f_k.liga</string>
		<string>f_l.liga</string>
		<string>Aringacute.sc</string>
		<string>uni0191.sc</string>
		<string>uni01D7.sc</string>
		<string>uni01D9.sc</string>
		<string>uni01DB.sc</string>
		<string>uni01D5.sc</string>
		<string>a.sc</string>
		<string>aacute.sc</string>
		<string>abreve.sc</string>
		<string>uni01CE.sc</string>
		<string>acircumflex.sc</string>
		<string>adieresis.sc</string>
		<string>agrave.sc</string>
		<string>amacron.sc</string>
		<string>aogonek.sc</string>
		<string>aring.sc</string>
		<string>atilde.sc</string>
		<string>ae.sc</string>
		<string>b.sc</string>
		<string>c.sc</string>
		<string>cacute.sc</string>
		<string>ccaron.sc</string>
		<string>ccedilla.sc</string>
		<string>cdotaccent.sc</string>
		<string>d.sc</string>
		<string>eth.sc</string>
		<string>dcaron.sc</string>
		<string>dcroat.sc</string>
		<string>e.sc</string>
		<string>eacute.sc</string>
		<string>ecaron.sc</string>
		<string>ecircumflex.sc</string>
		<string>edieresis.sc</string>
		<string>edotaccent.sc</string>
		<string>egrave.sc</string>
		<string>emacron.sc</string>
		<string>eogonek.sc</string>
		<string>f.sc</string>
		<string>g.sc</string>
		<string>gbreve.sc</string>
		<string>uni0123.sc</string>
		<string>gdotaccent.sc</string>
		<string>h.sc</string>
		<string>hbar.sc</string>
		<string>i.sc</string>
		<string>iacute.sc</string>
		<string>uni01D0.sc</string>
		<string>icircumflex.sc</string>
		<string>idieresis.sc</string>
		<string>i.sc.loclTRK</string>
		<string>igrave.sc</string>
		<string>imacron.sc</string>
		<string>iogonek.sc</string>
		<string>j.sc</string>
		<string>k.sc</string>
		<string>uni0137.sc</string>
		<string>l.sc</string>
		<string>lacute.sc</string>
		<string>lcaron.sc</string>
		<string>uni013C.sc</string>
		<string>ldot.sc</string>
		<string>lslash.sc</string>
		<string>m.sc</string>
		<string>n.sc</string>
		<string>nacute.sc</string>
		<string>ncaron.sc</string>
		<string>uni0146.sc</string>
		<string>ntilde.sc</string>
		<string>eng.sc</string>
		<string>o.sc</string>
		<string>oacute.sc</string>
		<string>uni01D2.sc</string>
		<string>ocircumflex.sc</string>
		<string>odieresis.sc</string>
		<string>ograve.sc</string>
		<string>ohungarumlaut.sc</string>
		<string>omacron.sc</string>
		<string>oslash.sc</string>
		<string>otilde.sc</string>
		<string>oe.sc</string>
		<string>p.sc</string>
		<string>thorn.sc</string>
		<string>q.sc</string>
		<string>r.sc</string>
		<string>racute.sc</string>
		<string>rcaron.sc</string>
		<string>uni0157.sc</string>
		<string>s.sc</string>
		<string>sacute.sc</string>
		<string>scaron.sc</string>
		<string>scedilla.sc</string>
		<string>uni0219.sc</string>
		<string>t.sc</string>
		<string>tbar.sc</string>
		<string>tcaron.sc</string>
		<string>uni0163.sc</string>
		<string>uni021B.sc</string>
		<string>u.sc</string>
		<string>uacute.sc</string>
		<string>uni01D4.sc</string>
		<string>ucircumflex.sc</string>
		<string>udieresis.sc</string>
		<string>ugrave.sc</string>
		<string>uhungarumlaut.sc</string>
		<string>umacron.sc</string>
		<string>uogonek.sc</string>
		<string>uring.sc</string>
		<string>utilde.sc</string>
		<string>v.sc</string>
		<string>w.sc</string>
		<string>wacute.sc</string>
		<string>wcircumflex.sc</string>
		<string>wdieresis.sc</string>
		<string>wgrave.sc</string>
		<string>x.sc</string>
		<string>y.sc</string>
		<string>yacute.sc</string>
		<string>ycircumflex.sc</string>
		<string>ydieresis.sc</string>
		<string>ygrave.sc</string>
		<string>uni1EF9.sc</string>
		<string>z.sc</string>
		<string>zacute.sc</string>
		<string>zcaron.sc</string>
		<string>zdotaccent.sc</string>
		<string>a.sups</string>
		<string>d.sups</string>
		<string>e.sups</string>
		<string>h.sups</string>
		<string>m.sups</string>
		<string>n.sups</string>
		<string>o.sups</string>
		<string>r.sups</string>
		<string>s.sups</string>
		<string>t.sups</string>
		<string>ordfeminine</string>
		<string>ordmasculine</string>
		<string>uni0394</string>
		<string>uni03A9</string>
		<string>uni03BC</string>
		<string>pi</string>
		<string>zero</string>
		<string>one</string>
		<string>two</string>
		<string>three</string>
		<string>four</string>
		<string>five</string>
		<string>six</string>
		<string>seven</string>
		<string>eight</string>
		<string>nine</string>
		<string>zero.alt01</string>
		<string>zero.alt02</string>
		<string>zero.alt03</string>
		<string>zero.alt04</string>
		<string>zero.alt05</string>
		<string>zero.lf</string>
		<string>one.lf</string>
		<string>two.lf</string>
		<string>three.lf</string>
		<string>four.lf</string>
		<string>five.lf</string>
		<string>six.lf</string>
		<string>seven.lf</string>
		<string>eight.lf</string>
		<string>nine.lf</string>
		<string>zero.dnom</string>
		<string>one.dnom</string>
		<string>two.dnom</string>
		<string>three.dnom</string>
		<string>four.dnom</string>
		<string>five.dnom</string>
		<string>six.dnom</string>
		<string>seven.dnom</string>
		<string>eight.dnom</string>
		<string>nine.dnom</string>
		<string>zero.numr</string>
		<string>one.numr</string>
		<string>two.numr</string>
		<string>three.numr</string>
		<string>four.numr</string>
		<string>five.numr</string>
		<string>six.numr</string>
		<string>seven.numr</string>
		<string>eight.numr</string>
		<string>nine.numr</string>
		<string>fraction</string>
		<string>onehalf</string>
		<string>onequarter</string>
		<string>threequarters</string>
		<string>zero.subs</string>
		<string>one.subs</string>
		<string>two.subs</string>
		<string>three.subs</string>
		<string>four.subs</string>
		<string>five.subs</string>
		<string>six.subs</string>
		<string>seven.subs</string>
		<string>eight.subs</string>
		<string>nine.subs</string>
		<string>uni00B9</string>
		<string>uni00B2</string>
		<string>uni00B3</string>
		<string>zero.sups</string>
		<string>one.sups</string>
		<string>two.sups</string>
		<string>three.sups</string>
		<string>four.sups</string>
		<string>five.sups</string>
		<string>six.sups</string>
		<string>seven.sups</string>
		<string>eight.sups</string>
		<string>nine.sups</string>
		<string>.notdef</string>
		<string>space</string>
		<string>uni00A0</string>
		<string>period</string>
		<string>comma</string>
		<string>colon</string>
		<string>semicolon</string>
		<string>ellipsis</string>
		<string>exclam</string>
		<string>exclamdown</string>
		<string>question</string>
		<string>questiondown</string>
		<string>periodcentered</string>
		<string>bullet</string>
		<string>asterisk</string>
		<string>numbersign</string>
		<string>slash</string>
		<string>backslash</string>
		<string>colon.case</string>
		<string>semicolon.case</string>
		<string>exclamdown.case</string>
		<string>questiondown.case</string>
		<string>periodcentered.case</string>
		<string>period.sc</string>
		<string>exclam.sc</string>
		<string>question.sc</string>
		<string>hyphen</string>
		<string>uni00AD</string>
		<string>endash</string>
		<string>emdash</string>
		<string>underscore</string>
		<string>hyphen.case</string>
		<string>endash.case</string>
		<string>emdash.case</string>
		<string>parenleft</string>
		<string>parenright</string>
		<string>braceleft</string>
		<string>braceright</string>
		<string>bracketleft</string>
		<string>bracketright</string>
		<string>parenleft.sc</string>
		<string>parenright.sc</string>
		<string>braceleft.sc</string>
		<string>braceright.sc</string>
		<string>bracketleft.sc</string>
		<string>bracketright.sc</string>
		<string>quotesinglbase</string>
		<string>quotedblbase</string>
		<string>quotedblleft</string>
		<string>quotedblright</string>
		<string>quoteleft</string>
		<string>quoteright</string>
		<string>guillemotleft</string>
		<string>guillemotright</string>
		<string>guilsinglleft</string>
		<string>guilsinglright</string>
		<string>quotedbl</string>
		<string>quotesingle</string>
		<string>quotedblbase.case</string>
		<string>quotedblleft.case</string>
		<string>quotedblright.case</string>
		<string>guillemotleft.case</string>
		<string>guillemotright.case</string>
		<string>guilsinglleft.case</string>
		<string>guilsinglright.case</string>
		<string>quotedblleft.sc</string>
		<string>quotedblright.sc</string>
		<string>quoteleft.sc</string>
		<string>quoteright.sc</string>
		<string>quotedbl.sc</string>
		<string>quotesingle.sc</string>
		<string>florin</string>
		<string>at</string>
		<string>ampersand</string>
		<string>paragraph</string>
		<string>section</string>
		<string>copyright</string>
		<string>registered</string>
		<string>trademark</string>
		<string>degree</string>
		<string>bar</string>
		<string>brokenbar</string>
		<string>dagger</string>
		<string>daggerdbl</string>
		<string>Euro</string>
		<string>cent</string>
		<string>currency</string>
		<string>dollar</string>
		<string>sterling</string>
		<string>yen</string>
		<string>plus</string>
		<string>minus</string>
		<string>multiply</string>
		<string>divide</string>
		<string>equal</string>
		<string>notequal</string>
		<string>greater</string>
		<string>less</string>
		<string>greaterequal</string>
		<string>lessequal</string>
		<string>plusminus</string>
		<string>approxequal</string>
		<string>asciitilde</string>
		<string>logicalnot</string>
		<string>asciicircum</string>
		<string>infinity</string>
		<string>emptyset</string>
		<string>integral</string>
		<string>uni2126</string>
		<string>uni2206</string>
		<string>product</string>
		<string>summation</string>
		<string>radical</string>
		<string>uni00B5</string>
		<string>partialdiff</string>
		<string>percent</string>
		<string>perthousand</string>
		<string>percent.lf</string>
		<string>perthousand.lf</string>
		<string>uni25C7</string>
		<string>lozenge</string>
		<string>uni0308</string>
		<string>uni0307</string>
		<string>gravecomb</string>
		<string>acutecomb</string>
		<string>uni030B</string>
		<string>uni030C.alt</string>
		<string>uni0302</string>
		<string>uni030C</string>
		<string>uni0306</string>
		<string>uni030A</string>
		<string>tildecomb</string>
		<string>uni0304</string>
		<string>uni0312</string>
		<string>uni0326</string>
		<string>uni0327</string>
		<string>uni0328</string>
		<string>uni0335</string>
		<string>uni0336</string>
		<string>uni0337</string>
		<string>uni0338</string>
		<string>uni0308.case</string>
		<string>uni0307.case</string>
		<string>gravecomb.case</string>
		<string>acutecomb.case</string>
		<string>uni030B.case</string>
		<string>uni0302.case</string>
		<string>uni030C.case</string>
		<string>uni0306.case</string>
		<string>uni030A.case</string>
		<string>tildecomb.case</string>
		<string>uni0304.case</string>
		<string>uni0328.case</string>
		<string>uni0335.case</string>
		<string>uni0337.case</string>
		<string>uni0308.narrow</string>
		<string>uni0308.sc</string>
		<string>uni0307.sc</string>
		<string>gravecomb.sc</string>
		<string>acutecomb.sc</string>
		<string>uni030B.sc</string>
		<string>uni030C.alt.sc</string>
		<string>uni0302.sc</string>
		<string>uni030C.sc</string>
		<string>uni0306.sc</string>
		<string>uni030A.sc</string>
		<string>tildecomb.sc</string>
		<string>uni0304.sc</string>
		<string>uni0328.sc</string>
		<string>uni0336.sc</string>
		<string>uni0337.sc</string>
		<string>uni0338.sc</string>
		<string>uni0335.case.sc</string>
		<string>dieresis</string>
		<string>dotaccent</string>
		<string>grave</string>
		<string>acute</string>
		<string>hungarumlaut</string>
		<string>circumflex</string>
		<string>caron</string>
		<string>breve</string>
		<string>ring</string>
		<string>tilde</string>
		<string>macron</string>
		<string>cedilla</string>
		<string>ogonek</string>
		<string>caron.alt</string>
		<string>C_H.ss01</string>
		<string>E_T.ss01</string>
		<string>Ecircumflex_T_E.ss01</string>
		<string>e_s.ss02</string>
		<string>f_e.ss01</string>
		<string>i_l.ss01</string>
		<string>l_e.ss01</string>
		<string>l_l.ss01</string>
		<string>n_e_s.ss01</string>
		<string>n_n_e.ss01</string>
		<string>n_n_e_s.ss01</string>
		<string>r_e.ss02</string>
		<string>t_e.ss01</string>
		<string>t_e_s.ss01</string>
		<string>u_l_l.ss01</string>
		<string>u_l_l_e.ss01</string>
		<string>x_s_e_s.ss01</string>
		<string>F_V.ss001</string>
		<string>C_Q.ss01</string>
		<string>E_U.ss01</string>
		<string>F_E.ss01</string>
		<string>L_E.ss01</string>
		<string>N_E.ss01</string>
		<string>N_E_S.ss01</string>
		<string>T_E.ss01</string>
		<string>e_s.ss01</string>
		<string>i_e.ss01</string>
		<string>r_e.ss01</string>
		<string>r_s.ss01</string>
		<string>r_s_e.ss01</string>
		<string>s_e.ss01</string>
		<string>s_t.ss01</string>
		<string>s_t_e.ss01</string>
		<string>s_t_e_s.ss01</string>
		<string>x_s.ss01</string>
		<string>x_s_e.ss01</string>
		<string>x_s_e.ss02</string>
		<string>x_s_e_s.ss02</string>
		<string>A_E</string>
		<string>A_L</string>
		<string>A_O</string>
		<string>a_e</string>
		<string>a_l</string>
		<string>a_o</string>
		<string>C_H</string>
		<string>C_Q</string>
		<string>c_h</string>
		<string>c_q</string>
		<string>D_E</string>
		<string>d_e</string>
		<string>E_A</string>
		<string>Eacute_E</string>
		<string>E_O</string>
		<string>E_S</string>
		<string>E_T</string>
		<string>E_U</string>
		<string>e_a</string>
		<string>eacute_e</string>
		<string>e_o</string>
		<string>e_s</string>
		<string>e_u</string>
		<string>F_E</string>
		<string>F_V</string>
		<string>f_e</string>
		<string>f_v</string>
		<string>I_E</string>
		<string>I_L</string>
		<string>i_e</string>
		<string>i_l</string>
		<string>L_E</string>
		<string>L_L</string>
		<string>L_U</string>
		<string>l_e</string>
		<string>l_l</string>
		<string>l_u</string>
		<string>M_P</string>
		<string>m_p</string>
		<string>N_A</string>
		<string>N_E</string>
		<string>n_a</string>
		<string>n_e</string>
		<string>n_n</string>
		<string>n_x</string>
		<string>O_F</string>
		<string>o_f</string>
		<string>o_t</string>
		<string>o_idieresis</string>
		<string>p_m</string>
		<string>r_e</string>
		<string>r_i</string>
		<string>r_s</string>
		<string>r_x</string>
		<string>s_c</string>
		<string>s_e</string>
		<string>s_l</string>
		<string>s_t</string>
		<string>T_E</string>
		<string>t_e</string>
		<string>t_egrave</string>
		<string>t_t_e</string>
		<string>U_E</string>
		<string>u_e</string>
		<string>u_l</string>
		<string>X_S</string>
		<string>x_c</string>
		<string>x_l</string>
		<string>x_s</string>
		<string>Ecircumflex_T_E</string>
		<string>ecircumflex_t_e</string>
		<string>f_f_e</string>
		<string>H_O_F</string>
		<string>h_o_f</string>
		<string>L_L_E</string>
		<string>l_l_e</string>
		<string>N_E_S</string>
		<string>n_e_s</string>
		<string>n_n_e</string>
		<string>n_n_e_s</string>
		<string>o_n_a</string>
		<string>R_S_E</string>
		<string>r_egrave</string>
		<string>r_i_c_e</string>
		<string>r_s_e</string>
		<string>s_s_e</string>
		<string>s_t_e</string>
		<string>s_t_e_s</string>
		<string>T_E_S</string>
		<string>t_e_s</string>
		<string>r_x_s_e</string>
		<string>r_x_s</string>
		<string>u_i_l</string>
		<string>u_l_l</string>
		<string>u_l_l_e</string>
		<string>u_n_e</string>
		<string>x_l_e</string>
		<string>x_l_l</string>
		<string>x_l_l_e</string>
		<string>x_s_e</string>
		<string>x_s_e_s</string>
		<string>x_s_s</string>
		<string>Xnb</string>
		<string>xnb</string>
	</array>
	<key>public.postscriptNames</key>
	<dict>
		<key>A_E</key>
		<string>uF1010</string>
		<key>A_L</key>
		<string>uF1020</string>
		<key>A_O</key>
		<string>uF1030</string>
		<key>C_H</key>
		<string>uF1410</string>
		<key>C_Q</key>
		<string>uF1440</string>
		<key>D_E</key>
		<string>uF1610</string>
		<key>E_A</key>
		<string>uF1810</string>
		<key>E_O</key>
		<string>uF1840</string>
		<key>E_S</key>
		<string>uF1850</string>
		<key>E_T</key>
		<string>uF1860</string>
		<key>E_U</key>
		<string>uF18A0</string>
		<key>Eacute_E</key>
		<string>uF1820</string>
		<key>Ecircumflex_T_E</key>
		<string>uF1890</string>
		<key>F_E</key>
		<string>uF2010</string>
		<key>F_V</key>
		<string>uF2050</string>
		<key>H_O_F</key>
		<string>uF2410</string>
		<key>I_E</key>
		<string>uF2610</string>
		<key>I_L</key>
		<string>uF2640</string>
		<key>L_E</key>
		<string>uF3210</string>
		<key>L_L</key>
		<string>uF3220</string>
		<key>L_L_E</key>
		<string>uF3230</string>
		<key>L_U</key>
		<string>uF3250</string>
		<key>M_P</key>
		<string>uF3410</string>
		<key>N_A</key>
		<string>uF3610</string>
		<key>N_E</key>
		<string>uF3620</string>
		<key>N_E_S</key>
		<string>uF3630</string>
		<key>O_F</key>
		<string>uF3810</string>
		<key>R_S_E</key>
		<string>uF44D0</string>
		<key>T_E</key>
		<string>uF4810</string>
		<key>T_E_S</key>
		<string>uF4830</string>
		<key>U_E</key>
		<string>uF5010</string>
		<key>X_S</key>
		<string>uF56A0</string>
		<key>Xnb</key>
		<string>uF5600</string>
		<key>a_e</key>
		<string>uF1110</string>
		<key>a_l</key>
		<string>uF1120</string>
		<key>a_o</key>
		<string>uF1130</string>
		<key>c_h</key>
		<string>uF1510</string>
		<key>c_q</key>
		<string>uF1540</string>
		<key>d_e</key>
		<string>uF1710</string>
		<key>e_a</key>
		<string>uF1910</string>
		<key>e_o</key>
		<string>uF1940</string>
		<key>e_s</key>
		<string>uF1950</string>
		<key>e_u</key>
		<string>uF19A0</string>
		<key>eacute_e</key>
		<string>uF1920</string>
		<key>ecircumflex_t_e</key>
		<string>uF1990</string>
		<key>f_e</key>
		<string>uF2110</string>
		<key>f_f_e</key>
		<string>uF2130</string>
		<key>f_v</key>
		<string>uF2150</string>
		<key>h_o_f</key>
		<string>uF2510</string>
		<key>i_e</key>
		<string>uF2710</string>
		<key>i_l</key>
		<string>uF2740</string>
		<key>l_e</key>
		<string>uF3310</string>
		<key>l_l</key>
		<string>uF3320</string>
		<key>l_l_e</key>
		<string>uF3330</string>
		<key>l_u</key>
		<string>uF3350</string>
		<key>m_p</key>
		<string>uF3510</string>
		<key>n_a</key>
		<string>uF3710</string>
		<key>n_e</key>
		<string>uF3720</string>
		<key>n_e_s</key>
		<string>uF3730</string>
		<key>n_n</key>
		<string>uF3740</string>
		<key>n_n_e</key>
		<string>uF3750</string>
		<key>n_n_e_s</key>
		<string>uF3760</string>
		<key>n_x</key>
		<string>uF3770</string>
		<key>o_f</key>
		<string>uF3910</string>
		<key>o_idieresis</key>
		<string>uF3970</string>
		<key>o_n_a</key>
		<string>uF3930</string>
		<key>o_t</key>
		<string>uF3940</string>
		<key>p_m</key>
		<string>uF4110</string>
		<key>r_e</key>
		<string>uF4510</string>
		<key>r_egrave</key>
		<string>uF4520</string>
		<key>r_i</key>
		<string>uF4570</string>
		<key>r_i_c_e</key>
		<string>uF4590</string>
		<key>r_s</key>
		<string>uF45C0</string>
		<key>r_s_e</key>
		<string>uF45D0</string>
		<key>r_x</key>
		<string>uF45F0</string>
		<key>r_x_s</key>
		<string>uF4B30</string>
		<key>r_x_s_e</key>
		<string>uF4B00</string>
		<key>s_c</key>
		<string>uF4710</string>
		<key>s_e</key>
		<string>uF4740</string>
		<key>s_l</key>
		<string>uF4760</string>
		<key>s_s_e</key>
		<string>uF47A0</string>
		<key>s_t</key>
		<string>uF47C0</string>
		<key>s_t_e</key>
		<string>uF47D0</string>
		<key>s_t_e_s</key>
		<string>uF47E0</string>
		<key>t_e</key>
		<string>uF4910</string>
		<key>t_e_s</key>
		<string>uF4930</string>
		<key>t_egrave</key>
		<string>uF4920</string>
		<key>t_t_e</key>
		<string>uF4980</string>
		<key>u_e</key>
		<string>uF5110</string>
		<key>u_i_l</key>
		<string>uF5130</string>
		<key>u_l</key>
		<string>uF5150</string>
		<key>u_l_l</key>
		<string>uF5160</string>
		<key>u_l_l_e</key>
		<string>uF5170</string>
		<key>u_n_e</key>
		<string>uF5190</string>
		<key>x_c</key>
		<string>uF5710</string>
		<key>x_l</key>
		<string>uF5740</string>
		<key>x_l_e</key>
		<string>uF5750</string>
		<key>x_l_l</key>
		<string>uF5770</string>
		<key>x_l_l_e</key>
		<string>uF5780</string>
		<key>x_s</key>
		<string>uF57A0</string>
		<key>x_s_e</key>
		<string>uF57B0</string>
		<key>x_s_e_s</key>
		<string>uF57C0</string>
		<key>x_s_s</key>
		<string>uF57D0</string>
		<key>xnb</key>
		<string>uF5700</string>
	</dict>
</dict>
</plist>
