<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>.notdef</key>
    <string>_notdef.glif</string>
    <key>A</key>
    <string>A_.glif</string>
    <key>AE</key>
    <string>A_E_.glif</string>
    <key>A_E</key>
    <string>A__E_.glif</string>
    <key>A_O</key>
    <string>A__O_.glif</string>
    <key>A_O_N</key>
    <string>A__O__N_.glif</string>
    <key>A_U_L_A</key>
    <string>A__U__L__A_.glif</string>
    <key>B</key>
    <string>B_.glif</string>
    <key>C</key>
    <string>C_.glif</string>
    <key>C_H</key>
    <string>C__H_.glif</string>
    <key>C_H_E</key>
    <string>C__H__E_.glif</string>
    <key>C_Q</key>
    <string>C__Q_.glif</string>
    <key>C_Q_U_E</key>
    <string>C__Q__U__E_.glif</string>
    <key>D</key>
    <string>D_.glif</string>
    <key>D_E</key>
    <string>D__E_.glif</string>
    <key>D_U_D_E_L_A</key>
    <string>D__U__D__E__L__A_.glif</string>
    <key>E</key>
    <string>E_.glif</string>
    <key>E_A</key>
    <string>E__A_.glif</string>
    <key>E_S</key>
    <string>E__S_.glif</string>
    <key>E_S_S_E</key>
    <string>E__S__S__E_.glif</string>
    <key>E_T</key>
    <string>E__T_.glif</string>
    <key>E_T_T_E</key>
    <string>E__T__T__E_.glif</string>
    <key>E_U</key>
    <string>E__U_.glif</string>
    <key>Eacute_E</key>
    <string>E_acute_E_.glif</string>
    <key>Eng</key>
    <string>E_ng.glif</string>
    <key>F</key>
    <string>F_.glif</string>
    <key>F_F_E</key>
    <string>F__F__E_.glif</string>
    <key>F_V</key>
    <string>F__V_.glif</string>
    <key>F_V_E</key>
    <string>F__V__E_.glif</string>
    <key>Fhook</key>
    <string>F_hook.glif</string>
    <key>G</key>
    <string>G_.glif</string>
    <key>G_U</key>
    <string>G__U_.glif</string>
    <key>G_U_E</key>
    <string>G__U__E_.glif</string>
    <key>Germandbls</key>
    <string>G_ermandbls.glif</string>
    <key>H</key>
    <string>H_.glif</string>
    <key>H_O_F</key>
    <string>H__O__F_.glif</string>
    <key>I</key>
    <string>I_.glif</string>
    <key>I_E</key>
    <string>I__E_.glif</string>
    <key>J</key>
    <string>J_.glif</string>
    <key>J.ss01</key>
    <string>J_.ss01.glif</string>
    <key>K</key>
    <string>K_.glif</string>
    <key>L</key>
    <string>L_.glif</string>
    <key>L_E</key>
    <string>L__E_.glif</string>
    <key>L_L</key>
    <string>L__L_.glif</string>
    <key>L_L_E</key>
    <string>L__L__E_.glif</string>
    <key>L_U</key>
    <string>L__U_.glif</string>
    <key>M</key>
    <string>M_.glif</string>
    <key>M_P</key>
    <string>M__P_.glif</string>
    <key>N</key>
    <string>N_.glif</string>
    <key>N_E</key>
    <string>N__E_.glif</string>
    <key>N_N</key>
    <string>N__N_.glif</string>
    <key>N_N_E</key>
    <string>N__N__E_.glif</string>
    <key>O</key>
    <string>O_.glif</string>
    <key>OE</key>
    <string>O_E_.glif</string>
    <key>O_F</key>
    <string>O__F_.glif</string>
    <key>O_Idieresis</key>
    <string>O__I_dieresis.glif</string>
    <key>O_Idieresis_N_E</key>
    <string>O__I_dieresis_N__E_.glif</string>
    <key>O_T</key>
    <string>O__T_.glif</string>
    <key>O_T_E</key>
    <string>O__T__E_.glif</string>
    <key>P</key>
    <string>P_.glif</string>
    <key>P_E</key>
    <string>P__E_.glif</string>
    <key>P_M</key>
    <string>P__M_.glif</string>
    <key>Q</key>
    <string>Q_.glif</string>
    <key>R</key>
    <string>R_.glif</string>
    <key>R_E</key>
    <string>R__E_.glif</string>
    <key>R_I</key>
    <string>R__I_.glif</string>
    <key>R_I_C_E</key>
    <string>R__I__C__E_.glif</string>
    <key>R_S</key>
    <string>R__S_.glif</string>
    <key>R_S_E</key>
    <string>R__S__E_.glif</string>
    <key>S</key>
    <string>S_.glif</string>
    <key>S_C</key>
    <string>S__C_.glif</string>
    <key>S_C_E</key>
    <string>S__C__E_.glif</string>
    <key>S_E</key>
    <string>S__E_.glif</string>
    <key>S_L</key>
    <string>S__L_.glif</string>
    <key>S_L_L_E</key>
    <string>S__L__L__E_.glif</string>
    <key>S_S</key>
    <string>S__S_.glif</string>
    <key>S_S_E</key>
    <string>S__S__E_.glif</string>
    <key>S_T</key>
    <string>S__T_.glif</string>
    <key>S_T_E_S</key>
    <string>S__T__E__S_.glif</string>
    <key>T</key>
    <string>T_.glif</string>
    <key>T_E</key>
    <string>T__E_.glif</string>
    <key>T_T</key>
    <string>T__T_.glif</string>
    <key>T_T_E</key>
    <string>T__T__E_.glif</string>
    <key>Thorn</key>
    <string>T_horn.glif</string>
    <key>U</key>
    <string>U_.glif</string>
    <key>U_E</key>
    <string>U__E_.glif</string>
    <key>U_L</key>
    <string>U__L_.glif</string>
    <key>U_L_L_E</key>
    <string>U__L__L__E_.glif</string>
    <key>Uogonek</key>
    <string>U_ogonek.glif</string>
    <key>V</key>
    <string>V_.glif</string>
    <key>W</key>
    <string>W_.glif</string>
    <key>X</key>
    <string>X_.glif</string>
    <key>X_C</key>
    <string>X__C_.glif</string>
    <key>X_C_E</key>
    <string>X__C__E_.glif</string>
    <key>X_L</key>
    <string>X__L_.glif</string>
    <key>X_L_E_S</key>
    <string>X__L__E__S_.glif</string>
    <key>X_L_L_E_S</key>
    <string>X__L__L__E__S_.glif</string>
    <key>X_S</key>
    <string>X__S_.glif</string>
    <key>X_S_E</key>
    <string>X__S__E_.glif</string>
    <key>X_S_S_E</key>
    <string>X__S__S__E_.glif</string>
    <key>Xnb</key>
    <string>X_nb.glif</string>
    <key>Y</key>
    <string>Y_.glif</string>
    <key>Y.ss01</key>
    <string>Y_.ss01.glif</string>
    <key>Z</key>
    <string>Z_.glif</string>
    <key>_E.cutlong</key>
    <string>_E_.cutlong.glif</string>
    <key>_bout-a</key>
    <string>_bout-a.glif</string>
    <key>a</key>
    <string>a.glif</string>
    <key>a.sups</key>
    <string>a.sups.glif</string>
    <key>a_e</key>
    <string>a_e.glif</string>
    <key>a_o</key>
    <string>a_o.glif</string>
    <key>a_o_n</key>
    <string>a_o_n.glif</string>
    <key>a_u_l_a</key>
    <string>a_u_l_a.glif</string>
    <key>acutecomb</key>
    <string>acutecomb.glif</string>
    <key>acutecomb.case</key>
    <string>acutecomb.case.glif</string>
    <key>ampersand</key>
    <string>ampersand.glif</string>
    <key>ampersand.ss01</key>
    <string>ampersand.ss01.glif</string>
    <key>at</key>
    <string>at.glif</string>
    <key>b</key>
    <string>b.glif</string>
    <key>bar</key>
    <string>bar.glif</string>
    <key>braceleft</key>
    <string>braceleft.glif</string>
    <key>braceright</key>
    <string>braceright.glif</string>
    <key>bracketright</key>
    <string>bracketright.glif</string>
    <key>brevecomb</key>
    <string>brevecomb.glif</string>
    <key>brevecomb.case</key>
    <string>brevecomb.case.glif</string>
    <key>brokenbar</key>
    <string>brokenbar.glif</string>
    <key>c</key>
    <string>c.glif</string>
    <key>c_h</key>
    <string>c_h.glif</string>
    <key>c_h_e</key>
    <string>c_h_e.glif</string>
    <key>c_q</key>
    <string>c_q.glif</string>
    <key>c_q_u_e</key>
    <string>c_q_u_e.glif</string>
    <key>caroncomb</key>
    <string>caroncomb.glif</string>
    <key>caroncomb.case</key>
    <string>caroncomb.case.glif</string>
    <key>cedillacomb</key>
    <string>cedillacomb.glif</string>
    <key>circumflexcomb.case</key>
    <string>circumflexcomb.case.glif</string>
    <key>comma</key>
    <string>comma.glif</string>
    <key>commaaccentcomb</key>
    <string>commaaccentcomb.glif</string>
    <key>commaturnedabovecomb</key>
    <string>commaturnedabovecomb.glif</string>
    <key>copyright</key>
    <string>copyright.glif</string>
    <key>d</key>
    <string>d.glif</string>
    <key>d.sups</key>
    <string>d.sups.glif</string>
    <key>d_e</key>
    <string>d_e.glif</string>
    <key>d_u_d_e_l_a</key>
    <string>d_u_d_e_l_a.glif</string>
    <key>daggerdbl</key>
    <string>daggerdbl.glif</string>
    <key>degree</key>
    <string>degree.glif</string>
    <key>dieresiscomb</key>
    <string>dieresiscomb.glif</string>
    <key>dieresiscomb.case</key>
    <string>dieresiscomb.case.glif</string>
    <key>dieresiscomb.narrow</key>
    <string>dieresiscomb.narrow.glif</string>
    <key>divide</key>
    <string>divide.glif</string>
    <key>dotaccentcomb</key>
    <string>dotaccentcomb.glif</string>
    <key>dotaccentcomb.case</key>
    <string>dotaccentcomb.case.glif</string>
    <key>e</key>
    <string>e.glif</string>
    <key>e.sups</key>
    <string>e.sups.glif</string>
    <key>e_a</key>
    <string>e_a.glif</string>
    <key>e_s</key>
    <string>e_s.glif</string>
    <key>e_s_s_e</key>
    <string>e_s_s_e.glif</string>
    <key>e_t</key>
    <string>e_t.glif</string>
    <key>e_t_t_e</key>
    <string>e_t_t_e.glif</string>
    <key>e_u</key>
    <string>e_u.glif</string>
    <key>eacute_e</key>
    <string>eacute_e.glif</string>
    <key>eight</key>
    <string>eight.glif</string>
    <key>eight.lf</key>
    <string>eight.lf.glif</string>
    <key>eight.sups</key>
    <string>eight.sups.glif</string>
    <key>eight.tf</key>
    <string>eight.tf.glif</string>
    <key>eng</key>
    <string>eng.glif</string>
    <key>eth</key>
    <string>eth.glif</string>
    <key>euro</key>
    <string>euro.glif</string>
    <key>euro.tf</key>
    <string>euro.tf.glif</string>
    <key>exclam</key>
    <string>exclam.glif</string>
    <key>exclamdown</key>
    <string>exclamdown.glif</string>
    <key>f</key>
    <string>f.glif</string>
    <key>f.calt</key>
    <string>f.calt.glif</string>
    <key>f.fina</key>
    <string>f.fina.glif</string>
    <key>f.init</key>
    <string>f.init.glif</string>
    <key>f.med</key>
    <string>f.med.glif</string>
    <key>f_b.liga</key>
    <string>f_b.liga.glif</string>
    <key>f_e</key>
    <string>f_e.glif</string>
    <key>f_f.init</key>
    <string>f_f.init.glif</string>
    <key>f_f.liga</key>
    <string>f_f.liga.glif</string>
    <key>f_f_b.liga</key>
    <string>f_f_b.liga.glif</string>
    <key>f_f_e</key>
    <string>f_f_e.glif</string>
    <key>f_f_h.liga</key>
    <string>f_f_h.liga.glif</string>
    <key>f_f_j.liga</key>
    <string>f_f_j.liga.glif</string>
    <key>f_f_k.liga</key>
    <string>f_f_k.liga.glif</string>
    <key>f_f_l.liga</key>
    <string>f_f_l.liga.glif</string>
    <key>f_f_t.liga</key>
    <string>f_f_t.liga.glif</string>
    <key>f_h.liga</key>
    <string>f_h.liga.glif</string>
    <key>f_j.liga</key>
    <string>f_j.liga.glif</string>
    <key>f_k.liga</key>
    <string>f_k.liga.glif</string>
    <key>f_v</key>
    <string>f_v.glif</string>
    <key>f_v_e</key>
    <string>f_v_e.glif</string>
    <key>five</key>
    <string>five.glif</string>
    <key>five.lf</key>
    <string>five.lf.glif</string>
    <key>five.sups</key>
    <string>five.sups.glif</string>
    <key>five.tf</key>
    <string>five.tf.glif</string>
    <key>fl</key>
    <string>fl.glif</string>
    <key>four</key>
    <string>four.glif</string>
    <key>four.lf</key>
    <string>four.lf.glif</string>
    <key>four.sups</key>
    <string>four.sups.glif</string>
    <key>four.tf</key>
    <string>four.tf.glif</string>
    <key>fraction</key>
    <string>fraction.glif</string>
    <key>g</key>
    <string>g.glif</string>
    <key>g_u</key>
    <string>g_u.glif</string>
    <key>g_u_e</key>
    <string>g_u_e.glif</string>
    <key>germandbls</key>
    <string>germandbls.glif</string>
    <key>gravecomb</key>
    <string>gravecomb.glif</string>
    <key>gravecomb.case</key>
    <string>gravecomb.case.glif</string>
    <key>guilsinglleft</key>
    <string>guilsinglleft.glif</string>
    <key>h</key>
    <string>h.glif</string>
    <key>h.sups</key>
    <string>h.sups.glif</string>
    <key>h_o_f</key>
    <string>h_o_f.glif</string>
    <key>hungarumlautcomb</key>
    <string>hungarumlautcomb.glif</string>
    <key>hungarumlautcomb.case</key>
    <string>hungarumlautcomb.case.glif</string>
    <key>i_e</key>
    <string>i_e.glif</string>
    <key>idotless</key>
    <string>idotless.glif</string>
    <key>infinity</key>
    <string>infinity.glif</string>
    <key>jdotless</key>
    <string>jdotless.glif</string>
    <key>jdotless.calt</key>
    <string>jdotless.calt.glif</string>
    <key>k</key>
    <string>k.glif</string>
    <key>l</key>
    <string>l.glif</string>
    <key>l_e</key>
    <string>l_e.glif</string>
    <key>l_l</key>
    <string>l_l.glif</string>
    <key>l_l_e</key>
    <string>l_l_e.glif</string>
    <key>l_u</key>
    <string>l_u.glif</string>
    <key>m</key>
    <string>m.glif</string>
    <key>m.sups</key>
    <string>m.sups.glif</string>
    <key>m_p</key>
    <string>m_p.glif</string>
    <key>macroncomb</key>
    <string>macroncomb.glif</string>
    <key>macroncomb.case</key>
    <string>macroncomb.case.glif</string>
    <key>micro</key>
    <string>micro.glif</string>
    <key>n</key>
    <string>n.glif</string>
    <key>n.sups</key>
    <string>n.sups.glif</string>
    <key>n_e</key>
    <string>n_e.glif</string>
    <key>n_n</key>
    <string>n_n.glif</string>
    <key>n_n_e</key>
    <string>n_n_e.glif</string>
    <key>o</key>
    <string>o.glif</string>
    <key>o.sups</key>
    <string>o.sups.glif</string>
    <key>o_f</key>
    <string>o_f.glif</string>
    <key>o_idieresis</key>
    <string>o_idieresis.glif</string>
    <key>o_idieresis_n_e</key>
    <string>o_idieresis_n_e.glif</string>
    <key>o_t</key>
    <string>o_t.glif</string>
    <key>o_t_e</key>
    <string>o_t_e.glif</string>
    <key>ogonekcomb</key>
    <string>ogonekcomb.glif</string>
    <key>ogonekcomb.case</key>
    <string>ogonekcomb.case.glif</string>
    <key>one</key>
    <string>one.glif</string>
    <key>one.lf</key>
    <string>one.lf.glif</string>
    <key>one.sups</key>
    <string>one.sups.glif</string>
    <key>one.tf</key>
    <string>one.tf.glif</string>
    <key>p</key>
    <string>p.glif</string>
    <key>p_e</key>
    <string>p_e.glif</string>
    <key>p_m</key>
    <string>p_m.glif</string>
    <key>paragraph</key>
    <string>paragraph.glif</string>
    <key>parenleft</key>
    <string>parenleft.glif</string>
    <key>parenright</key>
    <string>parenright.glif</string>
    <key>percent</key>
    <string>percent.glif</string>
    <key>percent.lf</key>
    <string>percent.lf.glif</string>
    <key>period</key>
    <string>period.glif</string>
    <key>q</key>
    <string>q.glif</string>
    <key>q.calt</key>
    <string>q.calt.glif</string>
    <key>questiondown</key>
    <string>questiondown.glif</string>
    <key>quotedblright.case</key>
    <string>quotedblright.case.glif</string>
    <key>quoteright</key>
    <string>quoteright.glif</string>
    <key>quoteright.case</key>
    <string>quoteright.case.glif</string>
    <key>quotesingle</key>
    <string>quotesingle.glif</string>
    <key>r</key>
    <string>r.glif</string>
    <key>r.sups</key>
    <string>r.sups.glif</string>
    <key>r_e</key>
    <string>r_e.glif</string>
    <key>r_i</key>
    <string>r_i.glif</string>
    <key>r_i_c_e</key>
    <string>r_i_c_e.glif</string>
    <key>r_s</key>
    <string>r_s.glif</string>
    <key>r_s_e</key>
    <string>r_s_e.glif</string>
    <key>registered</key>
    <string>registered.glif</string>
    <key>ringcomb</key>
    <string>ringcomb.glif</string>
    <key>ringcomb.case</key>
    <string>ringcomb.case.glif</string>
    <key>s</key>
    <string>s.glif</string>
    <key>s.sups</key>
    <string>s.sups.glif</string>
    <key>s_c</key>
    <string>s_c.glif</string>
    <key>s_c_e</key>
    <string>s_c_e.glif</string>
    <key>s_e</key>
    <string>s_e.glif</string>
    <key>s_l</key>
    <string>s_l.glif</string>
    <key>s_l_l_e</key>
    <string>s_l_l_e.glif</string>
    <key>s_s</key>
    <string>s_s.glif</string>
    <key>s_s_e</key>
    <string>s_s_e.glif</string>
    <key>s_t</key>
    <string>s_t.glif</string>
    <key>s_t_e_s</key>
    <string>s_t_e_s.glif</string>
    <key>section</key>
    <string>section.glif</string>
    <key>seven</key>
    <string>seven.glif</string>
    <key>seven.lf</key>
    <string>seven.lf.glif</string>
    <key>seven.sups</key>
    <string>seven.sups.glif</string>
    <key>seven.tf</key>
    <string>seven.tf.glif</string>
    <key>six</key>
    <string>six.glif</string>
    <key>six.lf</key>
    <string>six.lf.glif</string>
    <key>six.sups</key>
    <string>six.sups.glif</string>
    <key>six.tf</key>
    <string>six.tf.glif</string>
    <key>slash</key>
    <string>slash.glif</string>
    <key>slashlongcomb</key>
    <string>slashlongcomb.glif</string>
    <key>slashshortcomb</key>
    <string>slashshortcomb.glif</string>
    <key>slashshortcomb.case</key>
    <string>slashshortcomb.case.glif</string>
    <key>sterling</key>
    <string>sterling.glif</string>
    <key>sterling.tf</key>
    <string>sterling.tf.glif</string>
    <key>strokelongcomb</key>
    <string>strokelongcomb.glif</string>
    <key>strokeshortcomb</key>
    <string>strokeshortcomb.glif</string>
    <key>strokeshortcomb.case</key>
    <string>strokeshortcomb.case.glif</string>
    <key>t</key>
    <string>t.glif</string>
    <key>t.sups</key>
    <string>t.sups.glif</string>
    <key>t_e</key>
    <string>t_e.glif</string>
    <key>t_t</key>
    <string>t_t.glif</string>
    <key>t_t_e</key>
    <string>t_t_e.glif</string>
    <key>thorn</key>
    <string>thorn.glif</string>
    <key>three</key>
    <string>three.glif</string>
    <key>three.lf</key>
    <string>three.lf.glif</string>
    <key>three.sups</key>
    <string>three.sups.glif</string>
    <key>three.tf</key>
    <string>three.tf.glif</string>
    <key>tildecomb</key>
    <string>tildecomb.glif</string>
    <key>tildecomb.case</key>
    <string>tildecomb.case.glif</string>
    <key>two</key>
    <string>two.glif</string>
    <key>two.lf</key>
    <string>two.lf.glif</string>
    <key>two.sups</key>
    <string>two.sups.glif</string>
    <key>two.tf</key>
    <string>two.tf.glif</string>
    <key>u</key>
    <string>u.glif</string>
    <key>u_e</key>
    <string>u_e.glif</string>
    <key>u_l</key>
    <string>u_l.glif</string>
    <key>u_l_l_e</key>
    <string>u_l_l_e.glif</string>
    <key>v</key>
    <string>v.glif</string>
    <key>w</key>
    <string>w.glif</string>
    <key>w.alt</key>
    <string>w.alt.glif</string>
    <key>w_w_w</key>
    <string>w_w_w.glif</string>
    <key>x</key>
    <string>x.glif</string>
    <key>x_c</key>
    <string>x_c.glif</string>
    <key>x_c_e</key>
    <string>x_c_e.glif</string>
    <key>x_l</key>
    <string>x_l.glif</string>
    <key>x_l_e_s</key>
    <string>x_l_e_s.glif</string>
    <key>x_l_l_e_s</key>
    <string>x_l_l_e_s.glif</string>
    <key>x_s</key>
    <string>x_s.glif</string>
    <key>x_s_e</key>
    <string>x_s_e.glif</string>
    <key>x_s_s_e</key>
    <string>x_s_s_e.glif</string>
    <key>xnb</key>
    <string>xnb.glif</string>
    <key>y</key>
    <string>y.glif</string>
    <key>z</key>
    <string>z.glif</string>
    <key>zero</key>
    <string>zero.glif</string>
    <key>zero.lf</key>
    <string>zero.lf.glif</string>
    <key>zero.sups</key>
    <string>zero.sups.glif</string>
    <key>zero.tf</key>
    <string>zero.tf.glif</string>
  </dict>
</plist>
