<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>A</key>
    <string>A_.glif</string>
    <key>AE</key>
    <string>A_E_.glif</string>
    <key>AEmacron</key>
    <string>A_E_macron.glif</string>
    <key>A_E</key>
    <string>A__E_.glif</string>
    <key>A_O</key>
    <string>A__O_.glif</string>
    <key>A_U_L_A</key>
    <string>A__U__L__A_.glif</string>
    <key>Aacute</key>
    <string>A_acute.glif</string>
    <key>Abreve</key>
    <string>A_breve.glif</string>
    <key>Abrevedotbelow</key>
    <string>A_brevedotbelow.glif</string>
    <key>Acaron</key>
    <string>A_caron.glif</string>
    <key>Acircumflex</key>
    <string>A_circumflex.glif</string>
    <key>Acircumflexdotbelow</key>
    <string>A_circumflexdotbelow.glif</string>
    <key>Adieresis</key>
    <string>A_dieresis.glif</string>
    <key>Adotbelow</key>
    <string>A_dotbelow.glif</string>
    <key>Agrave</key>
    <string>A_grave.glif</string>
    <key>Amacron</key>
    <string>A_macron.glif</string>
    <key>Aogonek</key>
    <string>A_ogonek.glif</string>
    <key>Aring</key>
    <string>A_ring.glif</string>
    <key>Atilde</key>
    <string>A_tilde.glif</string>
    <key>B</key>
    <string>B_.glif</string>
    <key>Bdotbelow</key>
    <string>B_dotbelow.glif</string>
    <key>C</key>
    <string>C_.glif</string>
    <key>C_H</key>
    <string>C__H_.glif</string>
    <key>C_Q</key>
    <string>C__Q_.glif</string>
    <key>Cacute</key>
    <string>C_acute.glif</string>
    <key>Ccaron</key>
    <string>C_caron.glif</string>
    <key>Ccedilla</key>
    <string>C_cedilla.glif</string>
    <key>Ccircumflex</key>
    <string>C_circumflex.glif</string>
    <key>Cdotaccent</key>
    <string>C_dotaccent.glif</string>
    <key>D</key>
    <string>D_.glif</string>
    <key>D_U_D_E_L_A</key>
    <string>D__U__D__E__L__A_.glif</string>
    <key>Dcaron</key>
    <string>D_caron.glif</string>
    <key>Dcircumflexbelow</key>
    <string>D_circumflexbelow.glif</string>
    <key>Dcroat</key>
    <string>D_croat.glif</string>
    <key>Ddotbelow</key>
    <string>D_dotbelow.glif</string>
    <key>Dmacronbelow</key>
    <string>D_macronbelow.glif</string>
    <key>E</key>
    <string>E_.glif</string>
    <key>E_A</key>
    <string>E__A_.glif</string>
    <key>E_S_S</key>
    <string>E__S__S_.glif</string>
    <key>E_T_T</key>
    <string>E__T__T_.glif</string>
    <key>E_U</key>
    <string>E__U_.glif</string>
    <key>Eacute</key>
    <string>E_acute.glif</string>
    <key>Ecaron</key>
    <string>E_caron.glif</string>
    <key>Ecedilla</key>
    <string>E_cedilla.glif</string>
    <key>Ecircumflex</key>
    <string>E_circumflex.glif</string>
    <key>Ecircumflexdotbelow</key>
    <string>E_circumflexdotbelow.glif</string>
    <key>Edieresis</key>
    <string>E_dieresis.glif</string>
    <key>Edotaccent</key>
    <string>E_dotaccent.glif</string>
    <key>Edotbelow</key>
    <string>E_dotbelow.glif</string>
    <key>Egrave</key>
    <string>E_grave.glif</string>
    <key>Emacron</key>
    <string>E_macron.glif</string>
    <key>Enb</key>
    <string>E_nb.glif</string>
    <key>Eng</key>
    <string>E_ng.glif</string>
    <key>Eogonek</key>
    <string>E_ogonek.glif</string>
    <key>Eopen</key>
    <string>E_open.glif</string>
    <key>Ereversed</key>
    <string>E_reversed.glif</string>
    <key>Eth</key>
    <string>E_th.glif</string>
    <key>Etilde</key>
    <string>E_tilde.glif</string>
    <key>F</key>
    <string>F_.glif</string>
    <key>F_F_E</key>
    <string>F__F__E_.glif</string>
    <key>F_V</key>
    <string>F__V_.glif</string>
    <key>G</key>
    <string>G_.glif</string>
    <key>G_U</key>
    <string>G__U_.glif</string>
    <key>Gbreve</key>
    <string>G_breve.glif</string>
    <key>Gcaron</key>
    <string>G_caron.glif</string>
    <key>Gcircumflex</key>
    <string>G_circumflex.glif</string>
    <key>Gcommaaccent</key>
    <string>G_commaaccent.glif</string>
    <key>Gdotaccent</key>
    <string>G_dotaccent.glif</string>
    <key>Germandbls</key>
    <string>G_ermandbls.glif</string>
    <key>Gmacron</key>
    <string>G_macron.glif</string>
    <key>Gstroke</key>
    <string>G_stroke.glif</string>
    <key>H</key>
    <string>H_.glif</string>
    <key>Hbar</key>
    <string>H_bar.glif</string>
    <key>Hbrevebelow</key>
    <string>H_brevebelow.glif</string>
    <key>Hcircumflex</key>
    <string>H_circumflex.glif</string>
    <key>Hdotbelow</key>
    <string>H_dotbelow.glif</string>
    <key>I</key>
    <string>I_.glif</string>
    <key>IJ</key>
    <string>I_J_.glif</string>
    <key>Iacute</key>
    <string>I_acute.glif</string>
    <key>Icaron</key>
    <string>I_caron.glif</string>
    <key>Icircumflex</key>
    <string>I_circumflex.glif</string>
    <key>Idieresis</key>
    <string>I_dieresis.glif</string>
    <key>Idotaccent</key>
    <string>I_dotaccent.glif</string>
    <key>Idotbelow</key>
    <string>I_dotbelow.glif</string>
    <key>Igrave</key>
    <string>I_grave.glif</string>
    <key>Imacron</key>
    <string>I_macron.glif</string>
    <key>Iogonek</key>
    <string>I_ogonek.glif</string>
    <key>Itilde</key>
    <string>I_tilde.glif</string>
    <key>J</key>
    <string>J_.glif</string>
    <key>Jacute</key>
    <string>J_acute.glif</string>
    <key>Jcircumflex</key>
    <string>J_circumflex.glif</string>
    <key>K</key>
    <string>K_.glif</string>
    <key>Kcaron</key>
    <string>K_caron.glif</string>
    <key>Kcommaaccent</key>
    <string>K_commaaccent.glif</string>
    <key>Kmacronbelow</key>
    <string>K_macronbelow.glif</string>
    <key>L</key>
    <string>L_.glif</string>
    <key>L_L</key>
    <string>L__L_.glif</string>
    <key>L_U</key>
    <string>L__U_.glif</string>
    <key>Lacute</key>
    <string>L_acute.glif</string>
    <key>Lcaron</key>
    <string>L_caron.glif</string>
    <key>Lcircumflexbelow</key>
    <string>L_circumflexbelow.glif</string>
    <key>Lcommaaccent</key>
    <string>L_commaaccent.glif</string>
    <key>Lcommaaccent.loclMAH</key>
    <string>L_commaaccent.loclM_A_H_.glif</string>
    <key>Ldotbelow</key>
    <string>L_dotbelow.glif</string>
    <key>Ldotbelowmacron</key>
    <string>L_dotbelowmacron.glif</string>
    <key>Lmacronbelow</key>
    <string>L_macronbelow.glif</string>
    <key>Lslash</key>
    <string>L_slash.glif</string>
    <key>M</key>
    <string>M_.glif</string>
    <key>M_P</key>
    <string>M__P_.glif</string>
    <key>Macute</key>
    <string>M_acute.glif</string>
    <key>Mdotaccent</key>
    <string>M_dotaccent.glif</string>
    <key>Mdotbelow</key>
    <string>M_dotbelow.glif</string>
    <key>N</key>
    <string>N_.glif</string>
    <key>N_N</key>
    <string>N__N_.glif</string>
    <key>Nacute</key>
    <string>N_acute.glif</string>
    <key>Ncaron</key>
    <string>N_caron.glif</string>
    <key>Ncircumflexbelow</key>
    <string>N_circumflexbelow.glif</string>
    <key>Ncommaaccent</key>
    <string>N_commaaccent.glif</string>
    <key>Ncommaaccent.loclMAH</key>
    <string>N_commaaccent.loclM_A_H_.glif</string>
    <key>Ndotaccent</key>
    <string>N_dotaccent.glif</string>
    <key>Ndotbelow</key>
    <string>N_dotbelow.glif</string>
    <key>Nmacronbelow</key>
    <string>N_macronbelow.glif</string>
    <key>Ntilde</key>
    <string>N_tilde.glif</string>
    <key>O</key>
    <string>O_.glif</string>
    <key>OE</key>
    <string>O_E_.glif</string>
    <key>O_F</key>
    <string>O__F_.glif</string>
    <key>O_Idieresis</key>
    <string>O__I_dieresis.glif</string>
    <key>O_T</key>
    <string>O__T_.glif</string>
    <key>Oacute</key>
    <string>O_acute.glif</string>
    <key>Ocaron</key>
    <string>O_caron.glif</string>
    <key>Ocircumflex</key>
    <string>O_circumflex.glif</string>
    <key>Ocircumflexdotbelow</key>
    <string>O_circumflexdotbelow.glif</string>
    <key>Odieresis</key>
    <string>O_dieresis.glif</string>
    <key>Odotbelow</key>
    <string>O_dotbelow.glif</string>
    <key>Ograve</key>
    <string>O_grave.glif</string>
    <key>Ohungarumlaut</key>
    <string>O_hungarumlaut.glif</string>
    <key>Omacron</key>
    <string>O_macron.glif</string>
    <key>Oslash</key>
    <string>O_slash.glif</string>
    <key>Oslashacute</key>
    <string>O_slashacute.glif</string>
    <key>Otilde</key>
    <string>O_tilde.glif</string>
    <key>P</key>
    <string>P_.glif</string>
    <key>P_M</key>
    <string>P__M_.glif</string>
    <key>Q</key>
    <string>Q_.glif</string>
    <key>R</key>
    <string>R_.glif</string>
    <key>R_E_U_S_E</key>
    <string>R__E__U__S__E_.glif</string>
    <key>R_I</key>
    <string>R__I_.glif</string>
    <key>Racute</key>
    <string>R_acute.glif</string>
    <key>Rcaron</key>
    <string>R_caron.glif</string>
    <key>Rcommaaccent</key>
    <string>R_commaaccent.glif</string>
    <key>Rdotbelowmacron</key>
    <string>R_dotbelowmacron.glif</string>
    <key>Rmacronbelow</key>
    <string>R_macronbelow.glif</string>
    <key>S</key>
    <string>S_.glif</string>
    <key>S_C</key>
    <string>S__C_.glif</string>
    <key>S_L</key>
    <string>S__L_.glif</string>
    <key>S_S</key>
    <string>S__S_.glif</string>
    <key>S_T</key>
    <string>S__T_.glif</string>
    <key>Sacute</key>
    <string>S_acute.glif</string>
    <key>Saltillo</key>
    <string>S_altillo.glif</string>
    <key>Scaron</key>
    <string>S_caron.glif</string>
    <key>Scedilla</key>
    <string>S_cedilla.glif</string>
    <key>Schwa</key>
    <string>S_chwa.glif</string>
    <key>Scircumflex</key>
    <string>S_circumflex.glif</string>
    <key>Scommaaccent</key>
    <string>S_commaaccent.glif</string>
    <key>Sdotbelow</key>
    <string>S_dotbelow.glif</string>
    <key>T</key>
    <string>T_.glif</string>
    <key>T_T</key>
    <string>T__T_.glif</string>
    <key>Tbar</key>
    <string>T_bar.glif</string>
    <key>Tcaron</key>
    <string>T_caron.glif</string>
    <key>Tcedilla</key>
    <string>T_cedilla.glif</string>
    <key>Tcircumflexbelow</key>
    <string>T_circumflexbelow.glif</string>
    <key>Tcommaaccent</key>
    <string>T_commaaccent.glif</string>
    <key>Tdotbelow</key>
    <string>T_dotbelow.glif</string>
    <key>Thorn</key>
    <string>T_horn.glif</string>
    <key>Tmacronbelow</key>
    <string>T_macronbelow.glif</string>
    <key>U</key>
    <string>U_.glif</string>
    <key>U_L</key>
    <string>U__L_.glif</string>
    <key>Uacute</key>
    <string>U_acute.glif</string>
    <key>Ubreve</key>
    <string>U_breve.glif</string>
    <key>Ucaron</key>
    <string>U_caron.glif</string>
    <key>Ucircumflex</key>
    <string>U_circumflex.glif</string>
    <key>Udieresis</key>
    <string>U_dieresis.glif</string>
    <key>Udotbelow</key>
    <string>U_dotbelow.glif</string>
    <key>Ugrave</key>
    <string>U_grave.glif</string>
    <key>Uhungarumlaut</key>
    <string>U_hungarumlaut.glif</string>
    <key>Umacron</key>
    <string>U_macron.glif</string>
    <key>Uogonek</key>
    <string>U_ogonek.glif</string>
    <key>Uring</key>
    <string>U_ring.glif</string>
    <key>Utilde</key>
    <string>U_tilde.glif</string>
    <key>V</key>
    <string>V_.glif</string>
    <key>Vturned</key>
    <string>V_turned.glif</string>
    <key>W</key>
    <string>W_.glif</string>
    <key>Wacute</key>
    <string>W_acute.glif</string>
    <key>Wcircumflex</key>
    <string>W_circumflex.glif</string>
    <key>Wdieresis</key>
    <string>W_dieresis.glif</string>
    <key>Wgrave</key>
    <string>W_grave.glif</string>
    <key>X</key>
    <string>X_.glif</string>
    <key>X_C</key>
    <string>X__C_.glif</string>
    <key>X_L</key>
    <string>X__L_.glif</string>
    <key>X_S</key>
    <string>X__S_.glif</string>
    <key>Y</key>
    <string>Y_.glif</string>
    <key>Yacute</key>
    <string>Y_acute.glif</string>
    <key>Ycircumflex</key>
    <string>Y_circumflex.glif</string>
    <key>Ydieresis</key>
    <string>Y_dieresis.glif</string>
    <key>Ydotaccent</key>
    <string>Y_dotaccent.glif</string>
    <key>Ydotbelow</key>
    <string>Y_dotbelow.glif</string>
    <key>Ygrave</key>
    <string>Y_grave.glif</string>
    <key>Ymacron</key>
    <string>Y_macron.glif</string>
    <key>Ytilde</key>
    <string>Y_tilde.glif</string>
    <key>Z</key>
    <string>Z_.glif</string>
    <key>Zacute</key>
    <string>Z_acute.glif</string>
    <key>Zcaron</key>
    <string>Z_caron.glif</string>
    <key>Zdotaccent</key>
    <string>Z_dotaccent.glif</string>
    <key>Zdotbelow</key>
    <string>Z_dotbelow.glif</string>
    <key>Zmacronbelow</key>
    <string>Z_macronbelow.glif</string>
    <key>_heart-moitie</key>
    <string>_heart-moitie.glif</string>
    <key>_moitie-accolade-caps</key>
    <string>_moitie-accolade-caps.glif</string>
    <key>a</key>
    <string>a.glif</string>
    <key>a-etage</key>
    <string>a-etage.glif</string>
    <key>a_e</key>
    <string>a_e.glif</string>
    <key>a_e.ss07</key>
    <string>a_e.ss07.glif</string>
    <key>a_o</key>
    <string>a_o.glif</string>
    <key>a_o_n.ss07</key>
    <string>a_o_n.ss07.glif</string>
    <key>a_u_l_a</key>
    <string>a_u_l_a.glif</string>
    <key>a_u_l_a.001</key>
    <string>a_u_l_a.001.glif</string>
    <key>aacute</key>
    <string>aacute.glif</string>
    <key>abreve</key>
    <string>abreve.glif</string>
    <key>abrevedotbelow</key>
    <string>abrevedotbelow.glif</string>
    <key>acaron</key>
    <string>acaron.glif</string>
    <key>acircumflex</key>
    <string>acircumflex.glif</string>
    <key>acircumflexdotbelow</key>
    <string>acircumflexdotbelow.glif</string>
    <key>acutecomb</key>
    <string>acutecomb.glif</string>
    <key>acutecomb.case</key>
    <string>acutecomb.case.glif</string>
    <key>acutecomb.narrow</key>
    <string>acutecomb.narrow.glif</string>
    <key>acutecomb.narrow.case</key>
    <string>acutecomb.narrow.case.glif</string>
    <key>adieresis</key>
    <string>adieresis.glif</string>
    <key>adotbelow</key>
    <string>adotbelow.glif</string>
    <key>ae</key>
    <string>ae.glif</string>
    <key>aemacron</key>
    <string>aemacron.glif</string>
    <key>agrave</key>
    <string>agrave.glif</string>
    <key>amacron</key>
    <string>amacron.glif</string>
    <key>ampersand</key>
    <string>ampersand.glif</string>
    <key>aogonek</key>
    <string>aogonek.glif</string>
    <key>approxequal</key>
    <string>approxequal.glif</string>
    <key>aring</key>
    <string>aring.glif</string>
    <key>asciicircum</key>
    <string>asciicircum.glif</string>
    <key>asciitilde</key>
    <string>asciitilde.glif</string>
    <key>asterisk</key>
    <string>asterisk.glif</string>
    <key>at</key>
    <string>at.glif</string>
    <key>at.case</key>
    <string>at.case.glif</string>
    <key>atilde</key>
    <string>atilde.glif</string>
    <key>aturned</key>
    <string>aturned.glif</string>
    <key>b</key>
    <string>b.glif</string>
    <key>b.ss01</key>
    <string>b.ss01.glif</string>
    <key>backslash</key>
    <string>backslash.glif</string>
    <key>bar</key>
    <string>bar.glif</string>
    <key>bdotbelow</key>
    <string>bdotbelow.glif</string>
    <key>blood</key>
    <string>blood.glif</string>
    <key>braceleft</key>
    <string>braceleft.glif</string>
    <key>braceleft.case</key>
    <string>braceleft.case.glif</string>
    <key>braceright</key>
    <string>braceright.glif</string>
    <key>braceright.case</key>
    <string>braceright.case.glif</string>
    <key>bracketleft</key>
    <string>bracketleft.glif</string>
    <key>bracketleft.case</key>
    <string>bracketleft.case.glif</string>
    <key>bracketright</key>
    <string>bracketright.glif</string>
    <key>bracketright.case</key>
    <string>bracketright.case.glif</string>
    <key>brevebelowcomb</key>
    <string>brevebelowcomb.glif</string>
    <key>brevecomb</key>
    <string>brevecomb.glif</string>
    <key>brevecomb.case</key>
    <string>brevecomb.case.glif</string>
    <key>brokenbar</key>
    <string>brokenbar.glif</string>
    <key>bullet</key>
    <string>bullet.glif</string>
    <key>bullet.case</key>
    <string>bullet.case.glif</string>
    <key>c</key>
    <string>c.glif</string>
    <key>c-etage</key>
    <string>c-etage.glif</string>
    <key>c_h</key>
    <string>c_h.glif</string>
    <key>c_h.ss06</key>
    <string>c_h.ss06.glif</string>
    <key>c_h_e.ss07</key>
    <string>c_h_e.ss07.glif</string>
    <key>c_q</key>
    <string>c_q.glif</string>
    <key>c_q_u.ss06</key>
    <string>c_q_u.ss06.glif</string>
    <key>cacute</key>
    <string>cacute.glif</string>
    <key>candraBinducomb</key>
    <string>candraB_inducomb.glif</string>
    <key>careteam</key>
    <string>careteam.glif</string>
    <key>careteam-moitie</key>
    <string>careteam-moitie.glif</string>
    <key>careteam.ss01</key>
    <string>careteam.ss01.glif</string>
    <key>careteam.ss02</key>
    <string>careteam.ss02.glif</string>
    <key>caroncomb</key>
    <string>caroncomb.glif</string>
    <key>caroncomb.alt</key>
    <string>caroncomb.alt.glif</string>
    <key>caroncomb.case</key>
    <string>caroncomb.case.glif</string>
    <key>caroncomb.narrow</key>
    <string>caroncomb.narrow.glif</string>
    <key>ccaron</key>
    <string>ccaron.glif</string>
    <key>ccedilla</key>
    <string>ccedilla.glif</string>
    <key>ccircumflex</key>
    <string>ccircumflex.glif</string>
    <key>cdotaccent</key>
    <string>cdotaccent.glif</string>
    <key>cedillacomb</key>
    <string>cedillacomb.glif</string>
    <key>cedillacomb.case</key>
    <string>cedillacomb.case.glif</string>
    <key>cent</key>
    <string>cent.glif</string>
    <key>circumflexbelowcomb</key>
    <string>circumflexbelowcomb.glif</string>
    <key>circumflexcomb</key>
    <string>circumflexcomb.glif</string>
    <key>circumflexcomb.case</key>
    <string>circumflexcomb.case.glif</string>
    <key>circumflexcomb.narrow</key>
    <string>circumflexcomb.narrow.glif</string>
    <key>circumflexcomb.narrow.case</key>
    <string>circumflexcomb.narrow.case.glif</string>
    <key>colon</key>
    <string>colon.glif</string>
    <key>comma</key>
    <string>comma.glif</string>
    <key>commaaccentcomb</key>
    <string>commaaccentcomb.glif</string>
    <key>commaturnedabovecomb</key>
    <string>commaturnedabovecomb.glif</string>
    <key>commaturnedmod</key>
    <string>commaturnedmod.glif</string>
    <key>copyright</key>
    <string>copyright.glif</string>
    <key>currency</key>
    <string>currency.glif</string>
    <key>d</key>
    <string>d.glif</string>
    <key>d.ss01</key>
    <string>d.ss01.glif</string>
    <key>d_u_d_e_l_a</key>
    <string>d_u_d_e_l_a.glif</string>
    <key>d_u_d_e_l_a.001</key>
    <string>d_u_d_e_l_a.001.glif</string>
    <key>dagger</key>
    <string>dagger.glif</string>
    <key>daggerdbl</key>
    <string>daggerdbl.glif</string>
    <key>dcaron</key>
    <string>dcaron.glif</string>
    <key>dcircumflexbelow</key>
    <string>dcircumflexbelow.glif</string>
    <key>dcroat</key>
    <string>dcroat.glif</string>
    <key>ddotbelow</key>
    <string>ddotbelow.glif</string>
    <key>degree</key>
    <string>degree.glif</string>
    <key>demi-brace</key>
    <string>demi-brace.glif</string>
    <key>demi-hashtag</key>
    <string>demi-hashtag.glif</string>
    <key>diaper</key>
    <string>diaper.glif</string>
    <key>dieresisbelowcomb</key>
    <string>dieresisbelowcomb.glif</string>
    <key>dieresiscomb</key>
    <string>dieresiscomb.glif</string>
    <key>dieresiscomb.case</key>
    <string>dieresiscomb.case.glif</string>
    <key>dieresiscomb.narrow</key>
    <string>dieresiscomb.narrow.glif</string>
    <key>dieresiscomb.narrow.case</key>
    <string>dieresiscomb.narrow.case.glif</string>
    <key>divide</key>
    <string>divide.glif</string>
    <key>dmacronbelow</key>
    <string>dmacronbelow.glif</string>
    <key>dollar</key>
    <string>dollar.glif</string>
    <key>dotaccentcomb</key>
    <string>dotaccentcomb.glif</string>
    <key>dotaccentcomb.case</key>
    <string>dotaccentcomb.case.glif</string>
    <key>dotbelowcomb</key>
    <string>dotbelowcomb.glif</string>
    <key>doublemacronbelowcomb</key>
    <string>doublemacronbelowcomb.glif</string>
    <key>downArrow</key>
    <string>downA_rrow.glif</string>
    <key>e</key>
    <string>e.glif</string>
    <key>e_a</key>
    <string>e_a.glif</string>
    <key>e_a.ss06</key>
    <string>e_a.ss06.glif</string>
    <key>e_a.ss07</key>
    <string>e_a.ss07.glif</string>
    <key>e_a_u.ss07</key>
    <string>e_a_u.ss07.glif</string>
    <key>e_boucle</key>
    <string>e_boucle.glif</string>
    <key>e_s</key>
    <string>e_s.glif</string>
    <key>e_s.ss06</key>
    <string>e_s.ss06.glif</string>
    <key>e_s_s</key>
    <string>e_s_s.glif</string>
    <key>e_t.ss06</key>
    <string>e_t.ss06.glif</string>
    <key>e_t_t</key>
    <string>e_t_t.glif</string>
    <key>e_u</key>
    <string>e_u.glif</string>
    <key>e_u.ss06</key>
    <string>e_u.ss06.glif</string>
    <key>e_u_x.ss07</key>
    <string>e_u_x.ss07.glif</string>
    <key>eacute</key>
    <string>eacute.glif</string>
    <key>early</key>
    <string>early.glif</string>
    <key>ecaron</key>
    <string>ecaron.glif</string>
    <key>ecedilla</key>
    <string>ecedilla.glif</string>
    <key>ecircumflex</key>
    <string>ecircumflex.glif</string>
    <key>ecircumflexdotbelow</key>
    <string>ecircumflexdotbelow.glif</string>
    <key>edieresis</key>
    <string>edieresis.glif</string>
    <key>edotaccent</key>
    <string>edotaccent.glif</string>
    <key>edotbelow</key>
    <string>edotbelow.glif</string>
    <key>egrave</key>
    <string>egrave.glif</string>
    <key>eight</key>
    <string>eight.glif</string>
    <key>eight.osf</key>
    <string>eight.osf.glif</string>
    <key>eight.tf</key>
    <string>eight.tf.glif</string>
    <key>ellipsis</key>
    <string>ellipsis.glif</string>
    <key>emacron</key>
    <string>emacron.glif</string>
    <key>emdash</key>
    <string>emdash.glif</string>
    <key>emdash.case</key>
    <string>emdash.case.glif</string>
    <key>enb</key>
    <string>enb.glif</string>
    <key>enb.ss07</key>
    <string>enb.ss07.glif</string>
    <key>endash</key>
    <string>endash.glif</string>
    <key>endash.case</key>
    <string>endash.case.glif</string>
    <key>eng</key>
    <string>eng.glif</string>
    <key>eogonek</key>
    <string>eogonek.glif</string>
    <key>eopen</key>
    <string>eopen.glif</string>
    <key>eopenreversed</key>
    <string>eopenreversed.glif</string>
    <key>equal</key>
    <string>equal.glif</string>
    <key>ereversed</key>
    <string>ereversed.glif</string>
    <key>eth</key>
    <string>eth.glif</string>
    <key>etilde</key>
    <string>etilde.glif</string>
    <key>eturned</key>
    <string>eturned.glif</string>
    <key>euro</key>
    <string>euro.glif</string>
    <key>exclam</key>
    <string>exclam.glif</string>
    <key>exclamdown</key>
    <string>exclamdown.glif</string>
    <key>exclamdown.case</key>
    <string>exclamdown.case.glif</string>
    <key>f</key>
    <string>f.glif</string>
    <key>f.alt</key>
    <string>f.alt.glif</string>
    <key>f_f_e</key>
    <string>f_f_e.glif</string>
    <key>f_v</key>
    <string>f_v.glif</string>
    <key>f_v_e.ss07</key>
    <string>f_v_e.ss07.glif</string>
    <key>five</key>
    <string>five.glif</string>
    <key>five.osf</key>
    <string>five.osf.glif</string>
    <key>five.tf</key>
    <string>five.tf.glif</string>
    <key>florin</key>
    <string>florin.glif</string>
    <key>four</key>
    <string>four.glif</string>
    <key>four.osf</key>
    <string>four.osf.glif</string>
    <key>four.tf</key>
    <string>four.tf.glif</string>
    <key>g</key>
    <string>g.glif</string>
    <key>g_u</key>
    <string>g_u.glif</string>
    <key>gbreve</key>
    <string>gbreve.glif</string>
    <key>gcaron</key>
    <string>gcaron.glif</string>
    <key>gcircumflex</key>
    <string>gcircumflex.glif</string>
    <key>gcommaaccent</key>
    <string>gcommaaccent.glif</string>
    <key>gdotaccent</key>
    <string>gdotaccent.glif</string>
    <key>germandbls</key>
    <string>germandbls.glif</string>
    <key>gmacron</key>
    <string>gmacron.glif</string>
    <key>gravecomb</key>
    <string>gravecomb.glif</string>
    <key>gravecomb.case</key>
    <string>gravecomb.case.glif</string>
    <key>gravecomb.narrow</key>
    <string>gravecomb.narrow.glif</string>
    <key>gravecomb.narrow.case</key>
    <string>gravecomb.narrow.case.glif</string>
    <key>greater</key>
    <string>greater.glif</string>
    <key>greaterequal</key>
    <string>greaterequal.glif</string>
    <key>gstroke</key>
    <string>gstroke.glif</string>
    <key>guillemetleft</key>
    <string>guillemetleft.glif</string>
    <key>guillemetleft.case</key>
    <string>guillemetleft.case.glif</string>
    <key>guillemetright</key>
    <string>guillemetright.glif</string>
    <key>guillemetright.case</key>
    <string>guillemetright.case.glif</string>
    <key>guilsinglleft</key>
    <string>guilsinglleft.glif</string>
    <key>guilsinglleft.case</key>
    <string>guilsinglleft.case.glif</string>
    <key>guilsinglright</key>
    <string>guilsinglright.glif</string>
    <key>guilsinglright.case</key>
    <string>guilsinglright.case.glif</string>
    <key>h</key>
    <string>h.glif</string>
    <key>hbar</key>
    <string>hbar.glif</string>
    <key>hbrevebelow</key>
    <string>hbrevebelow.glif</string>
    <key>hcircumflex</key>
    <string>hcircumflex.glif</string>
    <key>hdotbelow</key>
    <string>hdotbelow.glif</string>
    <key>heart</key>
    <string>heart.glif</string>
    <key>hmacronbelow</key>
    <string>hmacronbelow.glif</string>
    <key>hturned</key>
    <string>hturned.glif</string>
    <key>hungarumlautcomb</key>
    <string>hungarumlautcomb.glif</string>
    <key>hungarumlautcomb.case</key>
    <string>hungarumlautcomb.case.glif</string>
    <key>hyphen</key>
    <string>hyphen.glif</string>
    <key>hyphen.case</key>
    <string>hyphen.case.glif</string>
    <key>i</key>
    <string>i.glif</string>
    <key>i-etage</key>
    <string>i-etage.glif</string>
    <key>iacute</key>
    <string>iacute.glif</string>
    <key>icaron</key>
    <string>icaron.glif</string>
    <key>icircumflex</key>
    <string>icircumflex.glif</string>
    <key>idieresis</key>
    <string>idieresis.glif</string>
    <key>idotaccent</key>
    <string>idotaccent.glif</string>
    <key>idotbelow</key>
    <string>idotbelow.glif</string>
    <key>idotless</key>
    <string>idotless.glif</string>
    <key>igrave</key>
    <string>igrave.glif</string>
    <key>ij</key>
    <string>ij.glif</string>
    <key>imacron</key>
    <string>imacron.glif</string>
    <key>internet</key>
    <string>internet.glif</string>
    <key>iogonek</key>
    <string>iogonek.glif</string>
    <key>itilde</key>
    <string>itilde.glif</string>
    <key>j</key>
    <string>j.glif</string>
    <key>jacute</key>
    <string>jacute.glif</string>
    <key>jcircumflex</key>
    <string>jcircumflex.glif</string>
    <key>jdotless</key>
    <string>jdotless.glif</string>
    <key>k</key>
    <string>k.glif</string>
    <key>kcaron</key>
    <string>kcaron.glif</string>
    <key>kcommaaccent</key>
    <string>kcommaaccent.glif</string>
    <key>kmacronbelow</key>
    <string>kmacronbelow.glif</string>
    <key>kturned</key>
    <string>kturned.glif</string>
    <key>l</key>
    <string>l.glif</string>
    <key>l-etage</key>
    <string>l-etage.glif</string>
    <key>l_l</key>
    <string>l_l.glif</string>
    <key>l_l_e.ss07</key>
    <string>l_l_e.ss07.glif</string>
    <key>l_u</key>
    <string>l_u.glif</string>
    <key>l_u.alt</key>
    <string>l_u.alt.glif</string>
    <key>l_u_i.ss07</key>
    <string>l_u_i.ss07.glif</string>
    <key>lacute</key>
    <string>lacute.glif</string>
    <key>lcaron</key>
    <string>lcaron.glif</string>
    <key>lcircumflexbelow</key>
    <string>lcircumflexbelow.glif</string>
    <key>lcommaaccent</key>
    <string>lcommaaccent.glif</string>
    <key>lcommaaccent.loclMAH</key>
    <string>lcommaaccent.loclM_A_H_.glif</string>
    <key>ldotbelow</key>
    <string>ldotbelow.glif</string>
    <key>ldotbelowmacron</key>
    <string>ldotbelowmacron.glif</string>
    <key>leftArrow</key>
    <string>leftA_rrow.glif</string>
    <key>leftArrow.case</key>
    <string>leftA_rrow.case.glif</string>
    <key>leftRightArrow</key>
    <string>leftR_ightA_rrow.glif</string>
    <key>leftRightArrow.case</key>
    <string>leftR_ightA_rrow.case.glif</string>
    <key>less</key>
    <string>less.glif</string>
    <key>lessequal</key>
    <string>lessequal.glif</string>
    <key>lmacronbelow</key>
    <string>lmacronbelow.glif</string>
    <key>loud</key>
    <string>loud.glif</string>
    <key>loud.alt02</key>
    <string>loud.alt02.glif</string>
    <key>loud.alt03</key>
    <string>loud.alt03.glif</string>
    <key>lslash</key>
    <string>lslash.glif</string>
    <key>m</key>
    <string>m.glif</string>
    <key>m_p</key>
    <string>m_p.glif</string>
    <key>macronbelowcomb</key>
    <string>macronbelowcomb.glif</string>
    <key>macroncomb</key>
    <string>macroncomb.glif</string>
    <key>macroncomb.case</key>
    <string>macroncomb.case.glif</string>
    <key>macroncomb.narrow</key>
    <string>macroncomb.narrow.glif</string>
    <key>macute</key>
    <string>macute.glif</string>
    <key>mdotaccent</key>
    <string>mdotaccent.glif</string>
    <key>mdotbelow</key>
    <string>mdotbelow.glif</string>
    <key>menstruation</key>
    <string>menstruation.glif</string>
    <key>minus</key>
    <string>minus.glif</string>
    <key>moitie-asterisque</key>
    <string>moitie-asterisque.glif</string>
    <key>moitie-huit</key>
    <string>moitie-huit.glif</string>
    <key>moitie-obele</key>
    <string>moitie-obele.glif</string>
    <key>moitie-serviette</key>
    <string>moitie-serviette.glif</string>
    <key>mturned</key>
    <string>mturned.glif</string>
    <key>multiply</key>
    <string>multiply.glif</string>
    <key>n</key>
    <string>n.glif</string>
    <key>n-etage</key>
    <string>n-etage.glif</string>
    <key>n_n</key>
    <string>n_n.glif</string>
    <key>n_n_e.ss07</key>
    <string>n_n_e.ss07.glif</string>
    <key>nacute</key>
    <string>nacute.glif</string>
    <key>nbspace</key>
    <string>nbspace.glif</string>
    <key>ncaron</key>
    <string>ncaron.glif</string>
    <key>ncircumflexbelow</key>
    <string>ncircumflexbelow.glif</string>
    <key>ncommaaccent</key>
    <string>ncommaaccent.glif</string>
    <key>ncommaaccent.loclMAH</key>
    <string>ncommaaccent.loclM_A_H_.glif</string>
    <key>ndotaccent</key>
    <string>ndotaccent.glif</string>
    <key>ndotbelow</key>
    <string>ndotbelow.glif</string>
    <key>nine</key>
    <string>nine.glif</string>
    <key>nine.osf</key>
    <string>nine.osf.glif</string>
    <key>nine.tf</key>
    <string>nine.tf.glif</string>
    <key>nmacronbelow</key>
    <string>nmacronbelow.glif</string>
    <key>notequal</key>
    <string>notequal.glif</string>
    <key>ntilde</key>
    <string>ntilde.glif</string>
    <key>nudity</key>
    <string>nudity.glif</string>
    <key>numbersign</key>
    <string>numbersign.glif</string>
    <key>o</key>
    <string>o.glif</string>
    <key>o_f</key>
    <string>o_f.glif</string>
    <key>o_f.ss06</key>
    <string>o_f.ss06.glif</string>
    <key>o_f.ss07</key>
    <string>o_f.ss07.glif</string>
    <key>o_idieresis</key>
    <string>o_idieresis.glif</string>
    <key>o_idieresis.ss06</key>
    <string>o_idieresis.ss06.glif</string>
    <key>o_idieresis_n_e.ss07</key>
    <string>o_idieresis_n_e.ss07.glif</string>
    <key>o_t</key>
    <string>o_t.glif</string>
    <key>o_t.ss06</key>
    <string>o_t.ss06.glif</string>
    <key>o_t_e.ss07</key>
    <string>o_t_e.ss07.glif</string>
    <key>oacute</key>
    <string>oacute.glif</string>
    <key>ocaron</key>
    <string>ocaron.glif</string>
    <key>ocircumflex</key>
    <string>ocircumflex.glif</string>
    <key>ocircumflexdotbelow</key>
    <string>ocircumflexdotbelow.glif</string>
    <key>odieresis</key>
    <string>odieresis.glif</string>
    <key>odotbelow</key>
    <string>odotbelow.glif</string>
    <key>oe</key>
    <string>oe.glif</string>
    <key>ogonekcomb</key>
    <string>ogonekcomb.glif</string>
    <key>ogonekcomb.case</key>
    <string>ogonekcomb.case.glif</string>
    <key>ograve</key>
    <string>ograve.glif</string>
    <key>ohungarumlaut</key>
    <string>ohungarumlaut.glif</string>
    <key>omacron</key>
    <string>omacron.glif</string>
    <key>one</key>
    <string>one.glif</string>
    <key>one.osf</key>
    <string>one.osf.glif</string>
    <key>one.tf</key>
    <string>one.tf.glif</string>
    <key>oslash</key>
    <string>oslash.glif</string>
    <key>oslashacute</key>
    <string>oslashacute.glif</string>
    <key>otilde</key>
    <string>otilde.glif</string>
    <key>p</key>
    <string>p.glif</string>
    <key>p.ss01</key>
    <string>p.ss01.glif</string>
    <key>p_m</key>
    <string>p_m.glif</string>
    <key>paragraph</key>
    <string>paragraph.glif</string>
    <key>parenleft</key>
    <string>parenleft.glif</string>
    <key>parenleft.case</key>
    <string>parenleft.case.glif</string>
    <key>parenright</key>
    <string>parenright.glif</string>
    <key>parenright.case</key>
    <string>parenright.case.glif</string>
    <key>percent</key>
    <string>percent.glif</string>
    <key>period</key>
    <string>period.glif</string>
    <key>periodcentered</key>
    <string>periodcentered.glif</string>
    <key>periodcentered.case</key>
    <string>periodcentered.case.glif</string>
    <key>perthousand</key>
    <string>perthousand.glif</string>
    <key>plus</key>
    <string>plus.glif</string>
    <key>plusminus</key>
    <string>plusminus.glif</string>
    <key>prmaccess</key>
    <string>prmaccess.glif</string>
    <key>prmperson</key>
    <string>prmperson.glif</string>
    <key>prmplateform</key>
    <string>prmplateform.glif</string>
    <key>q</key>
    <string>q.glif</string>
    <key>q.ss01</key>
    <string>q.ss01.glif</string>
    <key>question</key>
    <string>question.glif</string>
    <key>questiondown</key>
    <string>questiondown.glif</string>
    <key>questiondown.case</key>
    <string>questiondown.case.glif</string>
    <key>quotedbl</key>
    <string>quotedbl.glif</string>
    <key>quotedblbase</key>
    <string>quotedblbase.glif</string>
    <key>quotedblleft</key>
    <string>quotedblleft.glif</string>
    <key>quotedblright</key>
    <string>quotedblright.glif</string>
    <key>quoteleft</key>
    <string>quoteleft.glif</string>
    <key>quoteright</key>
    <string>quoteright.glif</string>
    <key>quotesinglbase</key>
    <string>quotesinglbase.glif</string>
    <key>quotesingle</key>
    <string>quotesingle.glif</string>
    <key>r</key>
    <string>r.glif</string>
    <key>r_e_u_s_e</key>
    <string>r_e_u_s_e.glif</string>
    <key>r_e_u_s_e.ss07</key>
    <string>r_e_u_s_e.ss07.glif</string>
    <key>r_i</key>
    <string>r_i.glif</string>
    <key>r_i_c_e.ss07</key>
    <string>r_i_c_e.ss07.glif</string>
    <key>r_s</key>
    <string>r_s.glif</string>
    <key>r_s.ss06</key>
    <string>r_s.ss06.glif</string>
    <key>r_s_e.ss07</key>
    <string>r_s_e.ss07.glif</string>
    <key>racute</key>
    <string>racute.glif</string>
    <key>rcaron</key>
    <string>rcaron.glif</string>
    <key>rcommaaccent</key>
    <string>rcommaaccent.glif</string>
    <key>rdotbelowmacron</key>
    <string>rdotbelowmacron.glif</string>
    <key>registered</key>
    <string>registered.glif</string>
    <key>rightArrow</key>
    <string>rightA_rrow.glif</string>
    <key>rightArrow.case</key>
    <string>rightA_rrow.case.glif</string>
    <key>ringbelowcomb</key>
    <string>ringbelowcomb.glif</string>
    <key>ringcomb</key>
    <string>ringcomb.glif</string>
    <key>ringcomb.case</key>
    <string>ringcomb.case.glif</string>
    <key>rmacronbelow</key>
    <string>rmacronbelow.glif</string>
    <key>s</key>
    <string>s.glif</string>
    <key>s-etage</key>
    <string>s-etage.glif</string>
    <key>s_c</key>
    <string>s_c.glif</string>
    <key>s_l</key>
    <string>s_l.glif</string>
    <key>s_s</key>
    <string>s_s.glif</string>
    <key>s_s.alt</key>
    <string>s_s.alt.glif</string>
    <key>s_s_e.ss07</key>
    <string>s_s_e.ss07.glif</string>
    <key>s_t</key>
    <string>s_t.glif</string>
    <key>s_t.ss06</key>
    <string>s_t.ss06.glif</string>
    <key>s_t_e_s.ss07</key>
    <string>s_t_e_s.ss07.glif</string>
    <key>sacute</key>
    <string>sacute.glif</string>
    <key>saltillo</key>
    <string>saltillo.glif</string>
    <key>scaron</key>
    <string>scaron.glif</string>
    <key>scedilla</key>
    <string>scedilla.glif</string>
    <key>schwa</key>
    <string>schwa.glif</string>
    <key>scircumflex</key>
    <string>scircumflex.glif</string>
    <key>scommaaccent</key>
    <string>scommaaccent.glif</string>
    <key>sdotbelow</key>
    <string>sdotbelow.glif</string>
    <key>section</key>
    <string>section.glif</string>
    <key>semicolon</key>
    <string>semicolon.glif</string>
    <key>seven</key>
    <string>seven.glif</string>
    <key>seven.osf</key>
    <string>seven.osf.glif</string>
    <key>seven.tf</key>
    <string>seven.tf.glif</string>
    <key>signlanguage</key>
    <string>signlanguage.glif</string>
    <key>six</key>
    <string>six.glif</string>
    <key>six.osf</key>
    <string>six.osf.glif</string>
    <key>six.tf</key>
    <string>six.tf.glif</string>
    <key>slash</key>
    <string>slash.glif</string>
    <key>smoke</key>
    <string>smoke.glif</string>
    <key>smoke.001</key>
    <string>smoke.001.glif</string>
    <key>space</key>
    <string>space.glif</string>
    <key>stairs</key>
    <string>stairs.glif</string>
    <key>stairs.001</key>
    <string>stairs.001.glif</string>
    <key>sterling</key>
    <string>sterling.glif</string>
    <key>strobe</key>
    <string>strobe.glif</string>
    <key>strobe.001</key>
    <string>strobe.001.glif</string>
    <key>strobe.002</key>
    <string>strobe.002.glif</string>
    <key>strobe.003</key>
    <string>strobe.003.glif</string>
    <key>subtitles</key>
    <string>subtitles.glif</string>
    <key>t</key>
    <string>t.glif</string>
    <key>t-etage</key>
    <string>t-etage.glif</string>
    <key>t_t</key>
    <string>t_t.glif</string>
    <key>t_t.alt</key>
    <string>t_t.alt.glif</string>
    <key>t_t_e.ss07</key>
    <string>t_t_e.ss07.glif</string>
    <key>tbar</key>
    <string>tbar.glif</string>
    <key>tcaron</key>
    <string>tcaron.glif</string>
    <key>tcedilla</key>
    <string>tcedilla.glif</string>
    <key>tcircumflexbelow</key>
    <string>tcircumflexbelow.glif</string>
    <key>tcommaaccent</key>
    <string>tcommaaccent.glif</string>
    <key>tdieresis</key>
    <string>tdieresis.glif</string>
    <key>tdotbelow</key>
    <string>tdotbelow.glif</string>
    <key>thinspace</key>
    <string>thinspace.glif</string>
    <key>thorn</key>
    <string>thorn.glif</string>
    <key>three</key>
    <string>three.glif</string>
    <key>three.osf</key>
    <string>three.osf.glif</string>
    <key>three.tf</key>
    <string>three.tf.glif</string>
    <key>tildecomb</key>
    <string>tildecomb.glif</string>
    <key>tildecomb.case</key>
    <string>tildecomb.case.glif</string>
    <key>tildecomb.narrow</key>
    <string>tildecomb.narrow.glif</string>
    <key>tmacronbelow</key>
    <string>tmacronbelow.glif</string>
    <key>toiletbowl</key>
    <string>toiletbowl.glif</string>
    <key>trademark</key>
    <string>trademark.glif</string>
    <key>tw</key>
    <string>tw.glif</string>
    <key>tw_blood</key>
    <string>tw_blood.glif</string>
    <key>tw_lettres</key>
    <string>tw_lettres.glif</string>
    <key>tw_nudity</key>
    <string>tw_nudity.glif</string>
    <key>tw_violence</key>
    <string>tw_violence.glif</string>
    <key>two</key>
    <string>two.glif</string>
    <key>two.osf</key>
    <string>two.osf.glif</string>
    <key>two.tf</key>
    <string>two.tf.glif</string>
    <key>u</key>
    <string>u.glif</string>
    <key>u-etage</key>
    <string>u-etage.glif</string>
    <key>u_boucle</key>
    <string>u_boucle.glif</string>
    <key>u_l</key>
    <string>u_l.glif</string>
    <key>u_l.alt</key>
    <string>u_l.alt.glif</string>
    <key>u_l_l_e.ss07</key>
    <string>u_l_l_e.ss07.glif</string>
    <key>uacute</key>
    <string>uacute.glif</string>
    <key>ubreve</key>
    <string>ubreve.glif</string>
    <key>ucaron</key>
    <string>ucaron.glif</string>
    <key>ucircumflex</key>
    <string>ucircumflex.glif</string>
    <key>udieresis</key>
    <string>udieresis.glif</string>
    <key>udotbelow</key>
    <string>udotbelow.glif</string>
    <key>ugrave</key>
    <string>ugrave.glif</string>
    <key>uhungarumlaut</key>
    <string>uhungarumlaut.glif</string>
    <key>umacron</key>
    <string>umacron.glif</string>
    <key>underscore</key>
    <string>underscore.glif</string>
    <key>uogonek</key>
    <string>uogonek.glif</string>
    <key>upArrow</key>
    <string>upA_rrow.glif</string>
    <key>upDownArrow</key>
    <string>upD_ownA_rrow.glif</string>
    <key>urinal</key>
    <string>urinal.glif</string>
    <key>uring</key>
    <string>uring.glif</string>
    <key>utilde</key>
    <string>utilde.glif</string>
    <key>v</key>
    <string>v.glif</string>
    <key>violence</key>
    <string>violence.glif</string>
    <key>vturned</key>
    <string>vturned.glif</string>
    <key>w</key>
    <string>w.glif</string>
    <key>w_w_w</key>
    <string>w_w_w.glif</string>
    <key>wacute</key>
    <string>wacute.glif</string>
    <key>wcircumflex</key>
    <string>wcircumflex.glif</string>
    <key>wdieresis</key>
    <string>wdieresis.glif</string>
    <key>wgrave</key>
    <string>wgrave.glif</string>
    <key>wturned</key>
    <string>wturned.glif</string>
    <key>x</key>
    <string>x.glif</string>
    <key>x_c</key>
    <string>x_c.glif</string>
    <key>x_c.alt</key>
    <string>x_c.alt.glif</string>
    <key>x_c_e.ss07</key>
    <string>x_c_e.ss07.glif</string>
    <key>x_l</key>
    <string>x_l.glif</string>
    <key>x_l.alt</key>
    <string>x_l.alt.glif</string>
    <key>x_l_e_s.ss07</key>
    <string>x_l_e_s.ss07.glif</string>
    <key>x_s</key>
    <string>x_s.glif</string>
    <key>x_s.ss06</key>
    <string>x_s.ss06.glif</string>
    <key>x_s_e.ss07</key>
    <string>x_s_e.ss07.glif</string>
    <key>y</key>
    <string>y.glif</string>
    <key>yacute</key>
    <string>yacute.glif</string>
    <key>ycircumflex</key>
    <string>ycircumflex.glif</string>
    <key>ydieresis</key>
    <string>ydieresis.glif</string>
    <key>ydotaccent</key>
    <string>ydotaccent.glif</string>
    <key>ydotbelow</key>
    <string>ydotbelow.glif</string>
    <key>yen</key>
    <string>yen.glif</string>
    <key>ygrave</key>
    <string>ygrave.glif</string>
    <key>ymacron</key>
    <string>ymacron.glif</string>
    <key>ytilde</key>
    <string>ytilde.glif</string>
    <key>yturned</key>
    <string>yturned.glif</string>
    <key>z</key>
    <string>z.glif</string>
    <key>zacute</key>
    <string>zacute.glif</string>
    <key>zcaron</key>
    <string>zcaron.glif</string>
    <key>zdotaccent</key>
    <string>zdotaccent.glif</string>
    <key>zdotbelow</key>
    <string>zdotbelow.glif</string>
    <key>zero</key>
    <string>zero.glif</string>
    <key>zero.osf</key>
    <string>zero.osf.glif</string>
    <key>zero.tf</key>
    <string>zero.tf.glif</string>
    <key>zmacronbelow</key>
    <string>zmacronbelow.glif</string>
  </dict>
</plist>
