<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ascender</key>
	<integer>789</integer>
	<key>capHeight</key>
	<integer>789</integer>
	<key>copyright</key>
	<string>© 2025, Bye Bye Binary ~ Clara Sambot et Laure Giletti. Ajout de glyphes inclusifs et non-binaires dans la Hershey Futural © 2020, Paul Bernhard &lt;https://www.pbernhard.com&gt;. Based on the Hershey Noailles by Studio Luuse &lt;https://gitlab.com/Luuse/Villa-Noailles/font-hershey-noailles&gt; © 2017, Luuse.</string>
	<key>descender</key>
	<integer>-251</integer>
	<key>familyName</key>
	<string>BBB Herthey Futural</string>
	<key>guidelines</key>
	<array>
		<dict>
			<key>angle</key>
			<integer>0</integer>
			<key>name</key>
			<string>accents</string>
			<key>x</key>
			<integer>-12</integer>
			<key>y</key>
			<integer>818</integer>
		</dict>
		<dict>
			<key>angle</key>
			<integer>0</integer>
			<key>x</key>
			<integer>-12</integer>
			<key>y</key>
			<integer>773</integer>
		</dict>
		<dict>
			<key>angle</key>
			<integer>0</integer>
			<key>x</key>
			<integer>19</integer>
			<key>y</key>
			<integer>612</integer>
		</dict>
		<dict>
			<key>angle</key>
			<integer>0</integer>
			<key>x</key>
			<integer>512</integer>
			<key>y</key>
			<integer>1019</integer>
		</dict>
		<dict>
			<key>angle</key>
			<integer>0</integer>
			<key>x</key>
			<integer>-11</integer>
			<key>y</key>
			<integer>-165</integer>
		</dict>
	</array>
	<key>openTypeHeadCreated</key>
	<string>2025/06/24 14:23:29</string>
	<key>openTypeHheaAscender</key>
	<integer>789</integer>
	<key>openTypeHheaDescender</key>
	<integer>-251</integer>
	<key>openTypeNameDesigner</key>
	<string>Bye Bye Binary (Clara Sambot et Laure Giletti) &amp; Paul Bernhard &amp; Luuse  </string>
	<key>openTypeNameDesignerURL</key>
	<string>typotheque.genderfluid.space/</string>
	<key>openTypeNameLicense</key>
	<string>CUTE</string>
	<key>openTypeNameLicenseURL</key>
	<string>https://typotheque.genderfluid.space/licences.html</string>
	<key>openTypeNameManufacturer</key>
	<string>Bye Bye Binary (Clara Sambot et Laure Giletti) &amp; Paul Bernhard &amp; Luuse  </string>
	<key>openTypeNameManufacturerURL</key>
	<string>typotheque.genderfluid.space/</string>
	<key>openTypeNamePreferredSubfamilyName</key>
	<string>-15</string>
	<key>openTypeOS2CodePageRanges</key>
	<array>
		<integer>0</integer>
	</array>
	<key>openTypeOS2Panose</key>
	<array>
		<integer>2</integer>
		<integer>0</integer>
		<integer>5</integer>
		<integer>3</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
	</array>
	<key>openTypeOS2StrikeoutPosition</key>
	<integer>251</integer>
	<key>openTypeOS2StrikeoutSize</key>
	<integer>36</integer>
	<key>openTypeOS2Type</key>
	<array/>
	<key>openTypeOS2TypoAscender</key>
	<integer>789</integer>
	<key>openTypeOS2TypoDescender</key>
	<integer>-251</integer>
	<key>openTypeOS2TypoLineGap</key>
	<integer>142</integer>
	<key>openTypeOS2UnicodeRanges</key>
	<array>
		<integer>0</integer>
		<integer>2</integer>
		<integer>29</integer>
		<integer>60</integer>
	</array>
	<key>openTypeOS2VendorID</key>
	<string>BBB</string>
	<key>openTypeOS2WeightClass</key>
	<integer>300</integer>
	<key>openTypeOS2WidthClass</key>
	<integer>5</integer>
	<key>openTypeOS2WinAscent</key>
	<integer>789</integer>
	<key>openTypeOS2WinDescent</key>
	<integer>251</integer>
	<key>postscriptBlueScale</key>
	<real>0.037</real>
	<key>postscriptBlueValues</key>
	<array/>
	<key>postscriptFontName</key>
	<string>BBB-Herthey-Futural--15</string>
	<key>postscriptOtherBlues</key>
	<array/>
	<key>postscriptUnderlinePosition</key>
	<integer>-150</integer>
	<key>styleMapFamilyName</key>
	<string>BBB Herthey Futural -15</string>
	<key>styleMapStyleName</key>
	<string>regular</string>
	<key>styleName</key>
	<string>-15</string>
	<key>unitsPerEm</key>
	<integer>1024</integer>
	<key>versionMajor</key>
	<integer>1</integer>
	<key>versionMinor</key>
	<integer>0</integer>
	<key>xHeight</key>
	<integer>538</integer>
</dict>
</plist>
