<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>A</key>
	<dict>
		<key>A</key>
		<integer>20</integer>
		<key>B</key>
		<integer>-10</integer>
		<key>C</key>
		<integer>-50</integer>
		<key>D</key>
		<integer>-20</integer>
		<key>F</key>
		<integer>-30</integer>
		<key>G</key>
		<integer>-20</integer>
		<key>K</key>
		<integer>-20</integer>
		<key>R</key>
		<integer>-10</integer>
		<key>T</key>
		<integer>-97</integer>
		<key>V</key>
		<integer>-90</integer>
		<key>W</key>
		<integer>-80</integer>
		<key>Y</key>
		<integer>-70</integer>
		<key>i</key>
		<integer>-56</integer>
		<key>public.kern2.o</key>
		<integer>-6</integer>
		<key>public.kern2.v</key>
		<integer>-50</integer>
		<key>quotedblright</key>
		<integer>-60</integer>
		<key>quoteleft</key>
		<integer>-170</integer>
		<key>quoteright</key>
		<integer>-80</integer>
		<key>s</key>
		<integer>-50</integer>
		<key>u</key>
		<integer>-10</integer>
		<key>v</key>
		<integer>-67</integer>
		<key>x</key>
		<integer>10</integer>
	</dict>
	<key>AE</key>
	<dict>
		<key>hyphen</key>
		<integer>-40</integer>
	</dict>
	<key>B</key>
	<dict>
		<key>e</key>
		<integer>7</integer>
		<key>m</key>
		<integer>-8</integer>
		<key>n</key>
		<integer>-5</integer>
		<key>o</key>
		<integer>7</integer>
		<key>public.kern2.a</key>
		<integer>15</integer>
		<key>t</key>
		<integer>4</integer>
		<key>v</key>
		<integer>6</integer>
	</dict>
	<key>C</key>
	<dict>
		<key>e</key>
		<integer>-5</integer>
		<key>m</key>
		<integer>-8</integer>
		<key>t</key>
		<integer>8</integer>
	</dict>
	<key>D</key>
	<dict>
		<key>A</key>
		<integer>-20</integer>
		<key>B</key>
		<integer>-10</integer>
		<key>D</key>
		<integer>-10</integer>
		<key>I</key>
		<integer>-20</integer>
		<key>O</key>
		<integer>-30</integer>
		<key>d</key>
		<integer>-15</integer>
		<key>e</key>
		<integer>-17</integer>
		<key>i</key>
		<integer>-20</integer>
		<key>o</key>
		<integer>-30</integer>
		<key>public.kern2.b</key>
		<integer>-10</integer>
		<key>public.kern2.n</key>
		<integer>-20</integer>
		<key>public.kern2.o</key>
		<integer>-20</integer>
		<key>quoteright</key>
		<integer>-10</integer>
		<key>r</key>
		<integer>-30</integer>
		<key>x</key>
		<integer>-10</integer>
	</dict>
	<key>E</key>
	<dict>
		<key>H</key>
		<integer>-10</integer>
		<key>I</key>
		<integer>10</integer>
		<key>J</key>
		<integer>10</integer>
		<key>N</key>
		<integer>10</integer>
		<key>T</key>
		<integer>50</integer>
		<key>V</key>
		<integer>10</integer>
		<key>W</key>
		<integer>20</integer>
		<key>X</key>
		<integer>20</integer>
		<key>Y</key>
		<integer>60</integer>
		<key>backslash</key>
		<integer>70</integer>
		<key>k</key>
		<integer>10</integer>
		<key>p</key>
		<integer>-4</integer>
		<key>public.kern2.a</key>
		<integer>-11</integer>
		<key>public.kern2.b</key>
		<integer>34</integer>
		<key>public.kern2.o</key>
		<integer>-10</integer>
		<key>public.kern2.v</key>
		<integer>-20</integer>
		<key>quotedblright</key>
		<integer>50</integer>
		<key>quoteright</key>
		<integer>30</integer>
		<key>v</key>
		<integer>-43</integer>
	</dict>
	<key>F</key>
	<dict>
		<key>A</key>
		<integer>-70</integer>
		<key>D</key>
		<integer>10</integer>
		<key>F</key>
		<integer>10</integer>
		<key>I</key>
		<integer>30</integer>
		<key>J</key>
		<integer>-60</integer>
		<key>L</key>
		<integer>10</integer>
		<key>O</key>
		<integer>-10</integer>
		<key>R</key>
		<integer>30</integer>
		<key>T</key>
		<integer>100</integer>
		<key>Y</key>
		<integer>120</integer>
		<key>asterisk</key>
		<integer>-40</integer>
		<key>backslash</key>
		<integer>160</integer>
		<key>d</key>
		<integer>-70</integer>
		<key>e</key>
		<integer>-80</integer>
		<key>g</key>
		<integer>-30</integer>
		<key>guillemotleft</key>
		<integer>-70</integer>
		<key>i</key>
		<integer>16</integer>
		<key>k</key>
		<integer>30</integer>
		<key>o</key>
		<integer>-60</integer>
		<key>public.kern2.a</key>
		<integer>-66</integer>
		<key>public.kern2.b</key>
		<integer>61</integer>
		<key>public.kern2.n</key>
		<integer>-30</integer>
		<key>public.kern2.o</key>
		<integer>-80</integer>
		<key>public.kern2.v</key>
		<integer>-10</integer>
		<key>q</key>
		<integer>-30</integer>
		<key>quotedblright</key>
		<integer>80</integer>
		<key>quoteleft</key>
		<integer>50</integer>
		<key>quoteright</key>
		<integer>80</integer>
		<key>s</key>
		<integer>-70</integer>
		<key>slash</key>
		<integer>-80</integer>
		<key>t</key>
		<integer>10</integer>
		<key>u</key>
		<integer>-30</integer>
	</dict>
	<key>G</key>
	<dict>
		<key>O</key>
		<integer>10</integer>
		<key>R</key>
		<integer>-20</integer>
		<key>backslash</key>
		<integer>20</integer>
		<key>e</key>
		<integer>1</integer>
		<key>public.kern2.b</key>
		<integer>-10</integer>
		<key>public.kern2.n</key>
		<integer>10</integer>
		<key>public.kern2.o</key>
		<integer>0</integer>
		<key>public.kern2.v</key>
		<integer>-10</integer>
		<key>quoteright</key>
		<integer>0</integer>
		<key>x</key>
		<integer>-30</integer>
	</dict>
	<key>H</key>
	<dict>
		<key>A</key>
		<integer>-50</integer>
		<key>E</key>
		<integer>-10</integer>
		<key>backslash</key>
		<integer>60</integer>
		<key>d</key>
		<integer>-10</integer>
		<key>e</key>
		<integer>-10</integer>
		<key>public.kern2.a</key>
		<integer>-10</integer>
		<key>public.kern2.o</key>
		<integer>-20</integer>
		<key>quoteright</key>
		<integer>20</integer>
		<key>s</key>
		<integer>-10</integer>
		<key>slash</key>
		<integer>-20</integer>
	</dict>
	<key>I</key>
	<dict>
		<key>M</key>
		<integer>-10</integer>
		<key>R</key>
		<integer>-20</integer>
		<key>W</key>
		<integer>10</integer>
		<key>backslash</key>
		<integer>30</integer>
		<key>d</key>
		<integer>-20</integer>
		<key>e</key>
		<integer>-10</integer>
		<key>f</key>
		<integer>-20</integer>
		<key>g</key>
		<integer>-10</integer>
		<key>j</key>
		<integer>-20</integer>
		<key>public.kern2.n</key>
		<integer>10</integer>
		<key>public.kern2.o</key>
		<integer>-10</integer>
		<key>q</key>
		<integer>-10</integer>
		<key>quoteright</key>
		<integer>-10</integer>
		<key>t</key>
		<integer>-20</integer>
		<key>u</key>
		<integer>-10</integer>
	</dict>
	<key>J</key>
	<dict>
		<key>H</key>
		<integer>10</integer>
		<key>I</key>
		<integer>10</integer>
		<key>J</key>
		<integer>10</integer>
		<key>backslash</key>
		<integer>40</integer>
		<key>e</key>
		<integer>-10</integer>
		<key>g</key>
		<integer>-20</integer>
		<key>period</key>
		<integer>-10</integer>
		<key>public.kern2.a</key>
		<integer>-20</integer>
		<key>public.kern2.b</key>
		<integer>1</integer>
		<key>public.kern2.o</key>
		<integer>-10</integer>
		<key>quoteleft</key>
		<integer>-10</integer>
		<key>u</key>
		<integer>-10</integer>
	</dict>
	<key>K</key>
	<dict>
		<key>H</key>
		<integer>10</integer>
		<key>W</key>
		<integer>30</integer>
		<key>Y</key>
		<integer>40</integer>
		<key>asterisk</key>
		<integer>-50</integer>
		<key>hyphen</key>
		<integer>-70</integer>
		<key>i</key>
		<integer>-20</integer>
		<key>public.kern2.o</key>
		<integer>-30</integer>
		<key>quoteleft</key>
		<integer>-20</integer>
		<key>quoteright</key>
		<integer>10</integer>
		<key>v</key>
		<integer>-50</integer>
		<key>y</key>
		<integer>-40</integer>
	</dict>
	<key>L</key>
	<dict>
		<key>A</key>
		<integer>20</integer>
		<key>C</key>
		<integer>-50</integer>
		<key>T</key>
		<integer>-30</integer>
		<key>U</key>
		<integer>-20</integer>
		<key>W</key>
		<integer>-20</integer>
		<key>Y</key>
		<integer>-80</integer>
		<key>Z</key>
		<integer>20</integer>
		<key>colon</key>
		<integer>30</integer>
		<key>comma</key>
		<integer>30</integer>
		<key>d</key>
		<integer>-34</integer>
		<key>e</key>
		<integer>-20</integer>
		<key>ellipsis</key>
		<integer>30</integer>
		<key>exclam</key>
		<integer>20</integer>
		<key>i</key>
		<integer>10</integer>
		<key>o</key>
		<integer>-30</integer>
		<key>period</key>
		<integer>30</integer>
		<key>public.kern2.a</key>
		<integer>-30</integer>
		<key>public.kern2.b</key>
		<integer>10</integer>
		<key>public.kern2.o</key>
		<integer>-30</integer>
		<key>public.kern2.v</key>
		<integer>-20</integer>
		<key>question</key>
		<integer>-40</integer>
		<key>quotedblright</key>
		<integer>-50</integer>
		<key>quoteleft</key>
		<integer>-100</integer>
		<key>quoteright</key>
		<integer>-80</integer>
		<key>semicolon</key>
		<integer>30</integer>
		<key>u</key>
		<integer>-20</integer>
	</dict>
	<key>M</key>
	<dict>
		<key>D</key>
		<integer>-20</integer>
		<key>E</key>
		<integer>-20</integer>
		<key>i</key>
		<integer>-40</integer>
		<key>k</key>
		<integer>-10</integer>
		<key>m</key>
		<integer>-10</integer>
		<key>public.kern2.o</key>
		<integer>-30</integer>
		<key>quoteleft</key>
		<integer>-30</integer>
		<key>quoteright</key>
		<integer>20</integer>
		<key>u</key>
		<integer>-20</integer>
	</dict>
	<key>N</key>
	<dict>
		<key>F</key>
		<integer>10</integer>
		<key>M</key>
		<integer>-10</integer>
		<key>e</key>
		<integer>-20</integer>
		<key>i</key>
		<integer>-30</integer>
		<key>j</key>
		<integer>-10</integer>
		<key>m</key>
		<integer>-10</integer>
		<key>public.kern2.o</key>
		<integer>-30</integer>
		<key>quoteleft</key>
		<integer>-30</integer>
		<key>u</key>
		<integer>-20</integer>
	</dict>
	<key>O</key>
	<dict>
		<key>i</key>
		<integer>-20</integer>
		<key>j</key>
		<integer>-10</integer>
		<key>k</key>
		<integer>-10</integer>
		<key>n</key>
		<integer>-20</integer>
		<key>public.kern2.b</key>
		<integer>-10</integer>
		<key>s</key>
		<integer>-10</integer>
	</dict>
	<key>OE</key>
	<dict>
		<key>backslash</key>
		<integer>90</integer>
	</dict>
	<key>P</key>
	<dict>
		<key>F</key>
		<integer>20</integer>
		<key>G</key>
		<integer>20</integer>
		<key>H</key>
		<integer>10</integer>
		<key>J</key>
		<integer>-20</integer>
		<key>R</key>
		<integer>10</integer>
		<key>S</key>
		<integer>20</integer>
		<key>Y</key>
		<integer>20</integer>
		<key>backslash</key>
		<integer>60</integer>
		<key>colon</key>
		<integer>-60</integer>
		<key>comma</key>
		<integer>-90</integer>
		<key>d</key>
		<integer>-20</integer>
		<key>e</key>
		<integer>-30</integer>
		<key>f</key>
		<integer>8</integer>
		<key>g</key>
		<integer>-20</integer>
		<key>i</key>
		<integer>-24</integer>
		<key>m</key>
		<integer>-10</integer>
		<key>period</key>
		<integer>-80</integer>
		<key>public.kern2.a</key>
		<integer>-20</integer>
		<key>public.kern2.b</key>
		<integer>2</integer>
		<key>public.kern2.n</key>
		<integer>-30</integer>
		<key>public.kern2.o</key>
		<integer>-40</integer>
		<key>public.kern2.v</key>
		<integer>20</integer>
		<key>q</key>
		<integer>-10</integer>
		<key>quotedblright</key>
		<integer>40</integer>
		<key>quoteleft</key>
		<integer>10</integer>
		<key>quoteright</key>
		<integer>70</integer>
		<key>s</key>
		<integer>-10</integer>
		<key>semicolon</key>
		<integer>-20</integer>
		<key>t</key>
		<integer>20</integer>
		<key>u</key>
		<integer>-10</integer>
		<key>v</key>
		<integer>20</integer>
	</dict>
	<key>Q</key>
	<dict>
		<key>U</key>
		<integer>-11</integer>
		<key>k</key>
		<integer>-20</integer>
		<key>n</key>
		<integer>-30</integer>
		<key>quoteright</key>
		<integer>30</integer>
		<key>u</key>
		<integer>-3</integer>
	</dict>
	<key>R</key>
	<dict>
		<key>E</key>
		<integer>-30</integer>
		<key>K</key>
		<integer>10</integer>
		<key>O</key>
		<integer>-30</integer>
		<key>P</key>
		<integer>10</integer>
		<key>e</key>
		<integer>-20</integer>
		<key>g</key>
		<integer>-10</integer>
		<key>i</key>
		<integer>-20</integer>
		<key>o</key>
		<integer>-20</integer>
		<key>public.kern2.a</key>
		<integer>-40</integer>
		<key>public.kern2.o</key>
		<integer>-20</integer>
		<key>public.kern2.v</key>
		<integer>-1</integer>
		<key>quoteright</key>
		<integer>20</integer>
		<key>s</key>
		<integer>-20</integer>
		<key>u</key>
		<integer>-20</integer>
		<key>v</key>
		<integer>-20</integer>
		<key>y</key>
		<integer>-30</integer>
	</dict>
	<key>S</key>
	<dict>
		<key>public.kern2.a</key>
		<integer>-5</integer>
		<key>public.kern2.o</key>
		<integer>5</integer>
	</dict>
	<key>T</key>
	<dict>
		<key>i</key>
		<integer>-60</integer>
		<key>n</key>
		<integer>-70</integer>
		<key>o</key>
		<integer>-90</integer>
		<key>p</key>
		<integer>-90</integer>
		<key>public.kern2.a</key>
		<integer>-100</integer>
		<key>public.kern2.n</key>
		<integer>-70</integer>
		<key>public.kern2.v</key>
		<integer>-90</integer>
		<key>s</key>
		<integer>-100</integer>
		<key>u</key>
		<integer>-80</integer>
		<key>v</key>
		<integer>-83</integer>
	</dict>
	<key>V</key>
	<dict>
		<key>public.kern2.a</key>
		<integer>-99</integer>
	</dict>
	<key>X</key>
	<dict>
		<key>Y</key>
		<integer>30</integer>
		<key>backslash</key>
		<integer>30</integer>
		<key>colon</key>
		<integer>-20</integer>
		<key>comma</key>
		<integer>-20</integer>
		<key>ellipsis</key>
		<integer>-20</integer>
		<key>exclam</key>
		<integer>-20</integer>
		<key>i</key>
		<integer>-20</integer>
		<key>period</key>
		<integer>-20</integer>
		<key>public.kern2.b</key>
		<integer>-10</integer>
		<key>public.kern2.n</key>
		<integer>-10</integer>
		<key>public.kern2.o</key>
		<integer>-30</integer>
		<key>public.kern2.v</key>
		<integer>-20</integer>
		<key>question</key>
		<integer>-20</integer>
		<key>quoteright</key>
		<integer>-40</integer>
		<key>s</key>
		<integer>-10</integer>
		<key>semicolon</key>
		<integer>-20</integer>
	</dict>
	<key>Y</key>
	<dict>
		<key>B</key>
		<integer>10</integer>
		<key>C</key>
		<integer>10</integer>
		<key>F</key>
		<integer>20</integer>
		<key>G</key>
		<integer>10</integer>
		<key>M</key>
		<integer>10</integer>
		<key>N</key>
		<integer>20</integer>
		<key>S</key>
		<integer>10</integer>
		<key>U</key>
		<integer>30</integer>
		<key>W</key>
		<integer>60</integer>
		<key>X</key>
		<integer>30</integer>
		<key>asterisk</key>
		<integer>-20</integer>
		<key>backslash</key>
		<integer>140</integer>
		<key>colon</key>
		<integer>-70</integer>
		<key>comma</key>
		<integer>-70</integer>
		<key>ellipsis</key>
		<integer>-70</integer>
		<key>exclam</key>
		<integer>10</integer>
		<key>period</key>
		<integer>-70</integer>
		<key>public.kern2.n</key>
		<integer>-50</integer>
		<key>public.kern2.o</key>
		<integer>-100</integer>
		<key>question</key>
		<integer>10</integer>
		<key>quoteright</key>
		<integer>60</integer>
		<key>s</key>
		<integer>-40</integer>
		<key>semicolon</key>
		<integer>-70</integer>
		<key>slash</key>
		<integer>-80</integer>
		<key>space</key>
		<integer>0</integer>
		<key>u</key>
		<integer>-30</integer>
		<key>x</key>
		<integer>-20</integer>
	</dict>
	<key>Z</key>
	<dict>
		<key>asterisk</key>
		<integer>-20</integer>
		<key>i</key>
		<integer>-40</integer>
		<key>public.kern2.b</key>
		<integer>10</integer>
		<key>public.kern2.o</key>
		<integer>-50</integer>
	</dict>
	<key>a</key>
	<dict>
		<key>m</key>
		<integer>-7</integer>
		<key>public.kern2.n</key>
		<integer>0</integer>
	</dict>
	<key>backslash</key>
	<dict>
		<key>A</key>
		<integer>60</integer>
		<key>U</key>
		<integer>-50</integer>
		<key>V</key>
		<integer>-180</integer>
		<key>W</key>
		<integer>-50</integer>
		<key>X</key>
		<integer>20</integer>
		<key>Y</key>
		<integer>-120</integer>
		<key>Z</key>
		<integer>40</integer>
	</dict>
	<key>d</key>
	<dict>
		<key>public.kern2.b</key>
		<integer>-8</integer>
		<key>public.kern2.v</key>
		<integer>10</integer>
		<key>question</key>
		<integer>10</integer>
		<key>quoteleft</key>
		<integer>-10</integer>
		<key>quoteright</key>
		<integer>20</integer>
		<key>t</key>
		<integer>7</integer>
	</dict>
	<key>e</key>
	<dict>
		<key>endash</key>
		<integer>40</integer>
		<key>i</key>
		<integer>-10</integer>
		<key>parenright</key>
		<integer>-40</integer>
		<key>quotedblright</key>
		<integer>-5</integer>
		<key>quoteleft</key>
		<integer>-60</integer>
		<key>quoteright</key>
		<integer>-20</integer>
		<key>s</key>
		<integer>5</integer>
		<key>u</key>
		<integer>10</integer>
		<key>x</key>
		<integer>-10</integer>
	</dict>
	<key>egrave_t_e</key>
	<dict>
		<key>s</key>
		<integer>20</integer>
	</dict>
	<key>eight</key>
	<dict>
		<key>eight</key>
		<integer>-10</integer>
		<key>ellipsis</key>
		<integer>-30</integer>
		<key>five</key>
		<integer>-10</integer>
		<key>four</key>
		<integer>20</integer>
		<key>nine</key>
		<integer>10</integer>
		<key>seven</key>
		<integer>-50</integer>
		<key>three</key>
		<integer>10</integer>
		<key>two</key>
		<integer>-20</integer>
	</dict>
	<key>endash</key>
	<dict>
		<key>k</key>
		<integer>10</integer>
		<key>public.kern2.a</key>
		<integer>10</integer>
		<key>public.kern2.b</key>
		<integer>20</integer>
		<key>public.kern2.n</key>
		<integer>60</integer>
		<key>public.kern2.o</key>
		<integer>30</integer>
		<key>public.kern2.v</key>
		<integer>-10</integer>
		<key>u</key>
		<integer>10</integer>
	</dict>
	<key>f</key>
	<dict>
		<key>endash</key>
		<integer>-20</integer>
		<key>public.kern2.b</key>
		<integer>10</integer>
		<key>question</key>
		<integer>60</integer>
		<key>quotedblright</key>
		<integer>30</integer>
		<key>quoteleft</key>
		<integer>20</integer>
		<key>quoteright</key>
		<integer>30</integer>
		<key>t</key>
		<integer>1</integer>
	</dict>
	<key>five</key>
	<dict>
		<key>ellipsis</key>
		<integer>-40</integer>
		<key>five</key>
		<integer>-20</integer>
		<key>four</key>
		<integer>10</integer>
		<key>one</key>
		<integer>-50</integer>
		<key>seven</key>
		<integer>-30</integer>
		<key>six</key>
		<integer>-10</integer>
		<key>three</key>
		<integer>-10</integer>
		<key>two</key>
		<integer>-30</integer>
		<key>zero</key>
		<integer>-20</integer>
	</dict>
	<key>four</key>
	<dict>
		<key>eight</key>
		<integer>-20</integer>
		<key>five</key>
		<integer>-50</integer>
		<key>four</key>
		<integer>-40</integer>
		<key>hyphen</key>
		<integer>-40</integer>
		<key>nine</key>
		<integer>-40</integer>
		<key>one</key>
		<integer>-70</integer>
		<key>seven</key>
		<integer>-60</integer>
		<key>six</key>
		<integer>-10</integer>
		<key>three</key>
		<integer>-20</integer>
		<key>two</key>
		<integer>-50</integer>
		<key>zero</key>
		<integer>-70</integer>
	</dict>
	<key>g</key>
	<dict>
		<key>public.kern2.b</key>
		<integer>-10</integer>
		<key>public.kern2.n</key>
		<integer>-10</integer>
		<key>public.kern2.o</key>
		<integer>-10</integer>
		<key>public.kern2.v</key>
		<integer>10</integer>
		<key>quoteleft</key>
		<integer>-30</integer>
		<key>quoteright</key>
		<integer>-20</integer>
	</dict>
	<key>hyphen</key>
	<dict>
		<key>V</key>
		<integer>-50</integer>
		<key>Z</key>
		<integer>-50</integer>
		<key>four</key>
		<integer>30</integer>
		<key>one</key>
		<integer>10</integer>
		<key>public.kern2.v</key>
		<integer>-20</integer>
		<key>seven</key>
		<integer>-110</integer>
		<key>three</key>
		<integer>-90</integer>
	</dict>
	<key>i</key>
	<dict>
		<key>j</key>
		<integer>-20</integer>
		<key>public.kern2.o</key>
		<integer>-26</integer>
		<key>public.kern2.v</key>
		<integer>-10</integer>
		<key>question</key>
		<integer>10</integer>
		<key>quoteleft</key>
		<integer>-30</integer>
		<key>s</key>
		<integer>-10</integer>
		<key>uF3720</key>
		<integer>-10</integer>
		<key>x</key>
		<integer>-10</integer>
	</dict>
	<key>j</key>
	<dict>
		<key>public.kern2.b</key>
		<integer>10</integer>
		<key>question</key>
		<integer>10</integer>
		<key>quoteleft</key>
		<integer>20</integer>
		<key>quoteright</key>
		<integer>40</integer>
	</dict>
	<key>k</key>
	<dict>
		<key>public.kern2.b</key>
		<integer>-3</integer>
		<key>public.kern2.v</key>
		<integer>5</integer>
		<key>question</key>
		<integer>-20</integer>
		<key>quotedblright</key>
		<integer>-20</integer>
		<key>quoteleft</key>
		<integer>-30</integer>
		<key>quoteright</key>
		<integer>-30</integer>
	</dict>
	<key>l</key>
	<dict>
		<key>a</key>
		<integer>-20</integer>
		<key>uF5110</key>
		<integer>-21</integer>
	</dict>
	<key>m</key>
	<dict>
		<key>public.kern2.b</key>
		<integer>0</integer>
		<key>public.kern2.v</key>
		<integer>5</integer>
		<key>question</key>
		<integer>-20</integer>
		<key>quotedblright</key>
		<integer>-20</integer>
		<key>quoteleft</key>
		<integer>-30</integer>
		<key>quoteright</key>
		<integer>-10</integer>
	</dict>
	<key>n</key>
	<dict>
		<key>endash</key>
		<integer>8</integer>
		<key>m</key>
		<integer>0</integer>
		<key>public.kern2.b</key>
		<integer>-10</integer>
		<key>quoteleft</key>
		<integer>-60</integer>
		<key>quoteright</key>
		<integer>-20</integer>
		<key>uF1710</key>
		<integer>1</integer>
		<key>uF4910</key>
		<integer>-20</integer>
	</dict>
	<key>nine</key>
	<dict>
		<key>eight</key>
		<integer>10</integer>
		<key>ellipsis</key>
		<integer>-60</integer>
		<key>five</key>
		<integer>-10</integer>
		<key>four</key>
		<integer>20</integer>
		<key>one</key>
		<integer>0</integer>
		<key>seven</key>
		<integer>-70</integer>
		<key>six</key>
		<integer>10</integer>
		<key>three</key>
		<integer>-20</integer>
		<key>two</key>
		<integer>-10</integer>
	</dict>
	<key>o</key>
	<dict>
		<key>parenright</key>
		<integer>-40</integer>
		<key>public.kern2.b</key>
		<integer>-19</integer>
		<key>public.kern2.n</key>
		<integer>-10</integer>
		<key>question</key>
		<integer>-20</integer>
		<key>quoteleft</key>
		<integer>-60</integer>
		<key>quoteright</key>
		<integer>-10</integer>
	</dict>
	<key>one</key>
	<dict>
		<key>degree</key>
		<integer>-10</integer>
		<key>four</key>
		<integer>-10</integer>
		<key>hyphen</key>
		<integer>20</integer>
		<key>nine</key>
		<integer>20</integer>
		<key>one</key>
		<integer>-20</integer>
		<key>six</key>
		<integer>10</integer>
	</dict>
	<key>p</key>
	<dict>
		<key>i</key>
		<integer>-10</integer>
		<key>public.kern2.50</key>
		<integer>0</integer>
		<key>quotedblright</key>
		<integer>-30</integer>
		<key>quoteleft</key>
		<integer>-60</integer>
	</dict>
	<key>parenleft</key>
	<dict>
		<key>j</key>
		<integer>80</integer>
		<key>public.kern2.a</key>
		<integer>-40</integer>
		<key>public.kern2.b</key>
		<integer>30</integer>
		<key>public.kern2.o</key>
		<integer>-40</integer>
		<key>public.kern2.v</key>
		<integer>0</integer>
		<key>t</key>
		<integer>10</integer>
		<key>y</key>
		<integer>70</integer>
	</dict>
	<key>public.kern1.B</key>
	<dict>
		<key>A</key>
		<integer>20</integer>
		<key>D</key>
		<integer>-20</integer>
		<key>Y</key>
		<integer>-10</integer>
		<key>backslash</key>
		<integer>20</integer>
		<key>i</key>
		<integer>-10</integer>
		<key>j</key>
		<integer>-10</integer>
		<key>public.kern2.b</key>
		<integer>10</integer>
		<key>quotedblright</key>
		<integer>20</integer>
		<key>quoteleft</key>
		<integer>-20</integer>
	</dict>
	<key>public.kern1.C</key>
	<dict>
		<key>A</key>
		<integer>-20</integer>
		<key>W</key>
		<integer>10</integer>
		<key>Y</key>
		<integer>20</integer>
		<key>public.kern2.o</key>
		<integer>-20</integer>
		<key>quoteright</key>
		<integer>20</integer>
		<key>s</key>
		<integer>-30</integer>
	</dict>
	<key>public.kern1.O</key>
	<dict>
		<key>N</key>
		<integer>-10</integer>
		<key>R</key>
		<integer>-20</integer>
		<key>T</key>
		<integer>-20</integer>
		<key>V</key>
		<integer>-30</integer>
		<key>X</key>
		<integer>-30</integer>
		<key>Y</key>
		<integer>-10</integer>
		<key>colon</key>
		<integer>-30</integer>
		<key>comma</key>
		<integer>-70</integer>
		<key>ellipsis</key>
		<integer>-30</integer>
		<key>period</key>
		<integer>-30</integer>
		<key>public.kern2.o</key>
		<integer>-4</integer>
		<key>quotedblright</key>
		<integer>10</integer>
		<key>quoteleft</key>
		<integer>-20</integer>
		<key>quoteright</key>
		<integer>10</integer>
		<key>semicolon</key>
		<integer>-20</integer>
		<key>x</key>
		<integer>-20</integer>
	</dict>
	<key>public.kern1.S</key>
	<dict>
		<key>C</key>
		<integer>20</integer>
		<key>F</key>
		<integer>1</integer>
		<key>I</key>
		<integer>10</integer>
		<key>V</key>
		<integer>10</integer>
		<key>W</key>
		<integer>10</integer>
		<key>Y</key>
		<integer>20</integer>
		<key>i</key>
		<integer>-21</integer>
		<key>public.kern2.n</key>
		<integer>-10</integer>
		<key>public.kern2.v</key>
		<integer>-10</integer>
		<key>quotedblright</key>
		<integer>-15</integer>
		<key>quoteright</key>
		<integer>20</integer>
	</dict>
	<key>public.kern1.T</key>
	<dict>
		<key>B</key>
		<integer>-20</integer>
		<key>E</key>
		<integer>-20</integer>
		<key>O</key>
		<integer>-20</integer>
		<key>U</key>
		<integer>-20</integer>
		<key>W</key>
		<integer>10</integer>
		<key>Y</key>
		<integer>80</integer>
		<key>asterisk</key>
		<integer>-20</integer>
		<key>backslash</key>
		<integer>50</integer>
		<key>colon</key>
		<integer>-50</integer>
		<key>comma</key>
		<integer>-50</integer>
		<key>ecircumflex</key>
		<integer>-140</integer>
		<key>egrave</key>
		<integer>-80</integer>
		<key>ellipsis</key>
		<integer>-50</integer>
		<key>exclam</key>
		<integer>-20</integer>
		<key>period</key>
		<integer>-50</integer>
		<key>public.kern2.o</key>
		<integer>-90</integer>
		<key>public.kern2.u</key>
		<integer>-140</integer>
		<key>quoteright</key>
		<integer>20</integer>
		<key>semicolon</key>
		<integer>-50</integer>
		<key>slash</key>
		<integer>-50</integer>
		<key>z</key>
		<integer>-70</integer>
	</dict>
	<key>public.kern1.U</key>
	<dict>
		<key>J</key>
		<integer>-20</integer>
		<key>M</key>
		<integer>-10</integer>
		<key>S</key>
		<integer>10</integer>
		<key>U</key>
		<integer>10</integer>
		<key>V</key>
		<integer>10</integer>
		<key>W</key>
		<integer>20</integer>
		<key>backslash</key>
		<integer>32</integer>
		<key>public.kern2.n</key>
		<integer>0</integer>
		<key>public.kern2.v</key>
		<integer>3</integer>
		<key>question</key>
		<integer>-20</integer>
		<key>s</key>
		<integer>5</integer>
		<key>t</key>
		<integer>2</integer>
	</dict>
	<key>public.kern1.V</key>
	<dict>
		<key>A</key>
		<integer>-70</integer>
		<key>O</key>
		<integer>-30</integer>
		<key>U</key>
		<integer>10</integer>
		<key>V</key>
		<integer>20</integer>
		<key>Y</key>
		<integer>50</integer>
		<key>colon</key>
		<integer>-70</integer>
		<key>comma</key>
		<integer>-100</integer>
		<key>ellipsis</key>
		<integer>-70</integer>
		<key>f</key>
		<integer>-30</integer>
		<key>hyphen</key>
		<integer>-70</integer>
		<key>i</key>
		<integer>-30</integer>
		<key>period</key>
		<integer>-80</integer>
		<key>periodcentered</key>
		<integer>-100</integer>
		<key>public.kern2.n</key>
		<integer>-80</integer>
		<key>public.kern2.o</key>
		<integer>-90</integer>
		<key>public.kern2.v</key>
		<integer>-60</integer>
		<key>quoteright</key>
		<integer>20</integer>
		<key>s</key>
		<integer>-70</integer>
		<key>semicolon</key>
		<integer>-70</integer>
		<key>slash</key>
		<integer>-150</integer>
		<key>u</key>
		<integer>-60</integer>
	</dict>
	<key>public.kern1.W</key>
	<dict>
		<key>A</key>
		<integer>-60</integer>
		<key>K</key>
		<integer>10</integer>
		<key>Y</key>
		<integer>60</integer>
		<key>asterisk</key>
		<integer>20</integer>
		<key>colon</key>
		<integer>-70</integer>
		<key>comma</key>
		<integer>-70</integer>
		<key>ellipsis</key>
		<integer>-70</integer>
		<key>exclam</key>
		<integer>-20</integer>
		<key>i</key>
		<integer>-30</integer>
		<key>period</key>
		<integer>-70</integer>
		<key>public.kern2.n</key>
		<integer>-20</integer>
		<key>public.kern2.o</key>
		<integer>-60</integer>
		<key>public.kern2.v</key>
		<integer>-40</integer>
		<key>quoteleft</key>
		<integer>20</integer>
		<key>quoteright</key>
		<integer>30</integer>
		<key>semicolon</key>
		<integer>-70</integer>
		<key>space</key>
		<integer>10</integer>
	</dict>
	<key>public.kern1.ae</key>
	<dict>
		<key>endash</key>
		<integer>10</integer>
		<key>parenright</key>
		<integer>-40</integer>
		<key>public.kern2.n</key>
		<integer>10</integer>
		<key>quoteleft</key>
		<integer>-20</integer>
	</dict>
	<key>public.kern1.b</key>
	<dict>
		<key>comma</key>
		<integer>-40</integer>
		<key>i</key>
		<integer>-10</integer>
		<key>parenright</key>
		<integer>-40</integer>
		<key>public.kern2.b</key>
		<integer>-10</integer>
		<key>public.kern2.v</key>
		<integer>-1</integer>
		<key>question</key>
		<integer>-20</integer>
		<key>quotedblright</key>
		<integer>-20</integer>
		<key>quoteleft</key>
		<integer>-60</integer>
		<key>quoteright</key>
		<integer>-20</integer>
	</dict>
	<key>public.kern1.e</key>
	<dict>
		<key>parenright</key>
		<integer>-40</integer>
		<key>public.kern2.n</key>
		<integer>30</integer>
		<key>quoteleft</key>
		<integer>-60</integer>
	</dict>
	<key>public.kern1.h</key>
	<dict>
		<key>public.kern2.b</key>
		<integer>-4</integer>
		<key>public.kern2.o</key>
		<integer>-1</integer>
		<key>quotedblright</key>
		<integer>-20</integer>
		<key>quoteleft</key>
		<integer>-30</integer>
		<key>quoteright</key>
		<integer>0</integer>
	</dict>
	<key>public.kern1.l</key>
	<dict>
		<key>public.kern2.b</key>
		<integer>0</integer>
		<key>public.kern2.v</key>
		<integer>10</integer>
		<key>question</key>
		<integer>10</integer>
		<key>quoteright</key>
		<integer>10</integer>
		<key>s</key>
		<integer>-10</integer>
		<key>uF1910</key>
		<integer>-9</integer>
	</dict>
	<key>public.kern1.o</key>
	<dict>
		<key>parenright</key>
		<integer>-40</integer>
		<key>question</key>
		<integer>-10</integer>
		<key>quoteleft</key>
		<integer>-60</integer>
		<key>quoteright</key>
		<integer>-20</integer>
	</dict>
	<key>public.kern1.re</key>
	<dict>
		<key>s</key>
		<integer>25</integer>
	</dict>
	<key>public.kern1.t</key>
	<dict>
		<key>hyphen</key>
		<integer>-90</integer>
		<key>public.kern2.v</key>
		<integer>-20</integer>
		<key>quotedblright</key>
		<integer>-20</integer>
		<key>quoteleft</key>
		<integer>-20</integer>
		<key>quoteright</key>
		<integer>-20</integer>
		<key>u</key>
		<integer>-3</integer>
	</dict>
	<key>q</key>
	<dict>
		<key>colon</key>
		<integer>20</integer>
		<key>comma</key>
		<integer>20</integer>
		<key>ellipsis</key>
		<integer>10</integer>
		<key>period</key>
		<integer>20</integer>
		<key>quoteleft</key>
		<integer>-30</integer>
		<key>semicolon</key>
		<integer>20</integer>
	</dict>
	<key>quotedblleft</key>
	<dict>
		<key>A</key>
		<integer>-60</integer>
		<key>B</key>
		<integer>-10</integer>
		<key>J</key>
		<integer>-50</integer>
		<key>O</key>
		<integer>10</integer>
		<key>Q</key>
		<integer>20</integer>
		<key>S</key>
		<integer>20</integer>
		<key>f</key>
		<integer>20</integer>
		<key>public.kern2.b</key>
		<integer>20</integer>
		<key>public.kern2.o</key>
		<integer>-20</integer>
		<key>public.kern2.v</key>
		<integer>20</integer>
		<key>t</key>
		<integer>30</integer>
	</dict>
	<key>quoteleft</key>
	<dict>
		<key>C</key>
		<integer>20</integer>
		<key>Y</key>
		<integer>50</integer>
	</dict>
	<key>quoteright</key>
	<dict>
		<key>A</key>
		<integer>-130</integer>
		<key>B</key>
		<integer>-30</integer>
		<key>C</key>
		<integer>-20</integer>
		<key>D</key>
		<integer>-30</integer>
		<key>E</key>
		<integer>-40</integer>
		<key>G</key>
		<integer>-60</integer>
		<key>H</key>
		<integer>-50</integer>
		<key>I</key>
		<integer>-20</integer>
		<key>J</key>
		<integer>-140</integer>
		<key>K</key>
		<integer>-20</integer>
		<key>O</key>
		<integer>-50</integer>
		<key>OE</key>
		<integer>-60</integer>
		<key>Q</key>
		<integer>-20</integer>
		<key>R</key>
		<integer>-20</integer>
		<key>S</key>
		<integer>-10</integer>
		<key>T</key>
		<integer>-20</integer>
		<key>V</key>
		<integer>10</integer>
		<key>W</key>
		<integer>30</integer>
		<key>X</key>
		<integer>-60</integer>
		<key>Y</key>
		<integer>40</integer>
		<key>Z</key>
		<integer>-50</integer>
		<key>f</key>
		<integer>-10</integer>
		<key>p</key>
		<integer>-45</integer>
		<key>public.kern2.a</key>
		<integer>-60</integer>
		<key>public.kern2.b</key>
		<integer>15</integer>
		<key>public.kern2.n</key>
		<integer>-15</integer>
		<key>public.kern2.o</key>
		<integer>-60</integer>
		<key>public.kern2.v</key>
		<integer>-20</integer>
		<key>s</key>
		<integer>-80</integer>
		<key>space</key>
		<integer>-20</integer>
		<key>t</key>
		<integer>10</integer>
		<key>u</key>
		<integer>-20</integer>
		<key>x</key>
		<integer>-30</integer>
		<key>z</key>
		<integer>-20</integer>
	</dict>
	<key>quotesinglbase</key>
	<dict>
		<key>A</key>
		<integer>10</integer>
		<key>G</key>
		<integer>-10</integer>
		<key>j</key>
		<integer>10</integer>
	</dict>
	<key>r</key>
	<dict>
		<key>endash</key>
		<integer>-20</integer>
		<key>i</key>
		<integer>-10</integer>
		<key>o</key>
		<integer>-35</integer>
		<key>public.kern2.b</key>
		<integer>25</integer>
		<key>public.kern2.o</key>
		<integer>-30</integer>
		<key>question</key>
		<integer>40</integer>
		<key>quotedblright</key>
		<integer>20</integer>
		<key>quoteright</key>
		<integer>40</integer>
		<key>s</key>
		<integer>30</integer>
		<key>t</key>
		<integer>15</integer>
		<key>uF6300</key>
		<integer>-85</integer>
	</dict>
	<key>s</key>
	<dict>
		<key>public.kern2.v</key>
		<integer>-10</integer>
		<key>question</key>
		<integer>-30</integer>
		<key>quotedblright</key>
		<integer>-10</integer>
		<key>quoteleft</key>
		<integer>-30</integer>
		<key>quoteright</key>
		<integer>-10</integer>
	</dict>
	<key>seven</key>
	<dict>
		<key>ellipsis</key>
		<integer>-180</integer>
		<key>five</key>
		<integer>-10</integer>
		<key>four</key>
		<integer>-50</integer>
		<key>hyphen</key>
		<integer>-50</integer>
		<key>nine</key>
		<integer>20</integer>
		<key>one</key>
		<integer>11</integer>
		<key>six</key>
		<integer>-20</integer>
		<key>three</key>
		<integer>-50</integer>
		<key>two</key>
		<integer>-10</integer>
		<key>zero</key>
		<integer>-30</integer>
	</dict>
	<key>six</key>
	<dict>
		<key>ellipsis</key>
		<integer>-50</integer>
		<key>five</key>
		<integer>10</integer>
		<key>nine</key>
		<integer>-20</integer>
		<key>six</key>
		<integer>-40</integer>
		<key>three</key>
		<integer>-10</integer>
		<key>two</key>
		<integer>-50</integer>
	</dict>
	<key>slash</key>
	<dict>
		<key>A</key>
		<integer>-100</integer>
		<key>AE</key>
		<integer>-80</integer>
		<key>J</key>
		<integer>-40</integer>
		<key>T</key>
		<integer>90</integer>
		<key>V</key>
		<integer>60</integer>
		<key>Y</key>
		<integer>90</integer>
		<key>public.kern2.a</key>
		<integer>-100</integer>
		<key>public.kern2.b</key>
		<integer>6</integer>
		<key>public.kern2.n</key>
		<integer>-49</integer>
		<key>public.kern2.o</key>
		<integer>-85</integer>
		<key>u</key>
		<integer>-60</integer>
	</dict>
	<key>t</key>
	<dict>
		<key>public.kern2.o</key>
		<integer>-23</integer>
	</dict>
	<key>three</key>
	<dict>
		<key>degree</key>
		<integer>-20</integer>
		<key>eight</key>
		<integer>10</integer>
		<key>four</key>
		<integer>10</integer>
	</dict>
	<key>two</key>
	<dict>
		<key>eight</key>
		<integer>20</integer>
		<key>four</key>
		<integer>-40</integer>
		<key>nine</key>
		<integer>10</integer>
		<key>one</key>
		<integer>20</integer>
		<key>seven</key>
		<integer>-30</integer>
		<key>zero</key>
		<integer>-20</integer>
	</dict>
	<key>u</key>
	<dict>
		<key>T</key>
		<integer>-90</integer>
		<key>comma</key>
		<integer>-20</integer>
		<key>public.kern2.n</key>
		<integer>0</integer>
		<key>public.kern2.o</key>
		<integer>0</integer>
		<key>public.kern2.re</key>
		<integer>-34</integer>
		<key>quoteleft</key>
		<integer>-20</integer>
		<key>s</key>
		<integer>-10</integer>
		<key>semicolon</key>
		<integer>-10</integer>
		<key>space</key>
		<integer>0</integer>
	</dict>
	<key>uF1520</key>
	<dict>
		<key>s</key>
		<integer>25</integer>
	</dict>
	<key>uF1560</key>
	<dict>
		<key>s</key>
		<integer>25</integer>
	</dict>
	<key>uF1710</key>
	<dict>
		<key>s</key>
		<integer>25</integer>
	</dict>
	<key>uF1910</key>
	<dict>
		<key>space</key>
		<integer>-10</integer>
	</dict>
	<key>uF1920</key>
	<dict>
		<key>s</key>
		<integer>30</integer>
	</dict>
	<key>uF1990</key>
	<dict>
		<key>s</key>
		<integer>20</integer>
	</dict>
	<key>uF19A0</key>
	<dict>
		<key>x</key>
		<integer>-5</integer>
	</dict>
	<key>uF19C0</key>
	<dict>
		<key>s</key>
		<integer>-40</integer>
	</dict>
	<key>uF2110</key>
	<dict>
		<key>s</key>
		<integer>20</integer>
	</dict>
	<key>uF2160</key>
	<dict>
		<key>s</key>
		<integer>25</integer>
	</dict>
	<key>uF3310</key>
	<dict>
		<key>s</key>
		<integer>20</integer>
	</dict>
	<key>uF3330</key>
	<dict>
		<key>s</key>
		<integer>20</integer>
	</dict>
	<key>uF3750</key>
	<dict>
		<key>s</key>
		<integer>0</integer>
	</dict>
	<key>uF3980</key>
	<dict>
		<key>s</key>
		<integer>-20</integer>
	</dict>
	<key>uF4520</key>
	<dict>
		<key>s</key>
		<integer>-10</integer>
	</dict>
	<key>uF4680</key>
	<dict>
		<key>s</key>
		<integer>5</integer>
	</dict>
	<key>uF4720</key>
	<dict>
		<key>s</key>
		<integer>25</integer>
	</dict>
	<key>uF4740</key>
	<dict>
		<key>s</key>
		<integer>10</integer>
	</dict>
	<key>uF47D0</key>
	<dict>
		<key>s</key>
		<integer>20</integer>
	</dict>
	<key>uF4910</key>
	<dict>
		<key>s</key>
		<integer>21</integer>
	</dict>
	<key>uF4B10</key>
	<dict>
		<key>s</key>
		<integer>5</integer>
	</dict>
	<key>uF4B21</key>
	<dict>
		<key>s</key>
		<integer>5</integer>
	</dict>
	<key>uF5110</key>
	<dict>
		<key>s</key>
		<integer>20</integer>
	</dict>
	<key>uF5170</key>
	<dict>
		<key>s</key>
		<integer>20</integer>
	</dict>
	<key>uF5720</key>
	<dict>
		<key>s</key>
		<integer>-10</integer>
	</dict>
	<key>uF57B0</key>
	<dict>
		<key>s</key>
		<integer>15</integer>
	</dict>
	<key>uF57E0</key>
	<dict>
		<key>s</key>
		<integer>10</integer>
	</dict>
	<key>uF6300</key>
	<dict>
		<key>u</key>
		<integer>0</integer>
	</dict>
	<key>v</key>
	<dict>
		<key>a</key>
		<integer>-29</integer>
		<key>colon</key>
		<integer>-40</integer>
		<key>comma</key>
		<integer>-70</integer>
		<key>e</key>
		<integer>-5</integer>
		<key>ellipsis</key>
		<integer>-60</integer>
		<key>endash</key>
		<integer>-10</integer>
		<key>i</key>
		<integer>-10</integer>
		<key>period</key>
		<integer>-60</integer>
		<key>public.kern2.b</key>
		<integer>10</integer>
		<key>question</key>
		<integer>20</integer>
		<key>quotedblright</key>
		<integer>10</integer>
		<key>quoteright</key>
		<integer>20</integer>
		<key>semicolon</key>
		<integer>-50</integer>
		<key>uF5110</key>
		<integer>-82</integer>
	</dict>
	<key>w</key>
	<dict>
		<key>colon</key>
		<integer>-50</integer>
		<key>comma</key>
		<integer>-60</integer>
		<key>ellipsis</key>
		<integer>-50</integer>
		<key>endash</key>
		<integer>-10</integer>
		<key>k</key>
		<integer>10</integer>
		<key>period</key>
		<integer>-50</integer>
		<key>public.kern2.o</key>
		<integer>-10</integer>
		<key>question</key>
		<integer>20</integer>
		<key>quotedblright</key>
		<integer>10</integer>
		<key>quoteright</key>
		<integer>10</integer>
		<key>semicolon</key>
		<integer>-50</integer>
	</dict>
	<key>y</key>
	<dict>
		<key>colon</key>
		<integer>-40</integer>
		<key>comma</key>
		<integer>-60</integer>
		<key>ellipsis</key>
		<integer>-60</integer>
		<key>parenright</key>
		<integer>-20</integer>
		<key>period</key>
		<integer>-40</integer>
		<key>public.kern2.b</key>
		<integer>10</integer>
		<key>public.kern2.v</key>
		<integer>25</integer>
		<key>question</key>
		<integer>20</integer>
		<key>quoteright</key>
		<integer>30</integer>
		<key>semicolon</key>
		<integer>-40</integer>
		<key>u</key>
		<integer>-5</integer>
	</dict>
	<key>z</key>
	<dict>
		<key>public.kern2.b</key>
		<integer>6</integer>
		<key>t</key>
		<integer>10</integer>
	</dict>
	<key>zero</key>
	<dict>
		<key>five</key>
		<integer>10</integer>
		<key>four</key>
		<integer>10</integer>
		<key>one</key>
		<integer>-10</integer>
		<key>seven</key>
		<integer>-10</integer>
		<key>six</key>
		<integer>10</integer>
		<key>zero</key>
		<integer>-40</integer>
	</dict>
</dict>
</plist>
