<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>com.schriftgestaltung.disablesAutomaticAlignment</key>
	<false/>
	<key>com.schriftgestaltung.fontMasterID</key>
	<string>master01</string>
	<key>com.schriftgestaltung.glyphOrder</key>
	<false/>
	<key>com.schriftgestaltung.master.name</key>
	<string>95</string>
	<key>com.schriftgestaltung.useNiceNames</key>
	<false/>
	<key>public.glyphOrder</key>
	<array>
		<string>A</string>
		<string>Aacute</string>
		<string>Abreve</string>
		<string>Acircumflex</string>
		<string>Adieresis</string>
		<string>Agrave</string>
		<string>Amacron</string>
		<string>Aogonek</string>
		<string>Aring</string>
		<string>Aringacute</string>
		<string>Atilde</string>
		<string>AE</string>
		<string>B</string>
		<string>C</string>
		<string>Cacute</string>
		<string>Ccaron</string>
		<string>Ccedilla</string>
		<string>Ccircumflex</string>
		<string>Cdotaccent</string>
		<string>D</string>
		<string>Eth</string>
		<string>Dcaron</string>
		<string>Dcroat</string>
		<string>E</string>
		<string>Eacute</string>
		<string>Ebreve</string>
		<string>Ecaron</string>
		<string>Ecircumflex</string>
		<string>Edieresis</string>
		<string>Edotaccent</string>
		<string>Egrave</string>
		<string>Emacron</string>
		<string>Eogonek</string>
		<string>uni018F</string>
		<string>F</string>
		<string>G</string>
		<string>Gbreve</string>
		<string>Gcaron</string>
		<string>Gcircumflex</string>
		<string>Gdotaccent</string>
		<string>H</string>
		<string>Hbar</string>
		<string>Hcircumflex</string>
		<string>I</string>
		<string>IJ</string>
		<string>Iacute</string>
		<string>Ibreve</string>
		<string>Icircumflex</string>
		<string>Idieresis</string>
		<string>Idotaccent</string>
		<string>Igrave</string>
		<string>Imacron</string>
		<string>Iogonek</string>
		<string>Itilde</string>
		<string>J</string>
		<string>uni004A0301</string>
		<string>Jcircumflex</string>
		<string>K</string>
		<string>L</string>
		<string>Lacute</string>
		<string>Lcaron</string>
		<string>Ldot</string>
		<string>Lslash</string>
		<string>M</string>
		<string>N</string>
		<string>Nacute</string>
		<string>Ncaron</string>
		<string>Ntilde</string>
		<string>Eng</string>
		<string>O</string>
		<string>Oacute</string>
		<string>Obreve</string>
		<string>Ocircumflex</string>
		<string>Odieresis</string>
		<string>Ograve</string>
		<string>Ohorn</string>
		<string>Ohungarumlaut</string>
		<string>Omacron</string>
		<string>Oslash</string>
		<string>Otilde</string>
		<string>OE</string>
		<string>P</string>
		<string>Thorn</string>
		<string>Q</string>
		<string>R</string>
		<string>Racute</string>
		<string>Rcaron</string>
		<string>S</string>
		<string>Sacute</string>
		<string>Scaron</string>
		<string>Scedilla</string>
		<string>Scircumflex</string>
		<string>uni1E9E</string>
		<string>T</string>
		<string>Tbar</string>
		<string>Tcaron</string>
		<string>U</string>
		<string>Uacute</string>
		<string>Ubreve</string>
		<string>Ucircumflex</string>
		<string>Udieresis</string>
		<string>Ugrave</string>
		<string>Uhorn</string>
		<string>Uhungarumlaut</string>
		<string>Umacron</string>
		<string>Uogonek</string>
		<string>Uring</string>
		<string>Utilde</string>
		<string>V</string>
		<string>W</string>
		<string>Wacute</string>
		<string>Wcircumflex</string>
		<string>Wdieresis</string>
		<string>Wgrave</string>
		<string>X</string>
		<string>Y</string>
		<string>Yacute</string>
		<string>Ycircumflex</string>
		<string>Ydieresis</string>
		<string>Ygrave</string>
		<string>Z</string>
		<string>Zacute</string>
		<string>Zcaron</string>
		<string>Zdotaccent</string>
		<string>uni0122</string>
		<string>uni0136</string>
		<string>uni013B</string>
		<string>uni0145</string>
		<string>uni0156</string>
		<string>uni0162</string>
		<string>uni0181</string>
		<string>uni0187</string>
		<string>uni0189</string>
		<string>uni018A</string>
		<string>uni018E</string>
		<string>uni0190</string>
		<string>uni0191</string>
		<string>uni0197</string>
		<string>uni0198</string>
		<string>uni019D</string>
		<string>uni01B3</string>
		<string>uni01CD</string>
		<string>uni01CF</string>
		<string>uni01D1</string>
		<string>uni01D3</string>
		<string>uni01D5</string>
		<string>uni01D7</string>
		<string>uni01D9</string>
		<string>uni01DB</string>
		<string>uni01DE</string>
		<string>uni01E0</string>
		<string>uni01E4</string>
		<string>uni01E8</string>
		<string>uni01EA</string>
		<string>uni01EC</string>
		<string>uni01F4</string>
		<string>uni01F8</string>
		<string>uni0218</string>
		<string>uni021A</string>
		<string>uni021E</string>
		<string>uni0226</string>
		<string>uni0228</string>
		<string>uni022A</string>
		<string>uni022C</string>
		<string>uni022E</string>
		<string>uni0230</string>
		<string>uni0232</string>
		<string>uni0243</string>
		<string>uni0245</string>
		<string>uni1E00</string>
		<string>uni1E02</string>
		<string>uni1E04</string>
		<string>uni1E06</string>
		<string>uni1E08</string>
		<string>uni1E0A</string>
		<string>uni1E0C</string>
		<string>uni1E0E</string>
		<string>uni1E10</string>
		<string>uni1E12</string>
		<string>uni1E14</string>
		<string>uni1E16</string>
		<string>uni1E18</string>
		<string>uni1E1A</string>
		<string>uni1E1E</string>
		<string>uni1E20</string>
		<string>uni1E22</string>
		<string>uni1E24</string>
		<string>uni1E26</string>
		<string>uni1E28</string>
		<string>uni1E2C</string>
		<string>uni1E2E</string>
		<string>uni1E30</string>
		<string>uni1E32</string>
		<string>uni1E34</string>
		<string>uni1E36</string>
		<string>uni1E38</string>
		<string>uni1E3A</string>
		<string>uni1E3C</string>
		<string>uni1E3E</string>
		<string>uni1E40</string>
		<string>uni1E42</string>
		<string>uni1E44</string>
		<string>uni1E46</string>
		<string>uni1E48</string>
		<string>uni1E4A</string>
		<string>uni1E4C</string>
		<string>uni1E4E</string>
		<string>uni1E50</string>
		<string>uni1E52</string>
		<string>uni1E54</string>
		<string>uni1E56</string>
		<string>uni1E58</string>
		<string>uni1E5A</string>
		<string>uni1E5C</string>
		<string>uni1E5E</string>
		<string>uni1E60</string>
		<string>uni1E62</string>
		<string>uni1E64</string>
		<string>uni1E66</string>
		<string>uni1E68</string>
		<string>uni1E6A</string>
		<string>uni1E6C</string>
		<string>uni1E6E</string>
		<string>uni1E70</string>
		<string>uni1E72</string>
		<string>uni1E74</string>
		<string>uni1E76</string>
		<string>uni1E78</string>
		<string>uni1E7A</string>
		<string>uni1E7C</string>
		<string>uni1E7E</string>
		<string>uni1E86</string>
		<string>uni1E88</string>
		<string>uni1E8A</string>
		<string>uni1E8C</string>
		<string>uni1E8E</string>
		<string>uni1E90</string>
		<string>uni1E92</string>
		<string>uni1E94</string>
		<string>uni1EA0</string>
		<string>uni1EA2</string>
		<string>uni1EA4</string>
		<string>uni1EA6</string>
		<string>uni1EA8</string>
		<string>uni1EAA</string>
		<string>uni1EAC</string>
		<string>uni1EAE</string>
		<string>uni1EB0</string>
		<string>uni1EB2</string>
		<string>uni1EB4</string>
		<string>uni1EB6</string>
		<string>uni1EB8</string>
		<string>uni1EBA</string>
		<string>uni1EBC</string>
		<string>uni1EBE</string>
		<string>uni1EC0</string>
		<string>uni1EC2</string>
		<string>uni1EC4</string>
		<string>uni1EC6</string>
		<string>uni1EC8</string>
		<string>uni1ECA</string>
		<string>uni1ECC</string>
		<string>uni1ECE</string>
		<string>uni1ED0</string>
		<string>uni1ED2</string>
		<string>uni1ED4</string>
		<string>uni1ED6</string>
		<string>uni1ED8</string>
		<string>uni1EDA</string>
		<string>uni1EDC</string>
		<string>uni1EDE</string>
		<string>uni1EE0</string>
		<string>uni1EE2</string>
		<string>uni1EE4</string>
		<string>uni1EE6</string>
		<string>uni1EE8</string>
		<string>uni1EEA</string>
		<string>uni1EEC</string>
		<string>uni1EEE</string>
		<string>uni1EF0</string>
		<string>uni1EF4</string>
		<string>uni1EF6</string>
		<string>uni1EF8</string>
		<string>uni013B.loclMAH</string>
		<string>uni0145.loclMAH</string>
		<string>A_E</string>
		<string>a</string>
		<string>aacute</string>
		<string>abreve</string>
		<string>acircumflex</string>
		<string>adieresis</string>
		<string>agrave</string>
		<string>amacron</string>
		<string>aogonek</string>
		<string>aring</string>
		<string>aringacute</string>
		<string>atilde</string>
		<string>ae</string>
		<string>b</string>
		<string>c</string>
		<string>cacute</string>
		<string>ccaron</string>
		<string>ccedilla</string>
		<string>ccircumflex</string>
		<string>cdotaccent</string>
		<string>d</string>
		<string>eth</string>
		<string>dcaron</string>
		<string>dcroat</string>
		<string>e</string>
		<string>eacute</string>
		<string>ebreve</string>
		<string>ecaron</string>
		<string>ecircumflex</string>
		<string>edieresis</string>
		<string>edotaccent</string>
		<string>egrave</string>
		<string>emacron</string>
		<string>eogonek</string>
		<string>uni0259</string>
		<string>f</string>
		<string>g</string>
		<string>gbreve</string>
		<string>gcaron</string>
		<string>gcircumflex</string>
		<string>gdotaccent</string>
		<string>h</string>
		<string>hbar</string>
		<string>hcircumflex</string>
		<string>i</string>
		<string>dotlessi</string>
		<string>iacute</string>
		<string>ibreve</string>
		<string>icircumflex</string>
		<string>idieresis</string>
		<string>igrave</string>
		<string>ij</string>
		<string>imacron</string>
		<string>iogonek</string>
		<string>itilde</string>
		<string>j</string>
		<string>uni0237</string>
		<string>uni006A0301</string>
		<string>jcircumflex</string>
		<string>k</string>
		<string>l</string>
		<string>lacute</string>
		<string>lcaron</string>
		<string>ldot</string>
		<string>lslash</string>
		<string>m</string>
		<string>n</string>
		<string>nacute</string>
		<string>ncaron</string>
		<string>ntilde</string>
		<string>eng</string>
		<string>o</string>
		<string>oacute</string>
		<string>obreve</string>
		<string>ocircumflex</string>
		<string>odieresis</string>
		<string>ograve</string>
		<string>ohorn</string>
		<string>ohungarumlaut</string>
		<string>omacron</string>
		<string>oslash</string>
		<string>otilde</string>
		<string>oe</string>
		<string>p</string>
		<string>thorn</string>
		<string>q</string>
		<string>r</string>
		<string>racute</string>
		<string>rcaron</string>
		<string>s</string>
		<string>sacute</string>
		<string>scaron</string>
		<string>scedilla</string>
		<string>scircumflex</string>
		<string>germandbls</string>
		<string>t</string>
		<string>tcaron</string>
		<string>u</string>
		<string>uacute</string>
		<string>ubreve</string>
		<string>ucircumflex</string>
		<string>udieresis</string>
		<string>ugrave</string>
		<string>uhorn</string>
		<string>uhungarumlaut</string>
		<string>umacron</string>
		<string>uni0123</string>
		<string>uni0137</string>
		<string>uni013C</string>
		<string>uni0146</string>
		<string>uni0157</string>
		<string>uni0163</string>
		<string>uni0167</string>
		<string>uni0188</string>
		<string>uni0199</string>
		<string>uni01B4</string>
		<string>uni01CE</string>
		<string>uni01D0</string>
		<string>uni01D2</string>
		<string>uni01D4</string>
		<string>uni01D6</string>
		<string>uni01D8</string>
		<string>uni01DA</string>
		<string>uni01DC</string>
		<string>uni01DD</string>
		<string>uni01DF</string>
		<string>uni01E1</string>
		<string>uni01E9</string>
		<string>uni01EB</string>
		<string>uni01ED</string>
		<string>uni01F0</string>
		<string>uni01F5</string>
		<string>uni01F9</string>
		<string>uni0219</string>
		<string>uni021B</string>
		<string>uni021F</string>
		<string>uni0227</string>
		<string>uni0229</string>
		<string>uni022B</string>
		<string>uni022D</string>
		<string>uni022F</string>
		<string>uni0231</string>
		<string>uni0233</string>
		<string>uni0253</string>
		<string>uni0254</string>
		<string>uni0256</string>
		<string>uni0257</string>
		<string>uni025B</string>
		<string>uni0268</string>
		<string>uni0272</string>
		<string>uni028C</string>
		<string>uni1E01</string>
		<string>uni1E03</string>
		<string>uni1E05</string>
		<string>uni1E07</string>
		<string>uni1E09</string>
		<string>uni1E0B</string>
		<string>uni1E0D</string>
		<string>uni1E0F</string>
		<string>uni1E11</string>
		<string>uni1E13</string>
		<string>uni1E15</string>
		<string>uni1E17</string>
		<string>uni1E19</string>
		<string>uni1E1B</string>
		<string>uni1E1F</string>
		<string>uni1E21</string>
		<string>uni1E23</string>
		<string>uni1E25</string>
		<string>uni1E27</string>
		<string>uni1E29</string>
		<string>uni1E2D</string>
		<string>uni1E2F</string>
		<string>uni1E31</string>
		<string>uni1E33</string>
		<string>uni1E35</string>
		<string>uni1E37</string>
		<string>uni1E39</string>
		<string>uni1E3B</string>
		<string>uni1E3D</string>
		<string>uni1E3F</string>
		<string>uni1E41</string>
		<string>uni1E43</string>
		<string>uni1E45</string>
		<string>uni1E47</string>
		<string>uni1E49</string>
		<string>uni1E4B</string>
		<string>uni1E4D</string>
		<string>uni1E4F</string>
		<string>uni1E51</string>
		<string>uni1E53</string>
		<string>uni1E55</string>
		<string>uni1E57</string>
		<string>uni1E59</string>
		<string>uni1E5B</string>
		<string>uni1E5D</string>
		<string>uni1E5F</string>
		<string>uni1E61</string>
		<string>uni1E63</string>
		<string>uni1E65</string>
		<string>uni1E67</string>
		<string>uni1E69</string>
		<string>uni1E6B</string>
		<string>uni1E6D</string>
		<string>uni1E6F</string>
		<string>uni1E71</string>
		<string>uni1E73</string>
		<string>uni1E75</string>
		<string>uni1E77</string>
		<string>uni1E79</string>
		<string>uni1E7B</string>
		<string>uni1E7D</string>
		<string>uni1E7F</string>
		<string>uni1E87</string>
		<string>uni1E89</string>
		<string>uni1E8B</string>
		<string>uni1E8D</string>
		<string>uni1E8F</string>
		<string>uni1E91</string>
		<string>uni1E93</string>
		<string>uni1E95</string>
		<string>uni1E96</string>
		<string>uni1E97</string>
		<string>uni1E98</string>
		<string>uni1E99</string>
		<string>uni1EA1</string>
		<string>uni1EA3</string>
		<string>uni1EA5</string>
		<string>uni1EA7</string>
		<string>uni1EA9</string>
		<string>uni1EAB</string>
		<string>uni1EAD</string>
		<string>uni1EAF</string>
		<string>uni1EB1</string>
		<string>uni1EB3</string>
		<string>uni1EB5</string>
		<string>uni1EB7</string>
		<string>uni1EB9</string>
		<string>uni1EBB</string>
		<string>uni1EBD</string>
		<string>uni1EBF</string>
		<string>uni1EC1</string>
		<string>uni1EC3</string>
		<string>uni1EC5</string>
		<string>uni1EC7</string>
		<string>uni1EC9</string>
		<string>uni1ECB</string>
		<string>uni1ECD</string>
		<string>uni1ECF</string>
		<string>uni1ED1</string>
		<string>uni1ED3</string>
		<string>uni1ED5</string>
		<string>uni1ED7</string>
		<string>uni1ED9</string>
		<string>uni1EDB</string>
		<string>uni1EDD</string>
		<string>uni1EDF</string>
		<string>uni1EE1</string>
		<string>uni1EE3</string>
		<string>uni1EE5</string>
		<string>uni1EE7</string>
		<string>uni1EE9</string>
		<string>uni1EEB</string>
		<string>uni1EED</string>
		<string>uni1EEF</string>
		<string>uni1EF1</string>
		<string>uni1EF5</string>
		<string>uni1EF7</string>
		<string>uni1EF9</string>
		<string>uogonek</string>
		<string>uring</string>
		<string>utilde</string>
		<string>v</string>
		<string>w</string>
		<string>wacute</string>
		<string>wcircumflex</string>
		<string>wdieresis</string>
		<string>wgrave</string>
		<string>x</string>
		<string>y</string>
		<string>yacute</string>
		<string>ycircumflex</string>
		<string>ydieresis</string>
		<string>ygrave</string>
		<string>z</string>
		<string>zacute</string>
		<string>zcaron</string>
		<string>zdotaccent</string>
		<string>i.loclTRK</string>
		<string>uni013C.loclMAH</string>
		<string>uni0146.loclMAH</string>
		<string>egrave_t_e</string>
		<string>zero</string>
		<string>one</string>
		<string>two</string>
		<string>three</string>
		<string>four</string>
		<string>five</string>
		<string>six</string>
		<string>seven</string>
		<string>eight</string>
		<string>nine</string>
		<string>CR</string>
		<string>.notdef</string>
		<string>.null</string>
		<string>space</string>
		<string>uni00A0</string>
		<string>period</string>
		<string>comma</string>
		<string>colon</string>
		<string>semicolon</string>
		<string>ellipsis</string>
		<string>exclam</string>
		<string>exclamdown</string>
		<string>question</string>
		<string>questiondown</string>
		<string>periodcentered</string>
		<string>bullet</string>
		<string>asterisk</string>
		<string>numbersign</string>
		<string>slash</string>
		<string>backslash</string>
		<string>uni203E</string>
		<string>periodcentered.case</string>
		<string>hyphen</string>
		<string>endash</string>
		<string>emdash</string>
		<string>underscore</string>
		<string>parenleft</string>
		<string>parenright</string>
		<string>braceleft</string>
		<string>braceright</string>
		<string>bracketleft</string>
		<string>bracketright</string>
		<string>quotesinglbase</string>
		<string>quotedblbase</string>
		<string>quotedblleft</string>
		<string>quotedblright</string>
		<string>quoteleft</string>
		<string>quoteright</string>
		<string>guillemotleft</string>
		<string>guillemotright</string>
		<string>guilsinglleft</string>
		<string>guilsinglright</string>
		<string>quotedbl</string>
		<string>quotesingle</string>
		<string>at</string>
		<string>ampersand</string>
		<string>paragraph</string>
		<string>copyright</string>
		<string>registered</string>
		<string>trademark</string>
		<string>degree</string>
		<string>bar</string>
		<string>bar.horizcomb</string>
		<string>Euro</string>
		<string>colonmonetary</string>
		<string>dollar</string>
		<string>uni20A6</string>
		<string>uni20B2</string>
		<string>uni20B5</string>
		<string>uni20BA</string>
		<string>uni20BC</string>
		<string>yen</string>
		<string>plus</string>
		<string>minus</string>
		<string>multiply</string>
		<string>divide</string>
		<string>equal</string>
		<string>notequal</string>
		<string>greater</string>
		<string>less</string>
		<string>greaterequal</string>
		<string>lessequal</string>
		<string>plusminus</string>
		<string>approxequal</string>
		<string>asciitilde</string>
		<string>asciicircum</string>
		<string>infinity</string>
		<string>percent</string>
		<string>uni226E</string>
		<string>uni226F</string>
		<string>arrowup</string>
		<string>uni2197</string>
		<string>arrowright</string>
		<string>uni2198</string>
		<string>arrowdown</string>
		<string>uni2199</string>
		<string>arrowleft</string>
		<string>uni2196</string>
		<string>arrowboth</string>
		<string>arrowupdn</string>
		<string>uni219A</string>
		<string>uni219B</string>
		<string>uni21AE</string>
		<string>uni2B08</string>
		<string>uni1FED</string>
		<string>uni1FC1</string>
		<string>uni1FC0</string>
		<string>uni0308</string>
		<string>uni0307</string>
		<string>gravecomb</string>
		<string>acutecomb</string>
		<string>uni03010304</string>
		<string>uni030B</string>
		<string>uni030C.alt</string>
		<string>uni0302</string>
		<string>uni03020300</string>
		<string>uni03020301</string>
		<string>uni03020303</string>
		<string>uni03020309</string>
		<string>uni030C</string>
		<string>uni0306</string>
		<string>uni03060300</string>
		<string>uni03060301</string>
		<string>uni03060303</string>
		<string>uni03060309</string>
		<string>uni030A</string>
		<string>tildecomb</string>
		<string>uni0304</string>
		<string>hookabovecomb</string>
		<string>uni0312</string>
		<string>uni031B</string>
		<string>dotbelowcomb</string>
		<string>uni0324</string>
		<string>uni0326</string>
		<string>uni0327</string>
		<string>uni0328</string>
		<string>uni0330</string>
		<string>uni0331</string>
		<string>uni0308.acutecomb</string>
		<string>tildecomb.acutecomb</string>
		<string>uni0304.acutecomb</string>
		<string>uni0302.below</string>
		<string>uni030A.bottom</string>
		<string>uni0308.caroncomb</string>
		<string>uni0306.case</string>
		<string>uni030A.case</string>
		<string>uni0304.case</string>
		<string>uni0304.dieresiscomb</string>
		<string>acutecomb.dotaccentcomb</string>
		<string>uni030C.dotaccentcomb</string>
		<string>uni0308.gravecomb</string>
		<string>uni0304.gravecomb</string>
		<string>uni0326.loclMAH</string>
		<string>uni0328.long</string>
		<string>uni0308.macroncomb</string>
		<string>uni0307.macroncomb</string>
		<string>tildecomb.macroncomb</string>
		<string>dieresis</string>
		<string>dotaccent</string>
		<string>grave</string>
		<string>acute</string>
		<string>hungarumlaut</string>
		<string>circumflex</string>
		<string>caron</string>
		<string>breve</string>
		<string>ring</string>
		<string>tilde</string>
		<string>macron</string>
		<string>cedilla</string>
		<string>ogonek</string>
		<string>uni02BB</string>
		<string>uni02BC</string>
		<string>u1F12F</string>
		<string>uF1030</string>
		<string>uF1110</string>
		<string>uF1114</string>
		<string>uF1120</string>
		<string>uF1130</string>
		<string>uF1150</string>
		<string>uF1520</string>
		<string>uF1560</string>
		<string>uF1710</string>
		<string>uF1730</string>
		<string>uF1910</string>
		<string>uF1920</string>
		<string>uF1940</string>
		<string>uF1950</string>
		<string>uF1960</string>
		<string>uF1990</string>
		<string>uF19A0</string>
		<string>uF19C0</string>
		<string>uF2110</string>
		<string>uF2130</string>
		<string>uF2160</string>
		<string>uF2320</string>
		<string>uF2510</string>
		<string>uF2610</string>
		<string>uF2710</string>
		<string>uF2720</string>
		<string>uF2750</string>
		<string>uF3310</string>
		<string>uF3320</string>
		<string>uF3330</string>
		<string>uF3350</string>
		<string>uF3360</string>
		<string>uF3410</string>
		<string>uF3510</string>
		<string>uF3720</string>
		<string>uF3750</string>
		<string>uF3930</string>
		<string>uF3950</string>
		<string>uF3980</string>
		<string>uF4110</string>
		<string>uF4120</string>
		<string>uF4510</string>
		<string>uF4520</string>
		<string>uF4570</string>
		<string>uF45D0</string>
		<string>uF4680</string>
		<string>uF4720</string>
		<string>uF4740</string>
		<string>uF47A0</string>
		<string>uF47D0</string>
		<string>uF4910</string>
		<string>uF4980</string>
		<string>uF4B10</string>
		<string>uF4B21</string>
		<string>uF5110</string>
		<string>uF5170</string>
		<string>uF5190</string>
		<string>uF5720</string>
		<string>uF5760</string>
		<string>uF5790</string>
		<string>uF57B0</string>
		<string>uF57E0</string>
		<string>uF6300</string>
		<string>uF6370</string>
		<string>uF7000</string>
		<string>Tstroke</string>
		<string>barcomb</string>
		<string>brevedotbelow</string>
		<string>dot_inclu</string>
		<string>hookcomb</string>
		<string>horn</string>
		<string>strokecomb</string>
		<string>hookcomb.long</string>
		<string>hookcomb.short</string>
		<string>hookcomb.short2</string>
		<string>ringacute.comb</string>
	</array>
	<key>public.postscriptNames</key>
	<dict>
		<key>uni004A0301</key>
		<string>J_acutecomb</string>
		<key>uni006A0301</key>
		<string>j_acutecomb</string>
	</dict>
</dict>
</plist>
