<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>com.schriftgestaltung.appVersion</key>
    <string>3500</string>
    <key>com.schriftgestaltung.disablesAutomaticAlignment</key>
    <false/>
    <key>com.schriftgestaltung.font.userData</key>
    <dict>
      <key>GSDontShowVersionAlert</key>
      <integer>1</integer>
    </dict>
    <key>com.schriftgestaltung.fontMasterID</key>
    <string>master01</string>
    <key>com.schriftgestaltung.formatVersion</key>
    <integer>3</integer>
    <key>com.schriftgestaltung.useGlyphOrder</key>
    <false/>
    <key>com.schriftgestaltung.useNiceNames</key>
    <false/>
    <key>public.glyphOrder</key>
    <array>
      <string>A</string>
      <string>Aacute</string>
      <string>Abreve</string>
      <string>Abrevedotbelow</string>
      <string>Acaron</string>
      <string>Acircumflex</string>
      <string>Acircumflexdotbelow</string>
      <string>Adieresis</string>
      <string>Adotbelow</string>
      <string>Agrave</string>
      <string>Amacron</string>
      <string>Aogonek</string>
      <string>Aring</string>
      <string>Atilde</string>
      <string>AE</string>
      <string>AEmacron</string>
      <string>B</string>
      <string>Bdotbelow</string>
      <string>C</string>
      <string>Cacute</string>
      <string>Ccaron</string>
      <string>Ccedilla</string>
      <string>Ccircumflex</string>
      <string>Cdotaccent</string>
      <string>D</string>
      <string>Dcaron</string>
      <string>Dcircumflexbelow</string>
      <string>Dcroat</string>
      <string>Ddotbelow</string>
      <string>Dmacronbelow</string>
      <string>Eth</string>
      <string>E</string>
      <string>Eacute</string>
      <string>Ecaron</string>
      <string>Ecedilla</string>
      <string>Ecircumflex</string>
      <string>Ecircumflexdotbelow</string>
      <string>Edieresis</string>
      <string>Edotaccent</string>
      <string>Edotbelow</string>
      <string>Egrave</string>
      <string>Emacron</string>
      <string>Eogonek</string>
      <string>Eopen</string>
      <string>Ereversed</string>
      <string>Etilde</string>
      <string>Schwa</string>
      <string>F</string>
      <string>G</string>
      <string>Gbreve</string>
      <string>Gcaron</string>
      <string>Gcircumflex</string>
      <string>Gcommaaccent</string>
      <string>Gdotaccent</string>
      <string>Gmacron</string>
      <string>Gstroke</string>
      <string>H</string>
      <string>Hbar</string>
      <string>Hbrevebelow</string>
      <string>Hcircumflex</string>
      <string>Hdotbelow</string>
      <string>I</string>
      <string>IJ</string>
      <string>Iacute</string>
      <string>Icaron</string>
      <string>Icircumflex</string>
      <string>Idieresis</string>
      <string>Idotaccent</string>
      <string>Idotbelow</string>
      <string>Igrave</string>
      <string>Imacron</string>
      <string>Iogonek</string>
      <string>Itilde</string>
      <string>J</string>
      <string>Jacute</string>
      <string>Jcircumflex</string>
      <string>K</string>
      <string>Kcaron</string>
      <string>Kcommaaccent</string>
      <string>Kmacronbelow</string>
      <string>L</string>
      <string>Lacute</string>
      <string>Lcaron</string>
      <string>Lcircumflexbelow</string>
      <string>Lcommaaccent</string>
      <string>Ldotbelow</string>
      <string>Ldotbelowmacron</string>
      <string>Lmacronbelow</string>
      <string>Lslash</string>
      <string>M</string>
      <string>Macute</string>
      <string>Mdotaccent</string>
      <string>Mdotbelow</string>
      <string>N</string>
      <string>Nacute</string>
      <string>Ncaron</string>
      <string>Ncircumflexbelow</string>
      <string>Ncommaaccent</string>
      <string>Ndotaccent</string>
      <string>Ndotbelow</string>
      <string>Nmacronbelow</string>
      <string>Ntilde</string>
      <string>Eng</string>
      <string>O</string>
      <string>Oacute</string>
      <string>Ocaron</string>
      <string>Ocircumflex</string>
      <string>Ocircumflexdotbelow</string>
      <string>Odieresis</string>
      <string>Odotbelow</string>
      <string>Ograve</string>
      <string>Ohungarumlaut</string>
      <string>Omacron</string>
      <string>Oslash</string>
      <string>Oslashacute</string>
      <string>Otilde</string>
      <string>OE</string>
      <string>P</string>
      <string>Thorn</string>
      <string>Q</string>
      <string>R</string>
      <string>Racute</string>
      <string>Rcaron</string>
      <string>Rcommaaccent</string>
      <string>Rdotbelowmacron</string>
      <string>Rmacronbelow</string>
      <string>S</string>
      <string>Sacute</string>
      <string>Scaron</string>
      <string>Scedilla</string>
      <string>Scircumflex</string>
      <string>Scommaaccent</string>
      <string>Sdotbelow</string>
      <string>Germandbls</string>
      <string>T</string>
      <string>Tbar</string>
      <string>Tcaron</string>
      <string>Tcedilla</string>
      <string>Tcircumflexbelow</string>
      <string>Tcommaaccent</string>
      <string>Tdotbelow</string>
      <string>Tmacronbelow</string>
      <string>U</string>
      <string>Uacute</string>
      <string>Ubreve</string>
      <string>Ucaron</string>
      <string>Ucircumflex</string>
      <string>Udieresis</string>
      <string>Udotbelow</string>
      <string>Ugrave</string>
      <string>Uhungarumlaut</string>
      <string>Umacron</string>
      <string>Uogonek</string>
      <string>Uring</string>
      <string>Utilde</string>
      <string>V</string>
      <string>Vturned</string>
      <string>W</string>
      <string>Wacute</string>
      <string>Wcircumflex</string>
      <string>Wdieresis</string>
      <string>Wgrave</string>
      <string>X</string>
      <string>Y</string>
      <string>Yacute</string>
      <string>Ycircumflex</string>
      <string>Ydieresis</string>
      <string>Ydotaccent</string>
      <string>Ydotbelow</string>
      <string>Ygrave</string>
      <string>Ymacron</string>
      <string>Ytilde</string>
      <string>Z</string>
      <string>Zacute</string>
      <string>Zcaron</string>
      <string>Zdotaccent</string>
      <string>Zdotbelow</string>
      <string>Zmacronbelow</string>
      <string>Saltillo</string>
      <string>Lcommaaccent.loclMAH</string>
      <string>Ncommaaccent.loclMAH</string>
      <string>a</string>
      <string>aacute</string>
      <string>abreve</string>
      <string>abrevedotbelow</string>
      <string>acaron</string>
      <string>acircumflex</string>
      <string>acircumflexdotbelow</string>
      <string>adieresis</string>
      <string>adotbelow</string>
      <string>agrave</string>
      <string>amacron</string>
      <string>aogonek</string>
      <string>aring</string>
      <string>atilde</string>
      <string>aturned</string>
      <string>ae</string>
      <string>aemacron</string>
      <string>b</string>
      <string>bdotbelow</string>
      <string>c</string>
      <string>cacute</string>
      <string>ccaron</string>
      <string>ccedilla</string>
      <string>ccircumflex</string>
      <string>cdotaccent</string>
      <string>d</string>
      <string>dcaron</string>
      <string>dcircumflexbelow</string>
      <string>dcroat</string>
      <string>ddotbelow</string>
      <string>dmacronbelow</string>
      <string>eth</string>
      <string>e</string>
      <string>eacute</string>
      <string>ecaron</string>
      <string>ecedilla</string>
      <string>ecircumflex</string>
      <string>ecircumflexdotbelow</string>
      <string>edieresis</string>
      <string>edotaccent</string>
      <string>edotbelow</string>
      <string>egrave</string>
      <string>emacron</string>
      <string>eogonek</string>
      <string>eopen</string>
      <string>eopenreversed</string>
      <string>ereversed</string>
      <string>etilde</string>
      <string>eturned</string>
      <string>schwa</string>
      <string>f</string>
      <string>g</string>
      <string>gbreve</string>
      <string>gcaron</string>
      <string>gcircumflex</string>
      <string>gcommaaccent</string>
      <string>gdotaccent</string>
      <string>gmacron</string>
      <string>gstroke</string>
      <string>h</string>
      <string>hbar</string>
      <string>hbrevebelow</string>
      <string>hcircumflex</string>
      <string>hdotbelow</string>
      <string>hmacronbelow</string>
      <string>hturned</string>
      <string>i</string>
      <string>idotless</string>
      <string>iacute</string>
      <string>icaron</string>
      <string>icircumflex</string>
      <string>idieresis</string>
      <string>idotaccent</string>
      <string>idotbelow</string>
      <string>igrave</string>
      <string>imacron</string>
      <string>iogonek</string>
      <string>itilde</string>
      <string>ij</string>
      <string>j</string>
      <string>jdotless</string>
      <string>jacute</string>
      <string>jcircumflex</string>
      <string>k</string>
      <string>kcaron</string>
      <string>kcommaaccent</string>
      <string>kmacronbelow</string>
      <string>kturned</string>
      <string>l</string>
      <string>lacute</string>
      <string>lcaron</string>
      <string>lcircumflexbelow</string>
      <string>lcommaaccent</string>
      <string>ldotbelow</string>
      <string>ldotbelowmacron</string>
      <string>lmacronbelow</string>
      <string>lslash</string>
      <string>m</string>
      <string>macute</string>
      <string>mdotaccent</string>
      <string>mdotbelow</string>
      <string>mturned</string>
      <string>n</string>
      <string>nacute</string>
      <string>ncaron</string>
      <string>ncircumflexbelow</string>
      <string>ncommaaccent</string>
      <string>ndotaccent</string>
      <string>ndotbelow</string>
      <string>nmacronbelow</string>
      <string>ntilde</string>
      <string>eng</string>
      <string>o</string>
      <string>oacute</string>
      <string>ocaron</string>
      <string>ocircumflex</string>
      <string>ocircumflexdotbelow</string>
      <string>odieresis</string>
      <string>odotbelow</string>
      <string>ograve</string>
      <string>ohungarumlaut</string>
      <string>omacron</string>
      <string>oslash</string>
      <string>oslashacute</string>
      <string>otilde</string>
      <string>oe</string>
      <string>p</string>
      <string>thorn</string>
      <string>q</string>
      <string>r</string>
      <string>racute</string>
      <string>rcaron</string>
      <string>rcommaaccent</string>
      <string>rdotbelowmacron</string>
      <string>rmacronbelow</string>
      <string>s</string>
      <string>sacute</string>
      <string>scaron</string>
      <string>scedilla</string>
      <string>scircumflex</string>
      <string>scommaaccent</string>
      <string>sdotbelow</string>
      <string>germandbls</string>
      <string>t</string>
      <string>tbar</string>
      <string>tcaron</string>
      <string>tcedilla</string>
      <string>tcircumflexbelow</string>
      <string>tcommaaccent</string>
      <string>tdieresis</string>
      <string>tdotbelow</string>
      <string>tmacronbelow</string>
      <string>u</string>
      <string>uacute</string>
      <string>ubreve</string>
      <string>ucaron</string>
      <string>ucircumflex</string>
      <string>udieresis</string>
      <string>udotbelow</string>
      <string>ugrave</string>
      <string>uhungarumlaut</string>
      <string>umacron</string>
      <string>uogonek</string>
      <string>uring</string>
      <string>utilde</string>
      <string>v</string>
      <string>vturned</string>
      <string>w</string>
      <string>wacute</string>
      <string>wcircumflex</string>
      <string>wdieresis</string>
      <string>wgrave</string>
      <string>wturned</string>
      <string>x</string>
      <string>y</string>
      <string>yacute</string>
      <string>ycircumflex</string>
      <string>ydieresis</string>
      <string>ydotaccent</string>
      <string>ydotbelow</string>
      <string>ygrave</string>
      <string>ymacron</string>
      <string>ytilde</string>
      <string>yturned</string>
      <string>z</string>
      <string>zacute</string>
      <string>zcaron</string>
      <string>zdotaccent</string>
      <string>zdotbelow</string>
      <string>zmacronbelow</string>
      <string>saltillo</string>
      <string>f.alt</string>
      <string>lcommaaccent.loclMAH</string>
      <string>ncommaaccent.loclMAH</string>
      <string>b.ss01</string>
      <string>d.ss01</string>
      <string>p.ss01</string>
      <string>q.ss01</string>
      <string>w_w_w</string>
      <string>zero</string>
      <string>one</string>
      <string>two</string>
      <string>three</string>
      <string>four</string>
      <string>five</string>
      <string>six</string>
      <string>seven</string>
      <string>eight</string>
      <string>nine</string>
      <string>zero.osf</string>
      <string>one.osf</string>
      <string>two.osf</string>
      <string>three.osf</string>
      <string>four.osf</string>
      <string>five.osf</string>
      <string>six.osf</string>
      <string>seven.osf</string>
      <string>eight.osf</string>
      <string>nine.osf</string>
      <string>zero.tf</string>
      <string>one.tf</string>
      <string>two.tf</string>
      <string>three.tf</string>
      <string>four.tf</string>
      <string>five.tf</string>
      <string>six.tf</string>
      <string>seven.tf</string>
      <string>eight.tf</string>
      <string>nine.tf</string>
      <string>space</string>
      <string>nbspace</string>
      <string>thinspace</string>
      <string>period</string>
      <string>comma</string>
      <string>colon</string>
      <string>semicolon</string>
      <string>ellipsis</string>
      <string>exclam</string>
      <string>exclamdown</string>
      <string>question</string>
      <string>questiondown</string>
      <string>periodcentered</string>
      <string>bullet</string>
      <string>asterisk</string>
      <string>numbersign</string>
      <string>slash</string>
      <string>backslash</string>
      <string>exclamdown.case</string>
      <string>questiondown.case</string>
      <string>periodcentered.case</string>
      <string>bullet.case</string>
      <string>hyphen</string>
      <string>endash</string>
      <string>emdash</string>
      <string>underscore</string>
      <string>hyphen.case</string>
      <string>endash.case</string>
      <string>emdash.case</string>
      <string>parenleft</string>
      <string>parenright</string>
      <string>braceleft</string>
      <string>braceright</string>
      <string>bracketleft</string>
      <string>bracketright</string>
      <string>parenleft.case</string>
      <string>parenright.case</string>
      <string>braceleft.case</string>
      <string>braceright.case</string>
      <string>bracketleft.case</string>
      <string>bracketright.case</string>
      <string>quotesinglbase</string>
      <string>quotedblbase</string>
      <string>quotedblleft</string>
      <string>quotedblright</string>
      <string>quoteleft</string>
      <string>quoteright</string>
      <string>guillemetleft</string>
      <string>guillemetright</string>
      <string>guilsinglleft</string>
      <string>guilsinglright</string>
      <string>quotedbl</string>
      <string>quotesingle</string>
      <string>guillemetleft.case</string>
      <string>guillemetright.case</string>
      <string>guilsinglleft.case</string>
      <string>guilsinglright.case</string>
      <string>florin</string>
      <string>heart</string>
      <string>at</string>
      <string>ampersand</string>
      <string>paragraph</string>
      <string>section</string>
      <string>copyright</string>
      <string>registered</string>
      <string>trademark</string>
      <string>degree</string>
      <string>bar</string>
      <string>brokenbar</string>
      <string>dagger</string>
      <string>daggerdbl</string>
      <string>internet</string>
      <string>at.case</string>
      <string>cent</string>
      <string>currency</string>
      <string>dollar</string>
      <string>euro</string>
      <string>sterling</string>
      <string>yen</string>
      <string>plus</string>
      <string>minus</string>
      <string>multiply</string>
      <string>divide</string>
      <string>equal</string>
      <string>notequal</string>
      <string>greater</string>
      <string>less</string>
      <string>greaterequal</string>
      <string>lessequal</string>
      <string>plusminus</string>
      <string>approxequal</string>
      <string>asciitilde</string>
      <string>asciicircum</string>
      <string>percent</string>
      <string>perthousand</string>
      <string>upArrow</string>
      <string>rightArrow</string>
      <string>downArrow</string>
      <string>leftArrow</string>
      <string>leftRightArrow</string>
      <string>upDownArrow</string>
      <string>rightArrow.case</string>
      <string>leftArrow.case</string>
      <string>leftRightArrow.case</string>
      <string>dieresiscomb</string>
      <string>dotaccentcomb</string>
      <string>gravecomb</string>
      <string>acutecomb</string>
      <string>hungarumlautcomb</string>
      <string>caroncomb.alt</string>
      <string>circumflexcomb</string>
      <string>caroncomb</string>
      <string>brevecomb</string>
      <string>ringcomb</string>
      <string>tildecomb</string>
      <string>macroncomb</string>
      <string>candraBinducomb</string>
      <string>commaturnedabovecomb</string>
      <string>dotbelowcomb</string>
      <string>dieresisbelowcomb</string>
      <string>ringbelowcomb</string>
      <string>commaaccentcomb</string>
      <string>cedillacomb</string>
      <string>ogonekcomb</string>
      <string>circumflexbelowcomb</string>
      <string>brevebelowcomb</string>
      <string>macronbelowcomb</string>
      <string>doublemacronbelowcomb</string>
      <string>dieresiscomb.case</string>
      <string>dotaccentcomb.case</string>
      <string>gravecomb.case</string>
      <string>acutecomb.case</string>
      <string>hungarumlautcomb.case</string>
      <string>circumflexcomb.case</string>
      <string>caroncomb.case</string>
      <string>brevecomb.case</string>
      <string>ringcomb.case</string>
      <string>tildecomb.case</string>
      <string>macroncomb.case</string>
      <string>cedillacomb.case</string>
      <string>ogonekcomb.case</string>
      <string>dieresiscomb.narrow</string>
      <string>gravecomb.narrow</string>
      <string>acutecomb.narrow</string>
      <string>circumflexcomb.narrow</string>
      <string>caroncomb.narrow</string>
      <string>tildecomb.narrow</string>
      <string>macroncomb.narrow</string>
      <string>dieresiscomb.narrow.case</string>
      <string>gravecomb.narrow.case</string>
      <string>acutecomb.narrow.case</string>
      <string>circumflexcomb.narrow.case</string>
      <string>commaturnedmod</string>
      <string>blood</string>
      <string>careteam</string>
      <string>diaper</string>
      <string>early</string>
      <string>loud</string>
      <string>menstruation</string>
      <string>nudity</string>
      <string>prmaccess</string>
      <string>prmperson</string>
      <string>prmplateform</string>
      <string>signlanguage</string>
      <string>smoke</string>
      <string>stairs</string>
      <string>strobe</string>
      <string>subtitles</string>
      <string>toiletbowl</string>
      <string>tw</string>
      <string>tw_blood</string>
      <string>tw_nudity</string>
      <string>tw_violence</string>
      <string>urinal</string>
      <string>violence</string>
      <string>a_e.ss07</string>
      <string>a_o_n.ss07</string>
      <string>c_h_e.ss07</string>
      <string>e_a.ss07</string>
      <string>e_a_u.ss07</string>
      <string>e_u_x.ss07</string>
      <string>f_v_e.ss07</string>
      <string>l_l_e.ss07</string>
      <string>l_u_i.ss07</string>
      <string>n_n_e.ss07</string>
      <string>o_f.ss07</string>
      <string>o_idieresis_n_e.ss07</string>
      <string>o_t_e.ss07</string>
      <string>r_e_u_s_e.ss07</string>
      <string>r_i_c_e.ss07</string>
      <string>s_s_e.ss07</string>
      <string>s_t_e_s.ss07</string>
      <string>t_t_e.ss07</string>
      <string>u_l_l_e.ss07</string>
      <string>x_c_e.ss07</string>
      <string>x_l_e_s.ss07</string>
      <string>x_s_e.ss07</string>
      <string>enb.ss07</string>
      <string>a_e</string>
      <string>a_o</string>
      <string>a_u_l_a</string>
      <string>c_h</string>
      <string>c_q</string>
      <string>d_u_d_e_l_a</string>
      <string>e_a</string>
      <string>e_s_s</string>
      <string>e_t_t</string>
      <string>e_u</string>
      <string>f_f_e</string>
      <string>f_v</string>
      <string>g_u</string>
      <string>l_l</string>
      <string>l_u</string>
      <string>m_p</string>
      <string>n_n</string>
      <string>o_f</string>
      <string>o_idieresis</string>
      <string>o_t</string>
      <string>p_m</string>
      <string>r_e_u_s_e</string>
      <string>r_i</string>
      <string>s_c</string>
      <string>s_l</string>
      <string>s_s</string>
      <string>s_t</string>
      <string>t_t</string>
      <string>u_l</string>
      <string>x_c</string>
      <string>x_l</string>
      <string>x_s</string>
      <string>enb</string>
      <string>A_E</string>
      <string>A_O</string>
      <string>A_U_L_A</string>
      <string>C_H</string>
      <string>C_Q</string>
      <string>D_U_D_E_L_A</string>
      <string>E_A</string>
      <string>E_S_S</string>
      <string>E_T_T</string>
      <string>E_U</string>
      <string>F_F_E</string>
      <string>F_V</string>
      <string>G_U</string>
      <string>L_L</string>
      <string>L_U</string>
      <string>M_P</string>
      <string>N_N</string>
      <string>O_F</string>
      <string>O_Idieresis</string>
      <string>O_T</string>
      <string>P_M</string>
      <string>R_E_U_S_E</string>
      <string>R_I</string>
      <string>S_C</string>
      <string>S_L</string>
      <string>S_S</string>
      <string>S_T</string>
      <string>T_T</string>
      <string>U_L</string>
      <string>X_C</string>
      <string>X_L</string>
      <string>X_S</string>
      <string>Enb</string>
      <string>e_s</string>
      <string>r_s</string>
      <string>a_u_l_a.001</string>
      <string>d_u_d_e_l_a.001</string>
      <string>l_u.alt</string>
      <string>s_s.alt</string>
      <string>t_t.alt</string>
      <string>u_l.alt</string>
      <string>x_c.alt</string>
      <string>x_l.alt</string>
      <string>c_q_u.ss06</string>
      <string>c_h.ss06</string>
      <string>e_a.ss06</string>
      <string>e_s.ss06</string>
      <string>e_t.ss06</string>
      <string>e_u.ss06</string>
      <string>o_f.ss06</string>
      <string>o_idieresis.ss06</string>
      <string>o_t.ss06</string>
      <string>r_s.ss06</string>
      <string>s_t.ss06</string>
      <string>x_s.ss06</string>
      <string>r_s_e.ss07</string>
      <string>careteam.ss01</string>
      <string>careteam.ss02</string>
      <string>loud.alt02</string>
      <string>loud.alt03</string>
      <string>smoke.001</string>
      <string>stairs.001</string>
      <string>strobe.001</string>
      <string>strobe.002</string>
      <string>strobe.003</string>
      <string>u_boucle</string>
      <string>_heart-moitie</string>
      <string>_moitie-accolade-caps</string>
      <string>e_boucle</string>
      <string>a-etage</string>
      <string>c-etage</string>
      <string>i-etage</string>
      <string>l-etage</string>
      <string>n-etage</string>
      <string>s-etage</string>
      <string>t-etage</string>
      <string>u-etage</string>
      <string>careteam-moitie</string>
      <string>demi-brace</string>
      <string>demi-hashtag</string>
      <string>moitie-asterisque</string>
      <string>moitie-huit</string>
      <string>moitie-obele</string>
      <string>moitie-serviette</string>
      <string>tw_lettres</string>
    </array>
    <key>public.postscriptNames</key>
    <dict>
      <key>idotless</key>
      <string>dotlessi</string>
    </dict>
    <key>public.skipExportGlyphs</key>
    <array>
      <string>_heart-moitie</string>
      <string>_moitie-accolade-caps</string>
      <string>a_e.ss07</string>
      <string>a_o_n.ss07</string>
      <string>a_u_l_a.001</string>
      <string>b.ss01</string>
      <string>c_h.ss06</string>
      <string>c_h_e.ss07</string>
      <string>c_q_u.ss06</string>
      <string>careteam-moitie</string>
      <string>careteam.ss01</string>
      <string>careteam.ss02</string>
      <string>d.ss01</string>
      <string>d_u_d_e_l_a.001</string>
      <string>demi-brace</string>
      <string>demi-hashtag</string>
      <string>e_a.ss06</string>
      <string>e_a.ss07</string>
      <string>e_a_u.ss07</string>
      <string>e_boucle</string>
      <string>e_s</string>
      <string>e_s.ss06</string>
      <string>e_t.ss06</string>
      <string>e_u.ss06</string>
      <string>e_u_x.ss07</string>
      <string>enb.ss07</string>
      <string>f_v_e.ss07</string>
      <string>l_l_e.ss07</string>
      <string>l_u.alt</string>
      <string>l_u_i.ss07</string>
      <string>loud.alt02</string>
      <string>loud.alt03</string>
      <string>moitie-asterisque</string>
      <string>moitie-huit</string>
      <string>moitie-obele</string>
      <string>moitie-serviette</string>
      <string>n_n_e.ss07</string>
      <string>o_f.ss06</string>
      <string>o_f.ss07</string>
      <string>o_idieresis.ss06</string>
      <string>o_idieresis_n_e.ss07</string>
      <string>o_t.ss06</string>
      <string>o_t_e.ss07</string>
      <string>p.ss01</string>
      <string>q.ss01</string>
      <string>r_e_u_s_e.ss07</string>
      <string>r_i_c_e.ss07</string>
      <string>r_s</string>
      <string>r_s.ss06</string>
      <string>r_s_e.ss07</string>
      <string>s_s.alt</string>
      <string>s_s_e.ss07</string>
      <string>s_t.ss06</string>
      <string>s_t_e_s.ss07</string>
      <string>smoke.001</string>
      <string>stairs.001</string>
      <string>strobe.001</string>
      <string>strobe.002</string>
      <string>strobe.003</string>
      <string>t_t.alt</string>
      <string>t_t_e.ss07</string>
      <string>tw_lettres</string>
      <string>u_boucle</string>
      <string>u_l.alt</string>
      <string>u_l_l_e.ss07</string>
      <string>x_c.alt</string>
      <string>x_c_e.ss07</string>
      <string>x_l.alt</string>
      <string>x_l_e_s.ss07</string>
      <string>x_s.ss06</string>
      <string>x_s_e.ss07</string>
    </array>
  </dict>
</plist>
