<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ascender</key>
	<integer>819</integer>
	<key>capHeight</key>
	<integer>789</integer>
	<key>copyright</key>
	<string>© 2025, Bye Bye Binary ~ Clara Sambot et Laure Giletti. Ajout de glyphes inclusifs et non-binaires dans la Hershey Futural © 2020, Paul Bernhard &lt;https://www.pbernhard.com&gt;. Based on the Hershey Noailles by Studio Luuse &lt;https://gitlab.com/Luuse/Villa-Noailles/font-hershey-noailles&gt; © 2017, Luuse.</string>
	<key>descender</key>
	<integer>-205</integer>
	<key>familyName</key>
	<string>BBB Herthey Futural</string>
	<key>openTypeHeadCreated</key>
	<string>2025/06/24 13:40:55</string>
	<key>openTypeHheaAscender</key>
	<integer>789</integer>
	<key>openTypeHheaDescender</key>
	<integer>-251</integer>
	<key>openTypeHheaLineGap</key>
	<integer>142</integer>
	<key>openTypeNameDesigner</key>
	<string>Bye Bye Binary (Clara Sambot et Laure Giletti) &amp; Paul Bernhard &amp; Luuse  </string>
	<key>openTypeNameDesignerURL</key>
	<string>typotheque.genderfluid.space/</string>
	<key>openTypeNameLicense</key>
	<string>CUTE</string>
	<key>openTypeNameLicenseURL</key>
	<string>https://typotheque.genderfluid.space/licences.html</string>
	<key>openTypeNameManufacturer</key>
	<string>Bye Bye Binary (Clara Sambot et Laure Giletti) &amp; Paul Bernhard &amp; Luuse  </string>
	<key>openTypeNameManufacturerURL</key>
	<string>typotheque.genderfluid.space/</string>
	<key>openTypeNamePreferredFamilyName</key>
	<string>BBB Herthey Futural</string>
	<key>openTypeNamePreferredSubfamilyName</key>
	<string>40</string>
	<key>openTypeNameUniqueID</key>
	<string>1.000;UKWN;BBB-Herthey-Futural-40</string>
	<key>openTypeNameVersion</key>
	<string>Version 1.000;FEAKit 1.0</string>
	<key>openTypeOS2CodePageRanges</key>
	<array>
		<integer>0</integer>
	</array>
	<key>openTypeOS2FamilyClass</key>
	<array>
		<integer>0</integer>
		<integer>0</integer>
	</array>
	<key>openTypeOS2Panose</key>
	<array>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
	</array>
	<key>openTypeOS2StrikeoutPosition</key>
	<integer>251</integer>
	<key>openTypeOS2StrikeoutSize</key>
	<integer>36</integer>
	<key>openTypeOS2SubscriptXOffset</key>
	<integer>0</integer>
	<key>openTypeOS2SubscriptXSize</key>
	<integer>665</integer>
	<key>openTypeOS2SubscriptYOffset</key>
	<integer>75</integer>
	<key>openTypeOS2SubscriptYSize</key>
	<integer>615</integer>
	<key>openTypeOS2SuperscriptXOffset</key>
	<integer>0</integer>
	<key>openTypeOS2SuperscriptXSize</key>
	<integer>665</integer>
	<key>openTypeOS2SuperscriptYOffset</key>
	<integer>360</integer>
	<key>openTypeOS2SuperscriptYSize</key>
	<integer>615</integer>
	<key>openTypeOS2Type</key>
	<array>
		<integer>3</integer>
	</array>
	<key>openTypeOS2TypoAscender</key>
	<integer>789</integer>
	<key>openTypeOS2TypoDescender</key>
	<integer>-251</integer>
	<key>openTypeOS2TypoLineGap</key>
	<integer>142</integer>
	<key>openTypeOS2UnicodeRanges</key>
	<array>
		<integer>0</integer>
		<integer>2</integer>
		<integer>29</integer>
		<integer>60</integer>
	</array>
	<key>openTypeOS2VendorID</key>
	<string>BBB</string>
	<key>openTypeOS2WeightClass</key>
	<integer>400</integer>
	<key>openTypeOS2WidthClass</key>
	<integer>5</integer>
	<key>openTypeOS2WinAscent</key>
	<integer>789</integer>
	<key>openTypeOS2WinDescent</key>
	<integer>251</integer>
	<key>postscriptBlueFuzz</key>
	<integer>0</integer>
	<key>postscriptBlueScale</key>
	<real>0.037</real>
	<key>postscriptBlueValues</key>
	<array/>
	<key>postscriptFontName</key>
	<string>BBB-Herthey-Futural-40</string>
	<key>postscriptOtherBlues</key>
	<array/>
	<key>postscriptUnderlinePosition</key>
	<integer>-175</integer>
	<key>postscriptUnderlineThickness</key>
	<integer>50</integer>
	<key>postscriptWeightName</key>
	<string>Normal</string>
	<key>styleMapFamilyName</key>
	<string>BBB Herthey Futural 40</string>
	<key>styleMapStyleName</key>
	<string>regular</string>
	<key>styleName</key>
	<string>40</string>
	<key>unitsPerEm</key>
	<integer>1024</integer>
	<key>versionMajor</key>
	<integer>1</integer>
	<key>versionMinor</key>
	<integer>0</integer>
	<key>xHeight</key>
	<integer>538</integer>
</dict>
</plist>
