<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>public.glyphOrder</key>
  <array>
    <string>.notdef</string>
    <string>NULL</string>
    <string>uni000D</string>
    <string>uni0020</string>
    <string>exclam</string>
    <string>quotedbl</string>
    <string>numbersign</string>
    <string>percent</string>
    <string>ampersand</string>
    <string>quotesingle</string>
    <string>parenleft</string>
    <string>parenright</string>
    <string>asterisk</string>
    <string>plus</string>
    <string>comma</string>
    <string>hyphen</string>
    <string>period</string>
    <string>slash</string>
    <string>zero</string>
    <string>one</string>
    <string>two</string>
    <string>three</string>
    <string>four</string>
    <string>five</string>
    <string>six</string>
    <string>seven</string>
    <string>eight</string>
    <string>nine</string>
    <string>colon</string>
    <string>semicolon</string>
    <string>question</string>
    <string>at</string>
    <string>A</string>
    <string>B</string>
    <string>C</string>
    <string>D</string>
    <string>E</string>
    <string>F</string>
    <string>G</string>
    <string>H</string>
    <string>I</string>
    <string>J</string>
    <string>K</string>
    <string>L</string>
    <string>M</string>
    <string>N</string>
    <string>O</string>
    <string>P</string>
    <string>Q</string>
    <string>R</string>
    <string>S</string>
    <string>T</string>
    <string>U</string>
    <string>V</string>
    <string>W</string>
    <string>X</string>
    <string>Y</string>
    <string>Z</string>
    <string>backslash</string>
    <string>asciicircum</string>
    <string>underscore</string>
    <string>grave</string>
    <string>a</string>
    <string>b</string>
    <string>c</string>
    <string>d</string>
    <string>e</string>
    <string>f</string>
    <string>g</string>
    <string>h</string>
    <string>i</string>
    <string>j</string>
    <string>k</string>
    <string>l</string>
    <string>m</string>
    <string>n</string>
    <string>o</string>
    <string>p</string>
    <string>q</string>
    <string>r</string>
    <string>s</string>
    <string>t</string>
    <string>u</string>
    <string>v</string>
    <string>w</string>
    <string>x</string>
    <string>y</string>
    <string>z</string>
    <string>Ccedilla</string>
    <string>uni00DF</string>
    <string>emdash</string>
    <string>periodcentered</string>
    <string>exclamdown</string>
    <string>uni00BF</string>
    <string>guillemotleft</string>
    <string>quotedblleft</string>
    <string>uni201F</string>
    <string>guillemotright</string>
    <string>quotedblright</string>
    <string>quotedblbase</string>
    <string>uni0343</string>
    <string>dieresis</string>
    <string>macron</string>
    <string>acute</string>
    <string>tilde</string>
    <string>uni02D9</string>
    <string>uni0131</string>
    <string>cedilla</string>
    <string>ring</string>
    <string>ccedilla</string>
    <string>ellipsis</string>
    <string>uniFB00</string>
    <string>uniFB01</string>
    <string>uniFB02</string>
    <string>uniFB04</string>
    <string>uniFB03</string>
    <string>uni0153</string>
    <string>uniFB06</string>
    <string>c_t</string>
    <string>s_p</string>
    <string>a_e</string>
    <string>a-l</string>
    <string>a_o</string>
    <string>c_h</string>
    <string>c_q</string>
    <string>d_e</string>
    <string>d_u_d_e_l_a</string>
    <string>e_a</string>
    <string>eacute_e</string>
    <string>e_o</string>
    <string>e_t</string>
    <string>ecircumflex_t_e</string>
    <string>e_s</string>
    <string>e_s_s_e</string>
    <string>e_s_s_e_s</string>
    <string>e_u</string>
    <string>f_e</string>
    <string>f_f_e</string>
    <string>f_v</string>
    <string>h_o_f</string>
    <string>i_e</string>
    <string>i_l</string>
    <string>l_e</string>
    <string>l_l</string>
    <string>l_u</string>
    <string>m_p</string>
    <string>n_a</string>
    <string>n_e</string>
    <string>n_n</string>
    <string>n_x</string>
    <string>o_f</string>
    <string>o_n_a</string>
    <string>o_idieresis</string>
    <string>o_t</string>
    <string>p_m</string>
    <string>r_e</string>
    <string>r_egrave</string>
    <string>r_i</string>
    <string>r_s</string>
    <string>r_x</string>
    <string>r_x_s_e</string>
    <string>s_c</string>
    <string>s_e</string>
    <string>s_l</string>
    <string>s_s</string>
    <string>s_t</string>
    <string>t_e</string>
    <string>t_egrave</string>
    <string>t_t_e</string>
    <string>u_e</string>
    <string>u_i_l</string>
    <string>u_l</string>
    <string>u_n_e</string>
    <string>x_c</string>
    <string>x_l</string>
    <string>x_l_l</string>
    <string>x_s</string>
    <string>x_s_s</string>
    <string>e_i</string>
    <string>e_l</string>
    <string>r_r</string>
    <string>Aacute</string>
    <string>Acircumflex</string>
    <string>Atilde</string>
    <string>Adieresis</string>
    <string>Aring</string>
    <string>AE</string>
    <string>Egrave</string>
    <string>Ecircumflex</string>
    <string>Edieresis</string>
    <string>Igrave</string>
    <string>Iacute</string>
    <string>Icircumflex</string>
    <string>Idieresis</string>
    <string>Eth</string>
    <string>Ntilde</string>
    <string>Ograve</string>
    <string>Oacute</string>
    <string>Ocircumflex</string>
    <string>Odieresis</string>
    <string>Oslash</string>
    <string>Ugrave</string>
    <string>Uacute</string>
    <string>Ucircumflex</string>
    <string>Udieresis</string>
    <string>Yacute</string>
    <string>Agrave</string>
    <string>Eacute</string>
    <string>Thorn</string>
    <string>ringcomb</string>
    <string>agrave</string>
    <string>aacute</string>
    <string>acircumflex</string>
    <string>atilde</string>
    <string>adieresis</string>
    <string>aring</string>
    <string>ae</string>
    <string>egrave</string>
    <string>eacute</string>
    <string>ecircumflex</string>
    <string>edieresis</string>
    <string>igrave</string>
    <string>iacute</string>
    <string>icircumflex</string>
    <string>idieresis</string>
    <string>eth</string>
    <string>ntilde</string>
    <string>ograve</string>
    <string>oacute</string>
    <string>ocircumflex</string>
    <string>odieresis</string>
    <string>oslash</string>
    <string>ugrave</string>
    <string>uacute</string>
    <string>ucircumflex</string>
    <string>udieresis</string>
    <string>yacute</string>
    <string>thorn</string>
    <string>ydieresis</string>
    <string>emacron</string>
    <string>Emacron</string>
    <string>periodcentered.case</string>
    <string>nbspace</string>
    <string>enquad</string>
    <string>emquad</string>
    <string>enspace</string>
    <string>emspace</string>
    <string>sixperemspace</string>
    <string>punctuationspace</string>
    <string>thinspace</string>
    <string>hairspace</string>
    <string>narrownobreakspace</string>
    <string>wavedash</string>
    <string>bracketright</string>
    <string>bracketleft</string>
    <string>underscorevertical</string>
    <string>degree</string>
    <string>hyphen-gnrl</string>
    <string>nonbreakinghyphen</string>
    <string>figuredash</string>
    <string>endash</string>
    <string>horizontalbar</string>
    <string>hyphensmall</string>
    <string>hyphen-fwd</string>
    <string>less</string>
    <string>equal</string>
    <string>greater</string>
    <string>bar</string>
    <string>asciitilde</string>
    <string>logicalnot</string>
    <string>plusminus</string>
    <string>multiply</string>
    <string>divide</string>
    <string>fraction</string>
    <string>emdashvertical</string>
    <string>micro</string>
    <string>section</string>
    <string>paragraph</string>
    <string>dollar</string>
    <string>cent</string>
    <string>sterling</string>
    <string>currency</string>
    <string>Euro</string>
    <string>yen</string>
    <string>onequarter</string>
    <string>onehalf</string>
    <string>threequarters</string>
    <string>braceleft</string>
    <string>braceright</string>
    <string>guilsinglleft</string>
    <string>guilsinglright</string>
    <string>uni0152</string>
    <string>verticallinemod</string>
    <string>quoteright</string>
    <string>quotesinglbase</string>
    <string>quoteleft</string>
    <string>uni000A</string>
    <string>I_E</string>
    <string>a_u_l_a</string>
    <string>g_u</string>
    <string>p_e</string>
    <string>I_e</string>
    <string>t_t</string>
    <string>A_O</string>
    <string>A_E</string>
    <string>A_U_L_A</string>
    <string>C_H</string>
    <string>C_Q</string>
    <string>D_E</string>
    <string>D_U_D_E_L_A</string>
    <string>E_A</string>
    <string>Eacute_E</string>
    <string>E_T</string>
    <string>E_S</string>
    <string>E_S_S_E</string>
    <string>E_S_S_E_S</string>
    <string>E_U</string>
    <string>F_E</string>
    <string>F_F_E</string>
    <string>F_V</string>
    <string>H_O_F</string>
    <string>G_U</string>
    <string>L_E</string>
    <string>L_L</string>
    <string>L_U</string>
    <string>M_P</string>
    <string>N_E</string>
    <string>N_N</string>
    <string>N_X</string>
    <string>O_F</string>
    <string>O_Idieresis</string>
    <string>O_T</string>
    <string>P_M</string>
    <string>P_E</string>
    <string>R_E</string>
    <string>R_I</string>
    <string>R_S</string>
    <string>S_C</string>
    <string>S_S</string>
    <string>S_E</string>
    <string>S_L</string>
    <string>S_T</string>
    <string>T_E</string>
    <string>T_T</string>
    <string>T_T_E</string>
    <string>U_E</string>
    <string>U_L</string>
    <string>X_C</string>
    <string>X_L</string>
    <string>X_L_L</string>
    <string>X_S</string>
    <string>X_S_S</string>
  </array>
</dict>
</plist>
