<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>AE</key>
    <string>A_E_.glif</string>
    <key>A_E</key>
    <string>A__E_.glif</string>
    <key>A_L</key>
    <string>A__L_.glif</string>
    <key>C_H.ss01</key>
    <string>C__H_.ss01.glif</string>
    <key>C_Q.ss01</key>
    <string>C__Q_.ss01.glif</string>
    <key>D_E</key>
    <string>D__E_.glif</string>
    <key>E_O</key>
    <string>E__O_.glif</string>
    <key>E_T.ss01</key>
    <string>E__T_.ss01.glif</string>
    <key>Eacute_E</key>
    <string>E_acute_E_.glif</string>
    <key>Ecircumflex_T_E</key>
    <string>E_circumflex_T__E_.glif</string>
    <key>Ecircumflex_T_E.ss01</key>
    <string>E_circumflex_T__E_.ss01.glif</string>
    <key>F_E.ss01</key>
    <string>F__E_.ss01.glif</string>
    <key>F_V</key>
    <string>F__V_.glif</string>
    <key>F_V.ss001</key>
    <string>F__V_.ss001.glif</string>
    <key>Fhook.sc</key>
    <string>F_hook.sc.glif</string>
    <key>H</key>
    <string>H_.glif</string>
    <key>H_O_F</key>
    <string>H__O__F_.glif</string>
    <key>I</key>
    <string>I_.glif</string>
    <key>I_L</key>
    <string>I__L_.glif</string>
    <key>L_E.ss01</key>
    <string>L__E_.ss01.glif</string>
    <key>N_A</key>
    <string>N__A_.glif</string>
    <key>N_E.ss01</key>
    <string>N__E_.ss01.glif</string>
    <key>N_E_S.ss01</key>
    <string>N__E__S_.ss01.glif</string>
    <key>OE</key>
    <string>O_E_.glif</string>
    <key>O_F</key>
    <string>O__F_.glif</string>
    <key>R</key>
    <string>R_.glif</string>
    <key>T_E_S</key>
    <string>T__E__S_.glif</string>
    <key>U_L</key>
    <string>U__L_.glif</string>
    <key>W</key>
    <string>W_.glif</string>
    <key>X_C_E</key>
    <string>X__C__E_.glif</string>
    <key>a_e</key>
    <string>a_e.glif</string>
    <key>a_l</key>
    <string>a_l.glif</string>
    <key>a_o</key>
    <string>a_o.glif</string>
    <key>ae</key>
    <string>ae.glif</string>
    <key>b</key>
    <string>b.glif</string>
    <key>c</key>
    <string>c.glif</string>
    <key>commaaccentcomb</key>
    <string>commaaccentcomb.glif</string>
    <key>commaturnedabovecomb</key>
    <string>commaturnedabovecomb.glif</string>
    <key>d_e</key>
    <string>d_e.glif</string>
    <key>divide</key>
    <string>divide.glif</string>
    <key>e_o</key>
    <string>e_o.glif</string>
    <key>e_s</key>
    <string>e_s.glif</string>
    <key>e_s.ss01</key>
    <string>e_s.ss01.glif</string>
    <key>e_s.ss02</key>
    <string>e_s.ss02.glif</string>
    <key>eacute_e</key>
    <string>eacute_e.glif</string>
    <key>eng</key>
    <string>eng.glif</string>
    <key>eth</key>
    <string>eth.glif</string>
    <key>f_e</key>
    <string>f_e.glif</string>
    <key>f_f_e.ss01</key>
    <string>f_f_e.ss01.glif</string>
    <key>fi</key>
    <string>fi.glif</string>
    <key>five</key>
    <string>five.glif</string>
    <key>five.lf</key>
    <string>five.lf.glif</string>
    <key>five.tf</key>
    <string>five.tf.glif</string>
    <key>g</key>
    <string>g.glif</string>
    <key>g.sc</key>
    <string>g.sc.glif</string>
    <key>h.sc</key>
    <string>h.sc.glif</string>
    <key>h_o_f</key>
    <string>h_o_f.glif</string>
    <key>i.sc</key>
    <string>i.sc.glif</string>
    <key>i_e</key>
    <string>i_e.glif</string>
    <key>i_l</key>
    <string>i_l.glif</string>
    <key>i_l.ss01</key>
    <string>i_l.ss01.glif</string>
    <key>idotless</key>
    <string>idotless.glif</string>
    <key>l.sc</key>
    <string>l.sc.glif</string>
    <key>l_e</key>
    <string>l_e.glif</string>
    <key>l_l.ss01</key>
    <string>l_l.ss01.glif</string>
    <key>l_l_e</key>
    <string>l_l_e.glif</string>
    <key>l_u</key>
    <string>l_u.glif</string>
    <key>m_p</key>
    <string>m_p.glif</string>
    <key>n</key>
    <string>n.glif</string>
    <key>n.sc</key>
    <string>n.sc.glif</string>
    <key>n_a</key>
    <string>n_a.glif</string>
    <key>n_e</key>
    <string>n_e.glif</string>
    <key>n_e.ss01</key>
    <string>n_e.ss01.glif</string>
    <key>n_e_s</key>
    <string>n_e_s.glif</string>
    <key>n_e_s.ss01</key>
    <string>n_e_s.ss01.glif</string>
    <key>n_n_e_s</key>
    <string>n_n_e_s.glif</string>
    <key>n_n_e_s.ss01</key>
    <string>n_n_e_s.ss01.glif</string>
    <key>n_x</key>
    <string>n_x.glif</string>
    <key>nine</key>
    <string>nine.glif</string>
    <key>o.sups</key>
    <string>o.sups.glif</string>
    <key>o_f</key>
    <string>o_f.glif</string>
    <key>o_n_a</key>
    <string>o_n_a.glif</string>
    <key>one</key>
    <string>one.glif</string>
    <key>one.lf</key>
    <string>one.lf.glif</string>
    <key>one.sc</key>
    <string>one.sc.glif</string>
    <key>one.sups</key>
    <string>one.sups.glif</string>
    <key>one.tf</key>
    <string>one.tf.glif</string>
    <key>p_e</key>
    <string>p_e.glif</string>
    <key>question.sc</key>
    <string>question.sc.glif</string>
    <key>quoteright</key>
    <string>quoteright.glif</string>
    <key>r_e.ss01</key>
    <string>r_e.ss01.glif</string>
    <key>r_e.ss02</key>
    <string>r_e.ss02.glif</string>
    <key>r_egrave</key>
    <string>r_egrave.glif</string>
    <key>r_s.ss01</key>
    <string>r_s.ss01.glif</string>
    <key>r_s_e.ss01</key>
    <string>r_s_e.ss01.glif</string>
    <key>r_x_s</key>
    <string>r_x_s.glif</string>
    <key>s</key>
    <string>s.glif</string>
    <key>s.sc</key>
    <string>s.sc.glif</string>
    <key>s.sups</key>
    <string>s.sups.glif</string>
    <key>s_e.ss01</key>
    <string>s_e.ss01.glif</string>
    <key>s_t</key>
    <string>s_t.glif</string>
    <key>s_t.ss01</key>
    <string>s_t.ss01.glif</string>
    <key>s_t_e</key>
    <string>s_t_e.glif</string>
    <key>s_t_e.ss01</key>
    <string>s_t_e.ss01.glif</string>
    <key>section</key>
    <string>section.glif</string>
    <key>t</key>
    <string>t.glif</string>
    <key>t.sc</key>
    <string>t.sc.glif</string>
    <key>t.sups</key>
    <string>t.sups.glif</string>
    <key>t_e</key>
    <string>t_e.glif</string>
    <key>t_e.ss01</key>
    <string>t_e.ss01.glif</string>
    <key>t_e_s</key>
    <string>t_e_s.glif</string>
    <key>t_e_s.ss01</key>
    <string>t_e_s.ss01.glif</string>
    <key>t_egrave</key>
    <string>t_egrave.glif</string>
    <key>t_t_e</key>
    <string>t_t_e.glif</string>
    <key>three</key>
    <string>three.glif</string>
    <key>tildecomb</key>
    <string>tildecomb.glif</string>
    <key>trademark</key>
    <string>trademark.glif</string>
    <key>two</key>
    <string>two.glif</string>
    <key>two.sc</key>
    <string>two.sc.glif</string>
    <key>u</key>
    <string>u.glif</string>
    <key>u_i_l</key>
    <string>u_i_l.glif</string>
    <key>u_l</key>
    <string>u_l.glif</string>
    <key>u_l_l</key>
    <string>u_l_l.glif</string>
    <key>u_l_l.ss01</key>
    <string>u_l_l.ss01.glif</string>
    <key>u_l_l_e.ss01</key>
    <string>u_l_l_e.ss01.glif</string>
    <key>u_n_e</key>
    <string>u_n_e.glif</string>
    <key>w</key>
    <string>w.glif</string>
    <key>x_l_l</key>
    <string>x_l_l.glif</string>
    <key>x_s.ss01</key>
    <string>x_s.ss01.glif</string>
    <key>x_s_e.ss01</key>
    <string>x_s_e.ss01.glif</string>
    <key>x_s_e.ss02</key>
    <string>x_s_e.ss02.glif</string>
    <key>x_s_e_s</key>
    <string>x_s_e_s.glif</string>
    <key>x_s_e_s.ss01</key>
    <string>x_s_e_s.ss01.glif</string>
    <key>x_s_e_s.ss02</key>
    <string>x_s_e_s.ss02.glif</string>
    <key>xnb</key>
    <string>xnb.glif</string>
    <key>y.sc</key>
    <string>y.sc.glif</string>
  </dict>
</plist>
